---
layout: default
page_url: blok_cilindrov_Cummins_6Isbe
title: Блок цилиндров КАМАЗ Cummins 6Isbe для двигателей 6Isbe210, 6Isbe285, 6Isbe300 на  - ЧелныАгрегатЦентр
metadesc: Продаем Блок цилиндров КАМАЗ Cummins 6Isbe  , каталожный номер 6Isbe для моторов 6Isbe210, 6Isbe285, 6Isbe300 - по низкой цене с доставкой, каталог, подбор, характеристики
metakeywords: Блок цилиндров КАМАЗ Cummins 6Isbe 6Isbe 6Isbe210, 6Isbe285, 6Isbe300    Цена Параметры Технические характеристики
h1: Блок цилиндров КАМАЗ Cummins 6Isbe 6Isbe
h2: 
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_zaps.html  %}         
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>

    <p>
        Редуктор КАМАЗ - одна из важнейших составляющих трансмиссии, передает крутящий момент от карданного вала на
        колесную пару. Передача подвергается большим нагрузкам в ходе движения автомобиля и часто подвержена поломкам.
    </p>

    <p></p>

    <strong>Возможные обозначения</strong>
    <p>

    </p>




    <p></p>
    <p></p>


    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>


</div>

