---
layout: default
page_url: blok_cilindrov_evro-4_common_rail
title: Блок цилиндров КамАЗ Евро-4 Common Rail для двигателей Евро-4 Common Rail 740.622, 740.632, 740.662, 740.70, 740.73, 740.74 на КамАЗ - ЧелныАгрегатЦентр
metadesc: Продаем Блок цилиндров КамАЗ Евро-4 Common Rail, каталожный номер 740.70-1002011 (10), 740.73-1002011(10) для моторов Евро-4 Common Rail- 740.622, 740.632, 740.662, 740.70, 740.73, 740.74 - по низкой цене с доставкой, каталог, подбор, характеристики
metakeywords: Блок цилиндров КамАЗ Евро-4 Common Rail 740.70-1002011 (10), 740.73-1002011(10) Евро-4 Common Rail- 740.622, 740.632, 740.662, 740.70, 740.73, 740.74 КамАЗ Применяется на технику после 2002 года выпуска (с исключениями).   Цена Параметры Технические характеристики
h1: Блок цилиндров КамАЗ Евро-4 Common Rail 740.70-1002011 (10), 740.73-1002011(10)
h2: 
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_zaps.html  %}         
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>

    <p>
        Блок цилиндров является самой крупной и одной из самых важных деталей любого двигателя, 
        так как он служит основой для остальных узлов, агрегатов и деталей силовой установки, 
        от его качества зависит надежность всего мотора.
    </p>
    <p>
        Блоки отливаются из серого чугуна марки СЧ 21-40 и подвергаются закалке. Колодцы цилиндров расположены по V-образной схеме.
        Гильзы также изготовливаются из чугуна, однако их внутренние поверхности полируются. 
        <br>
        В настоящее время блоки цилиндров для моторов КамАЗ изготавливаются только на заводе двигателей ПАО «КАМАЗ».
    </p>

    <strong>Характеристики</strong>
    <table class="table" style="width: unset;">
        <tr>
            <td>Вес блока цилиндров</td>
            <td>232 кг.</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td>0.64 м.</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td>0.45 м.</td>
        </tr>
        <tr>
            <td>Длина</td>
            <td>0.70 м.</td>
        </tr>
    </table>
    
    <strong>Возможные обозначения</strong>
    <p>
        740.21-1002012<br>
        740.21-1002011
    </p>

    <p></p>
    <p>
        Мы можем предложить блок цилиндров КАМАЗ евро бывший в эксплуатации.<br>
        Цена на деталь будет зависеть от состояния и года выпуска. <br>
        Перед продажей наши партнеры проводят тщательную дефектовку и проверку на возможность эксплуатации. 
        Проверяется блок на трещины, задиры, целостность шеек и прочие дефекты.
        Меняют втулки под распредвал и проводят все необходимые работы для подготовки к установке.
        <br>
        Гарантия на б/у блок цилиндров составит 3 месяца.
    </p>
    <p></p>
    <p></p>


    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>

    <p> <img src="/assets/img/dvigatels_zapchasti/kamaz_dvigatel_blok_01.jpg" alt="Запчасти КамАЗ Блок цилиндров"/> </p>
</div>

