---
layout: default
page_url: blok_cilindrov_740_evro-1_evro-2_yazda
title: Блок цилиндров КамАЗ ЯЗДА Евро-1, Евро-2 для двигателей c ТНВД ЯЗДА 740.11, 740.13, 740.30, 740.31, 740.50, 740.51, 740.55 на КамАЗ 43117, 65115, 6520, 43253 - ЧелныАгрегатЦентр
metadesc: Продаем Блок цилиндров КамАЗ ЯЗДА Евро-1, Евро-2, каталожный номер 740.21-1002012 для моторов c ТНВД ЯЗДА- 740.11, 740.13, 740.30, 740.31, 740.50, 740.51, 740.55 - по низкой цене с доставкой, каталог, подбор, характеристики
metakeywords: Блок цилиндров КамАЗ ЯЗДА Евро-1, Евро-2 740.21-1002012 c ТНВД ЯЗДА- 740.11, 740.13, 740.30, 740.31, 740.50, 740.51, 740.55 КамАЗ 43117, 65115, 6520, 43253 Блок цилиндров двигателя КамАЗ ЕВРО под Ярославльский ТНВД (ПАО Камаз) 740.21-1002012 это основная или корпусная часть любого мотора. Цена Параметры Технические характеристики
h1: Блок цилиндров КамАЗ ЯЗДА Евро-1, Евро-2 740.21-1002012
h2: 
---


<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_zaps.html  %}         
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>

    <p>
        Блок цилиндров является самой крупной и одной из самых важных деталей любого двигателя, 
        так как он служит основой для остальных узлов, агрегатов и деталей силовой установки, 
        от его качества зависит надежность всего мотора.
    </p>
    <p>
        Блоки отливаются из серого чугуна марки СЧ 21-40 и подвергаются закалке.
        Гильзы также изготовливаются из чугуна, однако их внутренние поверхности полируются. 
        <br>
        В настоящее время блоки цилиндров для моторов КамАЗ изготавливаются только на заводе двигателей ПАО «КАМАЗ».
    </p>

    <strong>Характеристики</strong>
    <table class="table" style="width: unset;">
        <tr>
            <td>Вес блока цилиндров</td>
            <td>232 кг.</td>
        </tr>
        <tr>
            <td>Ширина</td>
            <td>0.64 м.</td>
        </tr>
        <tr>
            <td>Высота</td>
            <td>0.45 м.</td>
        </tr>
        <tr>
            <td>Длина</td>
            <td>0.70 м.</td>
        </tr>
    </table>
    
    <strong>Возможные обозначения</strong>
    <p>
        740.21-1002012<br>
        740.21-1002011
    </p>

    <p></p>
    <p>
        Мы можем предложить блок цилиндров КАМАЗ евро бывший в эксплуатации.<br>
        Цена на деталь будет зависеть от состояния и года выпуска. <br>
        Перед продажей наши партнеры проводят тщательную дефектовку и проверку на возможность эксплуатации. 
        Проверяется блок на трещины, задиры, целостность шеек и прочие дефекты.
        Меняют втулки под распредвал и проводят все необходимые работы для подготовки к установке.
        <br>
        Гарантия на б/у блок цилиндров составит 3 месяца.
    </p>


    <p></p>
    <p></p>


    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>

    <p> <img src="/assets/img/dvigatels_zapchasti/kamaz_dvigatel_blok_01.jpg" alt="Запчасти КамАЗ Блок цилиндров"/> </p>
</div>

