---
layout: default
page_url: kolenval_dvigatelya_740_kamaz_4310_5320_5511_5410
title: Вал коленчатый КамАЗ 740 /7403 для двигателей 740.10, 7403, 7408 на КамАЗ 4310, 5320, 5511, 5410. Урал 4320, Лиаз. - ЧелныАгрегатЦентр
metadesc: Продаем Вал коленчатый КамАЗ 740 /7403  , каталожный номер 740.13-1005008-20 для моторов 740.10, 7403, 7408 - по низкой цене с доставкой, каталог, подбор, характеристики
metakeywords: Вал коленчатый КамАЗ 740 /7403 740.13-1005008-20 740.10, 7403, 7408 КамАЗ 4310, 5320, 5511, 5410. Урал 4320, Лиаз. Коленвал 740 применяется на технику до 1998 года выпуска. Был разработан на замену коленвала 740.1005008.  Цена Параметры Технические характеристики
h1: Вал коленчатый КамАЗ 740 /7403 740.13-1005008-20
h2: 
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_zaps.html  %}         
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>
    <p>
        Коленчатый вал воспринимает усилия от поршней, передаваемые шатунами и преобразует их в крутящий момент. Кроме того,
        коленчатый вал обеспечивает движение поршней во время вспомогательных тактов и пуска двигателя, а также приводит в
        действие вспомогательные механизмы, обеспечивающие работоспособность двигателя. <br>

        Коленчатый вал изготавливается из высококачественной стали, имеет пять коренных и четыре шатунные шейки, закаленные ТВЧ,
        связанных между собой щеками, которые сопрягаются переходными галтелями.
        <br>
        В коленчатом вале к шатунной шейке закрепляютя два шатуна, нужные для правого и левого ряда цилиндров. Шесть
        противовесов установлены для уравновешивания сил инерции и уменьшения вибраций.
    </p>


    <p></p>
    <p></p>


    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>

</div>