---
layout: default
page_url: kolenval_dvigatelya_evro-1_740-13-10_kamaz_43114_53229_54115
title: Вал коленчатый КамАЗ Евро-1 740.13-10 для двигателей 740.11-240 и 740.13-260 на КамАЗ 43114, 53229, 54115 и др - ЧелныАгрегатЦентр
metadesc: Продаем Вал коленчатый КамАЗ Евро-1 740.13-10  , каталожный номер 740.13-1005008-10 для моторов 740.11-240 и 740.13-260 - по низкой цене с доставкой, каталог, подбор, характеристики
metakeywords: Вал коленчатый КамАЗ Евро-1 740.13-10 740.13-1005008-10 740.11-240 и 740.13-260 КамАЗ 43114, 53229, 54115 и др Коленвал Евро-2 740.13-10 применяется на технику КамАЗ до 2007 года выпуска.  Цена Параметры Технические характеристики
h1: Вал коленчатый КамАЗ Евро-1 740.13-10 740.13-1005008-10
h2: 
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_zaps.html  %}         
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>
    <p>
            Коленчатый вал воспринимает усилия от поршней, передаваемые шатунами и преобразует их в крутящий момент. Кроме того,
            коленчатый вал обеспечивает движение поршней во время вспомогательных тактов и пуска двигателя, а также приводит в
            действие вспомогательные механизмы, обеспечивающие работоспособность двигателя. <br>
    
            Коленчатый вал изготавливается из высококачественной стали, имеет пять коренных и четыре шатунные шейки, закаленные ТВЧ,
            связанных между собой щеками, которые сопрягаются переходными галтелями.
            <br>
            В коленчатом вале к шатунной шейке закрепляютя два шатуна, нужные для правого и левого ряда цилиндров. Шесть
            противовесов установлены для уравновешивания сил инерции и уменьшения вибраций.
        </p>
    


    <p></p>
    <p></p>


    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>


</div>

