---
layout: default
page_url: kolenval_dvigatelya_evro-3_740-63_kamaz_6460
title: Вал коленчатый КамАЗ Евро-3 740.63 (60,61) для двигателей 740.63, 740.60, 740.61 на КамАЗ 6460 (c 2010) - ЧелныАгрегатЦентр
metadesc: Продаем Вал коленчатый КамАЗ Евро-3 740.63 (60,61)  , каталожный номер 740.63-1005008 для моторов 740.63, 740.60, 740.61 - по низкой цене с доставкой, каталог, подбор, характеристики
metakeywords: Вал коленчатый КамАЗ Евро-3 740.63 (60,61) 740.63-1005008 740.63, 740.60, 740.61 КамАЗ 6460 (c 2010) Коленвал Евро-3 740.63 применяется на технику КамАЗ c 2010 года выпуска c мощностью от 300 л.с.  Цена Параметры Технические характеристики
h1: Вал коленчатый КамАЗ Евро-3 740.63 (60,61) 740.63-1005008
h2: 
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_zaps.html  %}         
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>
    <p>
            Коленчатый вал воспринимает усилия от поршней, передаваемые шатунами и преобразует их в крутящий момент. Кроме того,
            коленчатый вал обеспечивает движение поршней во время вспомогательных тактов и пуска двигателя, а также приводит в
            действие вспомогательные механизмы, обеспечивающие работоспособность двигателя. <br>
    
            Коленчатый вал изготавливается из высококачественной стали, имеет пять коренных и четыре шатунные шейки, закаленные ТВЧ,
            связанных между собой щеками, которые сопрягаются переходными галтелями.
            <br>
            В коленчатом вале к шатунной шейке закрепляютя два шатуна, нужные для правого и левого ряда цилиндров. Шесть
            противовесов установлены для уравновешивания сил инерции и уменьшения вибраций.
        </p>
    


    <p></p>
    <p></p>


    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>


</div>

