---
layout: default
page_url: kolenval_dvigatelya_evro-2_740-50_-51_kamaz_6520_65111
title: Вал коленчатый КамАЗ Евро-2 740.50/51 для двигателей 740.50-360, 740.51-320 на КамАЗ 6520, 65111 (до 2009) - ЧелныАгрегатЦентр
metadesc: Продаем Вал коленчатый КамАЗ Евро-2 740.50/51  , каталожный номер 740.50-1005008 для моторов 740.50-360, 740.51-320 - по низкой цене с доставкой, каталог, подбор, характеристики
metakeywords: Вал коленчатый КамАЗ Евро-2 740.50/51 740.50-1005008 740.50-360, 740.51-320 КамАЗ 6520, 65111 (до 2009) Коленвал Евро-2 740.50/51 применяется на технику КамАЗ до 2009 года выпуска.  Цена Параметры Технические характеристики
h1: Вал коленчатый КамАЗ Евро-2 740.50/51 740.50-1005008
h2: 
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_zaps.html  %}         
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>
    <p>
            Коленчатый вал воспринимает усилия от поршней, передаваемые шатунами и преобразует их в крутящий момент. Кроме того,
            коленчатый вал обеспечивает движение поршней во время вспомогательных тактов и пуска двигателя, а также приводит в
            действие вспомогательные механизмы, обеспечивающие работоспособность двигателя. <br>
    
            Коленчатый вал изготавливается из высококачественной стали, имеет пять коренных и четыре шатунные шейки, закаленные ТВЧ,
            связанных между собой щеками, которые сопрягаются переходными галтелями.
            <br>
            В коленчатом вале к шатунной шейке закрепляютя два шатуна, нужные для правого и левого ряда цилиндров. Шесть
            противовесов установлены для уравновешивания сил инерции и уменьшения вибраций.
        </p>
    

    <p></p>
    <p></p>


    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>


</div>

