---
layout: default
page_url: nasos-vodyanoj-evro-740
title: Насос водяной для двигателя КамАЗ 740.10 и 7403.10 евро 740.13 740.50 740.60 и др. на КамАЗ 65117, 5320, 4310, 65115, 6520, 5511, 43114, 53215, 65225 - ЧелныАгрегатЦентр
metadesc: Продаем Насос водяной, ПАО КамАЗ  , каталожный номер 740.1307010-02 для моторов 740.10 и 7403.10 евро 740.13 740.50 740.60 и др. - по низкой цене с доставкой, каталог, подбор, характеристики
metakeywords: Насос водяной, ПАО КамАЗ 740.1307010-02 740.10 и 7403.10 евро 740.13 740.50 740.60 и др. КамАЗ 65117, 5320, 4310, 65115, 6520, 5511, 43114, 53215, 65225 Нажмите подброднее, чтобы узнать точные цены  Цена Параметры Технические характеристики
h1: Насос водяной, КамАЗ 740.1307010-02
h2: 
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_zaps.html  %}         
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>

    <p>
            Водяной насос предназначен для создания циркуляции охлаждающей жидкости в системе охлаждения дизельного двигателя.
            <br>
            Тип насоса - центробежный;<br>
Привод - ременной от шкива гидромуфты, 2а ремня (740.1307170-20, ремень «стат» 1-8,5х8х1320);<br>
Размещение помпы - левая передняя часть блока цилиндров.<br>
    </p>
    <p>
            Применяется для двигателя и системы охлаждения двигателя в моделях:

            Камаз-4310, 
            Камаз-4326, 
            Камаз-43261 (Евро-1, 2), 
            Камаз-5315, 
            Камаз-5320, 
            Камаз-53212, 
            ЛАЗ 4207, 
            ЛиАЗ 5256.
    </p>
    <p> Основой водяного насоса (помпы) является литой корпус. Внутри него на валу крутится крыльчатка, которая приводится в
        движение от двигателя с помощью ременной передачи. Вал вращается на двух подшипниках. Чтобы удержать подшипники от
        сдвига используются распорная втулка и стопорные кольца. Насос устанавливается в передней части двигателя. Для
        предотвращения течи охлаждающей жидкости, на валу установлен самоподжимной сальник водяного насоса.

        </p>

    <strong>Возможные обозначения</strong>
    <p>
            Артикул - 740.1307010, 740-1307010-02, 740.51-1307010-10, 740.50-1307010, 740.63-1307010


    </p>
<p>
        Ширина, м - 0.23
        Высота, м - 0.19
        Длина, м - 0.209
        Вес, кг - 8.517
</p>



    <p></p>
    <p></p>


    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>


</div>

