---
layout: default
page_url: nasos-maslyannyj-pao-kamaz-740-evro
title: Насос масляный КамАЗ для двигателей 740.10 и 7403.10 евро 740.13 740.50 740.60 и др. на КамАЗ 65117, 5320, 4310, 65115, 6520, 5511, 43114, 53215, 65225 - ЧелныАгрегатЦентр
metadesc: Продаем Насос масляный КамАЗ  , каталожный номер 740.1307010-02 740.13-1307010 740.50-1307010 для моторов 740.10 и 7403.10 евро 740.13 740.50 740.60 и др. - по низкой цене с доставкой, каталог, подбор, характеристики
metakeywords: Насос масляный КамАЗ 740.1307010-02 740.13-1307010 740.50-1307010 740.10 и 7403.10 евро 740.13 740.50 740.60 и др. КамАЗ 65117, 5320, 4310, 65115, 6520, 5511, 43114, 53215, 65225 Масляные насосы различаются для каждой модели мотора, нажмите «подробнее» чтобы увидеть точные цены.  Цена Параметры Технические характеристики
h1: Насос масляный КамАЗ 740.1307010-02 740.13-1307010 740.50-1307010
h2: 
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_zaps.html  %}         
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>

    <p>
        Насос отвечает за создание и поддержание в системе необходимого давления,
         в результате чего и обеспечивается смазка трущихся деталей. <br>
        Масляный насос закреплен на нижней плоскости блока цилиндров.
        <br>Ведущее зубчатое колесо напрессовано на передний носок коленчатого вала и имеет 64 зуба, ведомое 52.
    </p>

    <p>
          
    </p>

    <strong>Возможный состав:</strong>
    <p>
        - 740.11-1011005 - Насос масляный с маслозаборником в сборе <br>   
        - 740.1011091 - Прокладка фланца     <br>
        - 740.1011200-10 - Прокладка регулировочная<br>     
        - 1/60434/21 - Болт М8-6gх20     <br>
        - 1/60434/21 - Болт М8-6gх20     <br>
        - 1/60436/21 - Болт М8-6gх25     <br>
        - 853041 - Болт М10х1,25-6gх70     <br>
        - 853042 - Болт М10х1,25-6gх82     <br>
        - 1/11980/73 - Шайба пружинная коническая 8х15     <br>
        - 1/11980/73 - Шайба пружинная коническая 8х15     <br>
        - 1/11980/73 - Шайба пружинная коническая 8х15     <br>
        - 1/05168/73 - Шайба 10 пружинная <br>
    </p>




    <p></p>
    <p></p>


    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>


</div>

