---
layout: default
page_url: porshnevaya-gruppa-federal-mogul-gilza-porshen-evro-740
title: Комплект поршневой группы ЦПГ - ПАО КамАЗ (Федерал Могул) 
metadesc: Продаем Комплект поршневой группы ЦПГ - ПАО КАМАЗ (Федерал Могул)  , каталожный номер 740.1000128 740.30-1000128 740.60-1000128 для моторов 740, 740.10, 740.13, 740.30, 740.62 - по низкой цене с доставкой, каталог, подбор, характеристики
metakeywords: Комплект поршневой группы ЦПГ - ПАО КАМАЗ (Федерал Могул) 740.1000128 740.30-1000128 740.60-1000128 740, 740.10, 740.13, 740.30, 740.62  ЦПГ КамАЗ (Federal Mogul). В комплекте:Гильза, палец, поршень, кольца.   Цена Параметры Технические характеристики для двигателей 740, 740.10, 740.13, 740.30, 740.62 на  - ЧелныАгрегатЦентр
h1: Комплект поршневой группы ЦПГ - ПАО КАМАЗ (Федерал Могул) 740.1000128 740.30-1000128 740.60-1000128
h2: 
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_zaps.html  %}         
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>
    <p>
        Цилиндропоршневая группа - важнейшая часть двигателя внутреннего сгорания. От качества поршня, гильзы, пальца и
        поршневых колец зависит срок службы двигателя, его мощность, расход масла и топлива.
    </p>
    <p>
        Совместное предприятие ПАО «КАМАЗ» и «Federal Mogul Corporation» на сегодняшний день используют наиболее современные и
        инновационные подходы в разработке и производству комплектов Цилиндро-поршневой группы. Регулярно улучшаются и
        обновляются производственные мощности завода в Набережных Челнах, вносятся дополнительные технические решения,
        совершенствуется система контроля качества.
    </p>
    <p></p>

    <h3>Состав комплекта:</h3>
    <p>
        Гильза 740.13-1002021 - 1 шт.<br>
        Поршень 740.1004015 - 1 шт.<br>
        Комплект п/колец 740.1000106 - 1 шт. (черно-белые)<br>
        Поршневой палец 740.1004020 - 1 шт.<br>
        Кольцо уплотнительное 740.1002024 - 2 шт.<br>
        Кольцо уплотнительное 740.1002031 - 1 шт.<br>
        Кольцо стопорное J45х1,75 DIN 472 - 2шт.<br>
    </p>

    <strong>Ключевые преимущества оригинальной ЦПГ</strong>
    <p>
        - Все поршни КАМАЗ изготавливаются из одного сплава S2N, имеющего лучшие прочностные характеристики, чем у алюминиевых
        сплавов прочей продукции.
        <br>- Нанесение графитового покрытия на поверхность юбки поршня производится с помощью шаблона (отпадает необходимость
        защиты головки поршня и отверстия под поршневой палец от попадания графита).
        <br>- Введены радиусы скругления кромок выемки в поршне и цековок под клапаны для предотвращения трещинообразования
        характерного для альтернативных и контрафактных ЦПГ.
        <br>- В конструкции поршня разработан специальный зазор "палец-отверстие в поршне" в отличие от переходной посадки
        исключает нагрев поршня для монтажа поршневого пальца.
        <br>- Выемка на юбке под масляную форсунку, а также контур радиусом 130,5 мм под противовес коленвала изготавливаются
        литьем, а не мехобработкой.
        <br>- 100% контроль всех основных размеров поршня, в том числе и 100% контроль кромки выемки в поршне и схватываемости
        нирезистовой вставки ультразвуковым методом.
        <br>- Качество поршней отвечает требованиям мирового уровня.
    </p>

    <img src="/assets/img/dvigatels_zapchasti/porshnevaya-gruppa-federal-mogul-gilza-porshen-evro-740_1.gif" align="right" />
    <h3>Контроль качества</h3>
    <p>На производстве ЦПГ введены системы наиболее современного и технологичного контроля качества, которыми не могут
        «похвастаться» альтернативные и контрафактные производители. На предприятии введена целая система контроля качества,
        которая позволяет выявить наиболее мелкие недостатки. Ключевым из них является зона ультразвукового контроля
        позволяющего детально контролировать качество поршня, в том числе контроль камеры сгорания и схватываемости
        нирезистовой вставки.</p>

        <p>
            Детали цилиндропоршневой группы КАМАЗ для двигателей экологического класса ЕВРО-1 и 2 с ходом 120 мм входят в состав
            ремкомплектов 740.30-1000128-05 (с высоким поршнем 40-я группа, обозначение 7.12094А101-40, гильзой цилиндров К000918290
            или 740.30-1002021, поршневым пальцем 12094-50972 или 740.30-1004020, комплектом поршневых колец 740.60-1000106-02) и
            740.30-1000128-06 (с низким поршнем10-я группа, обозначение 7.12094А101-10).

        </p>
        <p>
            Детали цилиндропоршневой группы КАМАЗ для двигателей экологического класса ЕВРО-2 и 3 с ходом 130 мм, входят в состав
            ремкомплектов 740.60-1000128-04 (с высоким поршнем 40-я группа, обозначение 7.12094-101-40, гильзой цилиндров К000919000
            или 740.51-1002021, поршневым пальцем 12094-50971 или 740.70-1004020, комплектом поршневых колец 740.60-1000106-02) и
            740.60-1000128-05 (с низким поршнем 10-я группа, обозначение 7.12094-101-10).
        </p>
    <p></p>
    <p></p>


    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>


</div>

