---
layout: default
page_url: porshnevaya-gruppa-kostroma-motordetal-gilza-porshen-evro-740
title: Комплект поршневой группы ЦПГ - Мотордеталь Кострома 
metadesc: Продаем Комплект поршневой группы ЦПГ - Мотордеталь Кострома, каталожный номер 740.1000128 740.30-1000128 740.60-1000128 для моторов 740, 740.10, 740.13, 740.30, 740.62 - по низкой цене с доставкой, каталог, подбор, характеристики 
metakeywords: Комплект поршневой группы ЦПГ - Мотордеталь Кострома 740.1000128 740.30-1000128 740.60-1000128 740, 740.10, 740.13, 740.30, 740.62  ЦПГ производства «Мотордеталь» (Кострома). В комплекте- гильза, палец, поршень, кольца. Цена Параметры Технические характеристики для двигателей 740, 740.10, 740.13, 740.30, 740.62 на  - ЧелныАгрегатЦентр
h1: Комплект поршневой группы ЦПГ - Мотордеталь Кострома
h2: 
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_zaps.html  %}         
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Моторы старого образца модели 740.10-210 Евро-0</h3>
    <p>
            740.1000128-АК-44
    </p> -->

    <h3>Состав</h3>
    <table class="table" style="width:unset;">
            <tbody><tr>
                <th>№</th>
                <th>Название</th>
                <th>Количество (шт)</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Поршни 740.1004015-10К-44</td>
                <td>1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Упорные кольца 740.1004022</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Уплотнительные кольца 740.1002031</td>
                <td>1</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Гильзы цилиндров 740.30-1002021</td>
                <td>1</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Уплотнительные кольца 740.1002024</td>
                <td>2</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Поршневые пальцы 740.60-1004020</td>
                <td>1</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Комплекты поршневых колец 740.1000106-01К</td>
                <td>1</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Комплекты поршневых колец 740.1000106-01К</td>
                <td>,5</td>
            </tr>
            </tbody>
            </table>
    <p></p>

    <strong>Возможные обозначения</strong>
    <p>
            <table class="table" style="width:unset;">
                <thead>
                    <tr>
                        <th>ЦПГ для двигателя КамАЗ</th>
                        <th>обозначение </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Гильза КамАЗ "Мотордеталь"</td>
                        <td>740.30-1002021 (Т) </td>
                    </tr>
                    <tr>
                        <td>Гильза КамАЗ-740.60 (Евро-3) "Мотордеталь"</td>
                        <td>740.51-1002021 (Т)</td>
                    </tr>
                    <tr>
                        <td>Кольца порш КамАЗ порш/к/т 120,0 (мск 5мм) "Мотордеталь"</td>
                        <td>740.1000106 </td>
                    </tr>
                    <tr>
                        <td>Кольца порш КамАЗ ЕВРО-1 порш/к/т 120,0 "Мотордеталь"</td>
                        <td>7405.1000106-42 </td>
                    </tr>
                    <tr>
                        <td>Кольца порш КамАЗ ЕВРО-2 порш/к/т 120,0 "Мотордеталь"</td>
                        <td>740.30-1000106 </td>
                    </tr>
                    <tr>
                        <td>Порш/к/т КамАЗ Дальнобой с рассек.(с пальц.и порш.к-цами)"Мотордеталь"</td>
                        <td>740.1000128-АК </td>
                    </tr>
                    <tr>
                        <td>Порш/к/т КамАЗ ЕВРО-0 (турбо) "Мотордеталь"</td>
                        <td>7403.1000101 </td>
                    </tr>
                    <tr>
                        <td>Порш/к/т КамАЗ ЕВРО-1 "Мотордеталь"</td>
                        <td>7405.1000101 </td>
                    </tr>
                    <tr>
                        <td>Порш/к/т КамАЗ ЕВРО-2 "Мотордеталь"</td>
                        <td>740.30-1000101 </td>
                    </tr>
                    <tr>
                        <td>Порш/к/т КамАЗ ЕВРО-2 Дальнобой (с пальцем и порш.к-цами) "Мотордеталь"</td>
                        <td>740.30-1000128 </td>
                    </tr>
                    <tr>
                        <td>Порш/к/т КамАЗ ЕВРО-2 Дальнобой "Мотордеталь"</td>
                        <td>740.51-1000128 </td>
                    </tr>
                    <tr>
                        <td>Порш/к/т КамАЗ ЕВРО-3 "Мотордеталь"</td>
                        <td>740.60-1000101 </td>
                    </tr>
                    <tr>
                        <td>Порш/к/т КамАЗ ЕВРО-3 Дальнобой "Мотордеталь"</td>
                        <td>740.60-1000128 </td>
                    </tr>
                    <tr>
                        <td> ЦПГ для СМД</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>Кольца порш СМД-20,-22 к/т на 4 цил. 120,0 "Мотордеталь"</td>
                        <td>20-03с6-11 </td>
                    </tr>
                    <tr>
                        <td>Кольца порш СМД-20,-22 2 МСК к/т на 4 цил. 120,0 "Мотордеталь"</td>
                        <td>20-03с6-А5 </td>
                    </tr>
                    <tr>
                        <td>Палец поршн СМД-14НГ,-14НБ,-15Н,-17КН,-19,20,-17Н,-18Н,-18НП,-21,-22,-22А "Мотордеталь"</td>
                        <td>СМД9-0306-1А</td>
                    </tr>
                    <tr>
                        <td>Порш/к/т СМД-20, -19 Г+П+порш.к-ца "Мотордеталь"</td>
                        <td>20-03с5</td>
                    </tr>
                    <tr>
                        <td>Порш/к/т СМД-20,-19 АГРО НИВА, Сибиряк "Мотордеталь"</td>
                        <td>20-03с8 </td>
                    </tr>
                    <tr>
                        <td>Порш/к/т СМД-22,-21,-17,-18 НИВА, Сибиряк "Мотордеталь"</td>
                        <td>22-01с15 </td>
                    </tr>
                    <tr>
                        <td>Порш/к/т СМД-22,-21,-17,-18 НИВА, Сибиряк Г+П+порш.к-ца "Мотордеталь"</td>
                        <td>22-03с5</td>
                    </tr>
                    <tr>
                        <td>Порш/к/т СМД-60...-64,-66,-67,-72,-73 Т-150, КСК-100 "Мотордеталь"</td>
                        <td>60-01с15</td>
                    </tr>
                </tbody>
            </table>
    </p>




    <p></p>
    <p></p>


    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>


</div>

