---
layout: default
page_url: remkomplekt-prokladki-na-dvigatel
title: Ремкомплект прокладок на двигатель КамАЗ
metadesc: Продаем Насос масляный КамАЗ  , каталожный номер 740.1307010-02 740.13-1307010 740.50-1307010 для моторов 740.10 и 7403.10 евро 740.13 740.50 740.60 и др. - по низкой цене с доставкой, каталог, подбор, характеристики
metakeywords: Насос масляный КамАЗ 740.1307010-02 740.13-1307010 740.50-1307010 740.10 и 7403.10 евро 740.13 740.50 740.60 и др. КамАЗ 65117, 5320, 4310, 65115, 6520, 5511, 43114, 53215, 65225 Масляные насосы различаются для каждой модели мотора, нажмите «подробнее» чтобы увидеть точные цены.  Цена Параметры Технические характеристики
h1: Насос масляный КамАЗ 740.1307010-02 740.13-1307010 740.50-1307010
h2: 
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_zaps.html  %}         
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Примерный состав ремкомплекта:</h3>

    <img src="/assets/img/dvigatels_zapchasti/remkomplekt-prokladki-na-dvigatel_8.jpg" />
    <p>
    <table class="table" style="width:unset;">
        <tr>
            <th>Наименование</th>
            <th>кол-во</th>
        </tr>
        <tr>
            <th>Втулка головки блока 740-1003214-01</th>
            <th>24шт</th>
        </tr>
        <tr>
            <td>Кольцо маслосъемное 740-1003040</td>
            <td>8шт</td>
        </tr>
        <tr>
            <td>Кольцо системы охлаждения 740-1303018</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Кольцо системы охлаждения 740-1303099</td>
            <td>4шт</td>
        </tr>
        <tr>
            <td>Кольцо системы охлаждения 740-1303172</td>
            <td>2шт</td>
        </tr>
        <tr>
            <td>Кольцо уплотнительное на гильзу верхнее (тонк.) 740-1002031</td>
            <td>8шт</td>
        </tr>
        <tr>
            <td>Кольцо уплотнительное на гильзу нижнее (толст.) 740-1002024</td>
            <td>16шт</td>
        </tr>
        <tr>
            <td>Манжета гидромуфты (100х125х12) 740-1318166-01</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Манжета гидромуфты 740-1318186-01</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Манжета клапана (10х18х12) 740-1007268-01</td>
            <td>8шт</td>
        </tr>
        <tr>
            <td>Манжета коленвала (105х130х12) 740-1005160-01</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Пр. заднего подшип. привода топл. насоса 740-1029178</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка ГБЦ 740-1003213</td>
            <td>8шт</td>
        </tr>
        <tr>
            <td>Прокладка включателя гидромуфты 740-1318218-11</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка водяной коробки 740-1303188</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка впускного коллектора 740-1115026-01</td>
            <td>8шт</td>
        </tr>
        <tr>
            <td>Прокладка выпускного коллектора740-1008050</td>
            <td>8шт</td>
        </tr>
        <tr>
            <td>Прокладка датчика тахометра 740-3813856</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка заглушки водяной полости 740-1002406</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка картера компрессора 740-3509403-10</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка картера маховика 740-1002314-10</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка клапанной крышки ЕВРО 7406-1003270</td>
            <td>8шт</td>
        </tr>
        <tr>
            <td>Прокладка корпуса масляного фильтра 740-1012100-20</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка корпуса центробежного фильтра 740-1017024-10</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка масляного картера КамАЗ 740-1009040</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка масляного патрубка 740-1009145-10</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка насоса гидроусилителя руля 740-3407032</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка патрубка коробки термостатов 740-1303214</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка патрубка перепускной трубы (0,6)740-1303244</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка патрубка подводящей трубы 740-1303024</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка передней крышки блока 740-1002265-10</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка подводящего патрубка 5320-1303063</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка сапуна 740-1014128</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка системы выпуска газов 5320-1203020</td>
            <td>2шт</td>
        </tr>
        <tr>
            <td>Прокладка сливного патрубка 740-1318136</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка фланца отбора воды 740-1303270</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка фланца слива воды 740-1303198</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка фланца сливного патрубка 740-1318206</td>
            <td>1шт</td>
        </tr>
        <tr>
            <td>Прокладка шкива привода генератора 740-1318182-10</td>
            <td>1шт</td>
        </tr>
    </table>
    </p>

    <p></p>

    <strong>Возможные обозначения</strong>
    <p>
        740-1000110, 7403-1000110, 740.30-1002009-32 РК, 740-1002005-39 РК, 7406-1002009-36 РК, 7405-1002000 РК, 
    </p>




    <p></p>
    <p></p>


    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>


</div>

