---
layout: default
page_url: mezhosevoj_differencial_mod_5320-2506010
title: Межосевой дифференциал МОД КамАЗ 5320-2506010 с доставкой по низким ценам - ЧелныАгрегатЦентр
metadesc: Купить межосевой дифференциал МОД КамАЗ 5320-2506010, главная передача, с доставкой по всей России. Прайс-лист. Аналоги.
metakeywords: Продаем межосевой дифференциал МОД КамАЗ Цена Параметры Технические характеристики

h1: Межосевой дифференциал, МОД КамАЗ 5320-2506010
h2: МОД КамАЗ. Описание, цены и характеристики. 
---

<!-- {{ product.url }}  -->
<!-- h1: Редуктор заднего моста КамАЗ 4308-2402010(11). -->
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_reduktor.html  %} 
        
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
<h3>Описание и особенности:</h3>

<p>
        Межосевой дифференциал (МОД) КАМАЗ 5320-2506010 
        служит для распределения тягового момента между ведущими мостами и для обеспечения разных частот 
        вращения колес. 
</p>
        <strong>Применение:</strong><br>

        <p>Применяется для трансмиссии и моста среднего (промежуточного) в моделях:</p>
        <ul>
            <li>Камаз-43118<br></li>
            <li>Камаз-43261 (Евро-1, 2)&nbsp;</li>
            <li>Камаз-43501 (4х4)</li>
            <li>Камаз-43261 (Евро-1, 2)</li>
            <li>Камаз-43501 (4х4)</li>
            <li>Камаз-53228</li>
            <li>Камаз-65111&nbsp;</li>
            <li>Камаз-43501 (4х4)</li>
            <li>Камаз-53229 (Евро-2)</li>
            <li>Камаз-65115&nbsp;</li>
            <li>Камаз-65115 (Евро-3)</li>
            <li>Камаз-53229 (Евро-2)&nbsp;</li>
            <li>Камаз-65115 (Евро-3)</li>
            <li>Камаз-6540</li>
            <li>Камаз-65116</li>
            <li>Камаз-65115 (Евро-3)<br></li>
        </ul>
        <ul>
            <li>Ширина, м - 0.25</li>
            <li>Высота, м - 0.332</li>
            <li>Длина, м - 0.443</li>
            <li>Вес, кг - 33</li>
        </ul>

  <p></p>

<strong>Комплектации</strong>
<p>
    
        Артикул - 53205-2506010
</p>


    <strong>Задний мост КамАЗ </strong>
    <p>
        В стандартном исполнении задний мост КамАЗ представляет собой сварную стальную балку сложной формы, на концах которой
        размещены фланцы для монтажа суппортов тормозных механизмов, а в центральной части находится фланец для крепления
        картера редуктора.
    </p>
    <p>
        Помимо конструктивной части к заднему мосту относятся и элементы, отвечающие за передачу крутящего момента.
         В первую очередь, это редуктор заднего моста КамАЗ, который состоит из межколесного дифференциала и главной передачи, и полуоси. 
         Наличие дифференциала обеспечивает равномерность распределения крутящего
        момента, что делает более эффективной работу моста, и снижает уровень износа отдельных деталей колесной передачи.
    </p>
   

    <p></p>
    <p></p>

    
        {% include kupite_u_nas.html %}
        <div class="text-center w-100">
            <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
        </div>
    

</div>

