---
layout: default
page_url: kpp-kamaz-zf-9s1310
title: Коробка передач КПП ZF КамАЗ 9s1310 по низкой цене с доставкой | ЧелныАгрегатЦентр
metadesc: Купить КПП ZF КамАЗ 9s1310 для 65115, 65116, 65117, 53605, 5308? со склада в Москве и Наб.Челнах, 1324001098, 1324.001.098, с доставкой по всей России. Прайс-лист. Аналоги. Новые, капремонт и бу. Серия Ecomid. ЧелныАгрегатЦентр
metakeywords: Продаем Продажа КПП ZF 9S1310 9 S 1310 TO серия Ecomid ЦФ 9S ЗФ прайс Цена Параметры Технические характеристики

h1: Коробка передач ZF КамАЗ 9s1310.
h2: КПП ZF КамАЗ 9s1310. Описание, цены и характеристики.
---

<!-- Раздел карточки продукта --------------------------- -->

<div class="col-md-12">

  {% include card_template_kpp.html  %}
  <div class="alert alert-info text-center"> Принимаем в зачёт ваши коробки или выполняем ремонт с обменным фондом.
  </div>
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
  <h3>Описание и особенности:</h3>

  <p>
    Агрегат был разработан компанией ZF "Zahnrad Fabrik" (Германия).
    Сегодня КПП zf 9s1310 выпускается на совместном предприятии ООО «ZF КАМА» г. Набережные Челны.<br />
    Считается аналогом 154 модели.
  </p>

  <p>
    Одним из важнейших преимуществ является экономичность использования такого типа КПП:
    увеличивается число передач – растет эффективность, тяговая сила. Экономия топлива КПП ZF 9 составляет 16% в
    сравнении с
    6-ступенчатыми моделями.
    КПП ZF 9S1310 предназначена для автомобилей КамАЗ 65115, 65116, 65117, 53605, 5308.
  </p>
  <p>
    Коробка передач оборудована резервным насосом рулевого управления с приводом от ведущих колес, обеспечивающим
    работоспособность гидроусилителя рулевого управления в случае отказа основного насоса ГУРа.
  </p>
  <p>Коробка передач zf9 относится к синхронизированным трансмиссиям, что значительно упрощает процесс
    эксплуатации и позволяет переключать передачи без двойного нажатия на педаль сцепления и без
    использования педали акселератора.<br>
  </p>


  <p>КамАЗы с автоматическими и механическими коробками ZF должны проходить техническое обслуживание (ТО) в условиях
    автосервиса. ТО заключается в замене масла. Периодичность зависит от типа КПП и условий эксплуатации машины.
    Обычно замена ГСМ производится через 45-90 тыс км пробега,
    при особо сложных условиях эксплуатации — не реже 1 тыс рабочих часов.</p>

  <p>

    Коробка передач серии «ZF» отличается относительным весом – всего 160 килограмм.br>
  </p>

  <p></p>
  <p></p>

  <!-- <strong>Передаточные числа</strong>
<p>
    В совокупности данные узлы дают шестнадцать скоростей для движения вперед, и две для движения назад. <br/>
    Каждая из них имеет свое передаточное число:<br/>
    
</p> -->
  <p></p>

  <h3>Технические характеристики</h3>

  <table class="table">
    <tbody>
      <tr>
        <td>Модель</td>
        <td>9 S 1310 TO</td>
      </tr>
      <tr>
        <td>Крутящий момент на входе макс, Нм</td>
        <td>1300</td>
      </tr>
      <tr>
        <td colspan="2">Передаточные числа</td>
      </tr>
      <tr>
        <td>Передний ход</td>
        <td>9,48 - 0,75</td>
      </tr>
      <tr>
        <td>Задний ход</td>
        <td>8,97</td>
      </tr>
      <tr>
        <td>Тахометр электронный</td>
        <td>Z = 8</td>
      </tr>
      <tr>
        <td>Монтаж</td>
        <td>Горизонтально слева, отход рычага для левост. или правост. рулевого управления</td>
      </tr>
      <tr>
        <td colspan="2">Переключение передач</td>
      </tr>
      <tr>
        <td>Узел с 4 передачами</td>
        <td>Понижающая передача и задний ход с кулачк. муфтами</td>
      </tr>
      <tr>
        <td>Демультипликатор</td>
        <td>Все другие передачи синхронизированы</td>
      </tr>
      <tr>
        <td colspan="2">Привод переключения передач</td>
      </tr>
      <tr>
        <td>Узел с 4 передачами</td>
        <td>Механизм переключения передач с горизонтальным поворотным валом со схемой переключения переключения двойное
          H
          и каскадное H</td>
      </tr>
      <tr>
        <td>Демультипликатор</td>
        <td>Двойное H: переключение управляется пневматически и происходит автоматически Каскадное H: переключение
          преселектором на рычаге переключения передач</td>
      </tr>
      <tr>
        <td>Масса (без дополн. оборудования) прибл., кг</td>
        <td>190</td>
      </tr>
      <tr>
        <td colspan="2">Количество масла</td>
      </tr>
      <tr>
        <td>Для стандартного монтажа прибл., л</td>
        <td>Примерно 9,0 дм3</td>
      </tr>
      <tr>
        <td>Сорт масла</td>
        <td>Согласно действующей спецификации смазочных материалов ZF TE-ML 02</td>
      </tr>
    </tbody>
  </table>

  <p>

  </p>

  <p></p>



  <p>Агрегаты имеют сертификаты соответствия и все необходимые документы. Продажа КПП и
    коробок передач на КамАЗ – наше приоритетное направлений, поэтому мы закупаем агрегаты у производителя по оптовым
    ценам, потому можем позволить продавать по стоимости ниже средней на рынке.</p>
  <p></p>
  <p></p>

  {% include kupite_u_nas.html %}

  <div class="alert alert-info">Вы можете существенно съэкономить выбрав восстановленную коробку по капительное ремонта.<br>
    Капитальный ремонт происходит в соответствии с заводскими стандартами.
    <br>
    При замене деталей используются только новые, оригинальные комплектующие.<br>

    На последнем этапе узел проходит тщательную проверку и обкатку на стенде.</div>
  <p></p>

  <div class="text-center w-100">
      <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
  </div>


</div>