---
layout: default
page_url: kpp-kamaz-zf-16s151
title: Коробка передач КПП ZF КамАЗ 16s151 для 6520, 4308, 65115, 6460. Низкая цена. Доставка | ЧелныАгрегатЦентр
metadesc: Купить КПП ZF КамАЗ 16s151 для 6520, 4308, 65115, 6460, со склада в Москве и Наб.Челнах, с доставкой по всей России. Прайс-лист. Аналоги. Новые, капремонт и бу. ЧелныАгрегатЦентр
metakeywords: Продаем новые капремонт КПП ZF 16S151 TO серия Ecomid ЦФ 9S ЗФ сборка ремонт купить прайс Цена Параметры Технические характеристики

h1: Коробка передач ZF КамАЗ 16s151.
h2: КПП ZF КамАЗ 16s151. Описание, цены и характеристики. 
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_kpp.html  %} 
   <div class="alert alert-info text-center"> Принимаем в зачёт ваши коробки или выполняем ремонт с обменным фондом.
    </div>
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
<h3>Описание и особенности:</h3>

<p>
    Агрегат был разработан компанией ZF "Zahnrad Fabrik" (Германия). 
    Сегодня КПП zf 16s151 выпускается на совместном предприятии ЗФ-КАМА в Набережных Челнах.<br/>
    Шестнадцатиступенчатая коробка передач модели ZF 16S151 / 16S1820 TO устанавливается грузовики "тяжелого класса":
    самосвалы, магистральные тягачи и автопоезда. Обычно встречается на  шасси: 6350, 6450, 6520, 6522, 65225, 5460.
</p>
<p>
    КПП ZF 16S151 способна передавать крутящий момент до 1850 Нм.
</p>

<p>
    Коробка передач ZF КАМАЗ надежна в эксплуатации, и при хорошем обслуживани может прослужить достаточно долго. Относится к
    механическому типу, шестнадцатиступенчатая, в ней расположены двухступенчатый делитель и демультипликатор. Переключение
    передних передач происходит при помощи синхронизаторов, задней - зубчатой муфтой. Коробка передач ZF КАМАЗ с
    пневматическим управлением, при нажатии на рычаг автоматически изменяет передачу, используя клапан синхронизации.
</p>
    


<p></p>

<p>
  <b>Коробка передач состоит из следующих основных узлов:</b><br>
  основного четырехступенчатого редуктора, переднего двухступенчатого делителя передач и демультипликатора.<br> Все
  передачи переднего хода в основном редукторе включаются синхронизаторами, задняя передача — зубчатой муфтой.<br>
  Высшая передача — повышающая.<br> Демультипликатор планетарный, автоматически переключается с помощью пневматического
  клапана синхронизатором при перемещении рычага в нейтрали от положения 3–4 передач к 5–6 и наоборот.<br> Делитель
  передач — механический, состоит из двух пар цилиндрических шестерен и синхронизатора.<br> Управление делителем
  пневматическое.<br> Масса коробки передач составляет 290 кг.<br> </div>
</p>

<p></p>
<p></p>

<!-- <strong>Передаточные числа</strong>
<p>
    В совокупности данные узлы дают шестнадцать скоростей для движения вперед, и две для движения назад. <br/>
    Каждая из них имеет свое передаточное число:<br/>
    
</p> -->
<p></p>

<h3>Технические характеристики</h3>

  <table class="table">
    <tbody>
      <tr>
        <td>Тип коробки передач </td>
        <td>
          Механическая шестнадцатиступенчатая, состоящая из основного четырехступенчатого редуктора,
          переднего двухступенчатого делителя передач и демультипликатора
        </td>
      </tr>
      <tr>
        <td>
          Макс. входной крутящий момент, Н.м
        </td>
        <td>
          1600/1850
        </td>
      </tr>
      <tr>
        <td>
          Подшипники валов:
        </td>
        <td>
          Роликовые конические
        </td>
      </tr>
      <tr>
        <td>
          Подшипники шестерен
        </td>
        <td>
          Роликовые игольчатые с сепараторами без колец
        </td>
      </tr>
      <tr>
        <td>
          Синхронизаторы
        </td>
        <td>
          Инерционного типа, муфтовые со стальными фрикционными кольцами, покрытыми молибденом
        </td>
      </tr>
      <tr>
        <td>
          Шестерни
        </td>
        <td>
          С косыми зубьями, постоянного зацепления
        </td>
      </tr>
      <tr>
        <td>
          Привод тахографа
        </td>
        <td>
          Бесконтактный, индуктор 6 выступов
        </td>
      </tr>
      <tr>
        <td>
          Система смазывания
        </td>
        <td>
          Все детали смазываются разбрызгиванием, подшипники шестерен коробки передач, делителя и
          демультипликатора имеют, кроме того, дополнительную подпитку от масляного насоса
        </td>
      </tr>
      <tr>
        <td>Отбор мощности
        </td>
        <td>
          Сзади от торца промежуточного вала основного редуктора
        </td>
      </tr>
      <tr>
        <td>
          Управление коробкой передач
        </td>
        <td>
          Механическое, с дистанционным приводом для основного редуктора (возможен вариант с сервоусилителем),
          пневматическое преселекторное для делителя, пневматическое для демультипликатора
        </td>
      </tr>
      <tr>
        <td>
          Усилие на рычаге переключения, Н (кгс), не более
        </td>
        <td>
        150(15)
        </td>
      </tr>
    </tbody>
  </table>

<p>
    КПП КАМАЗ ZF 16S 1820 (3-е поколение) является модификацией модели 151 (2-е поколение).<br/> 
    Различия между узлами минимальны:<br/> 
    - незначительно увеличен номинальный крутящий момент;<br/> 
    - доработаны блокирующие кольца синхронизатора и система HGS;<br/> 
    - улучшена активная блокировка одновременного включения более двух передач;<br/> 
    - воздушная система усиления в момент переключения скоростей запускается автоматически при выжимании педали сцепления.<br/> 
    Несмотря на ряд отличий, агрегаты полностью взаимозаменяемы.
</p>

    <p></p>
    <p></p>

    
    <p>Агрегаты имеют сертификаты соответствия и все необходимые документы. Продажа КПП и
        коробок передач на КамАЗ – наше приоритетное направлений, поэтому мы закупаем агрегаты у производителя по оптовым
        ценам, потому можем позволить продавать по стоимости ниже средней на рынке.</p>
        <p></p>
        <p></p>

        {% include kupite_u_nas.html %}
        <div class="text-center w-100">
            <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
        </div>
    

</div>

