---
layout: default
page_url: kpp_152_kamaz
title: Коробка передач КамАЗ КПП-152. Низкая Цена. Описание. Доставка. На КамАЗ. 4326, 43114, 53205, 43118, 55111, 53215, 43253, 65115.
metadesc: Купить КПП-152 КамАЗ. Цена на коробку передач для грузовиков КАМАЗ 4326, 43114, 53205, 43118, 55111, 53215,43253, 65115, со склада в Москве и Наб.Челнах, с доставкой по всей России. Прайс-лист. Аналоги. ЧелныАгрегатЦентр.
metakeywords: Продаем КПП-152 КамАЗ Коробка переключения передач КамАЗ Цена Параметры Технические характеристики

h1: Коробка передач КамАЗ КПП-152.
h2: КПП-152 КамАЗ. Описание, цены и характеристики.
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
  {% include card_template_kpp.html  %}

</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
  <h3>Описание и особенности:</h3>

  <p>КПП 152 КамАЗ заслуженно считается самой распространенной трансмиссией. Данный узел
    встречается на множестве моделей, включая современные ЕВРО -1, 2: 4326, 43114, 53205, 43118, 55111, 53215, 43253,
    65115
    и другие. </p>


  <p></p>

  <strong>Передаточные числа</strong>
  <table class="table-card-sm text-left" style="width:unset;">
    <tbody>
      <tr>
        <td rowspan="2">первая передача</td>
        <td>низшая</td>
        <td>7,82</td>
      </tr>
      <tr>
        <td>высшая</td>
        <td>6,38*</td>
      </tr>
      <tr>
        <td rowspan="2">вторая передача</td>
        <td>низшая</td>
        <td>4,03</td>
      </tr>
      <tr>
        <td>высшая</td>
        <td>3,29*</td>
      </tr>
      <tr>
        <td rowspan="2">третья передача</td>
        <td>низшая</td>
        <td>2,50</td>
      </tr>
      <tr>
        <td>высшая</td>
        <td>2.04*</td>
      </tr>
      <tr>
        <td rowspan="2">четвертая передача</td>
        <td>низшая</td>
        <td>1,53</td>
      </tr>
      <tr>
        <td>высшая</td>
        <td>1,25*</td>
      </tr>
      <tr>
        <td rowspan="2">пятая передача</td>
        <td>низшая</td>
        <td>1,0</td>
      </tr>
      <tr>
        <td>высшая</td>
        <td>0,815</td>
      </tr>
      <tr>
        <td rowspan="2">задний ход</td>
        <td>низшая</td>
        <td>7,38</td>
      </tr>
      <tr>
        <td>высшая</td>
        <td>6,02*</td>
      </tr>
    </tbody>
  </table>
  <p></p>


  <h3>Характеристики КПП-152 КамАЗ</h3>
  <table class="table" style="width:unset;">
    <tbody>
      <tr>
        <td>Подшипники валов</td>
        <td align="left">В опорах первичного вала делителя применяются шариковые подшипники, у промежуточного вала
          делителя передняя опора&nbsp;— шариковый подшипник, а задняя опора&nbsp;— роликовый без внутреннего кольца. В
          опорах первичного вала КП применяются спереди роликовый подшипник без колец, сзади&nbsp;— шариковый подшипник.
          Для вторичного вала КП применяются передний роликовый и задний шариковый подшипники. Промежуточный вал КП
          опирается спереди на роликовый подшипник, сзади&nbsp;— на роликовый двухрядный сферический подшипник.</td>
      </tr>
      <tr>
        <td>Подшипники шестерен</td>
        <td align="left">Роликовые двухрядные с сепараторами без колец, подшипник шестерни четвертой передачи без
          сепаратора.</td>
      </tr>
      <tr>
        <td>Синхронизаторы</td>
        <td align="left">Инерционного типа, пальчиковые с латунными конусными кольцами.</td>
      </tr>
      <tr>
        <td>Шестерни</td>
        <td align="left">С косыми зубьями, кроме первой передачи и передачи заднего хода, постоянного зацепления.</td>
      </tr>
      <tr>
        <td>Система смазывания</td>
        <td align="left">Комбинированная. Все детали смазывается разбрызгиванием, подшипники шестерен коробки передач и
          делителя имеют, кроме того, дополнительную подпитку от маслонагнетающего устройства.</td>
      </tr>
      <tr>
        <td>Отбор мощности</td>
        <td align="left">От основной коробки передач с двух сторон через люки по ГОСТ&nbsp;12323-66; с правой
          стороны&nbsp;— от зубчатого венца блока шестерен заднего хода; с левой&nbsp;— от зубчатого венца шестерени
          заднего хода промежуточного вала; возможна установка КОМ вместо верхней крышки КП.</td>
      </tr>
      <tr>
        <td>Управление коробкой передач</td>
        <td align="left">Механическое, с дистанционным приводом для основной коробки и пневматическое преселекторное для
          делителя.</td>
      </tr>
      <tr>
        <td>Спидометр</td>
        <td align="left">Привод спидометра двухступенчатый, состоит из постоянной червячной пары и сменной пары
          цилиндрических прямозубых шестерен.</td>
      </tr>
    </tbody>
  </table>



  <p></p>

  <p>Агрегаты имеют сертификаты соответствия и все необходимые документы. Продажа КПП и
    коробок передач на КамАЗ – наше приоритетное направлений, поэтому мы закупаем агрегаты у производителя по оптовым
    ценам, потому можем позволить продавать по стоимости ниже средней на рынке.</p>
  <p></p>
  <p></p>


  {% include kupite_u_nas.html %}
  <div class="text-center w-100">
      <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
  </div>
  <p> <img src="/assets/img/kpp/kamaz_kpp_01.jpg" alt="КПП КамАЗ"/> </p>

</div>