---
layout: default
page_url: kpp_142_kamaz
title: Коробка передач КПП-142 на КамАЗ  43114, 43118, 43253 без делителя. Цена. Доставка.
metadesc: Купить коробку передач КПП-142 КамАЗ, без делителя, со склада в Москве и Наб.Челнах, с доставокй по всей России. Прайс-лист Аналоги Характеристики.
metakeywords: Продаем КПП-142 Коробка переключения передач КамАЗ Цена Параметры Технические характеристики

h1: Коробка передач КамАЗ КПП-142.
h2: КПП-142 КамАЗ. Описание, цены и характеристики. 
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_kpp.html  %} 
        
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
<h3>Описание и особенности:</h3>

<p>КПП-142 это модернизированная КП модели КАМАЗ 14.<br>
При модернизации усилены зубчатые муфты синхронизатора 4–5 передачи, первичного вала КП и шестерни, изменены замки от
самовыключения синхронизатора 4–5 передачи, исключено замковое устройство в шлицевом соединении каретка синхронизатора 4–5&nbsp;передачи и вторичный вал, что позволило на 15–20%
повысить долговечность коробки передач.<br>
 Такой запас прочности сделал ее лидером рынка для грузовиков старых годов выпуска,</p>

<p>КПП 142 КАМАЗ применяется для  моделей 43114, 43118 и 43253, и для автомобилей Урал</p>
<p>Пять ступеней переднего хода и одна заднего. Благодаря усиленной конструкции, эти узлы широко
    применяются для КамАЗов-вездеходов, даже с колёсной формулой 6Х6.
</p>
<p>Устройство КПП 142 КамАЗ типично. Литой картер из чугуна. В проточках картера находятся подшипники, 
    в которых вращаются три вала: ведущий, ведомый и промежуточный. 
</p>
<p> Ведущая шестерня смонтирована вместе с валом. Вращаясь, она поворачивает промежуточный вал со всеми
    установленными на нём шестернями – каждая из них соответствует своей передаче. Шестерни ведомого вала не сцеплены с
    ним постоянно. При включении водителем необходимой скорости, муфта переключения соединяется с боковыми зубцами одной
    из ведомых шестерён. От неё крутящий момент передаётся через муфту переключения на вал, а от него – на узлы
    трансмиссии и колёса.</p>
<p>В правой части корпуса расположена горловина для заливания трансмиссионного масла. К пробке горловины присоединен
    индикатор уровня. Внизу находятся два отверстия для слива отработанных продуктов смазки.<br />
    Устройство переключения скоростей размещается на крышке, закрывающей картер сверху. </p>
    
    <p>
        Модификации:<br/>
        142.1700025 <br/>
        142.1700030-60<br/>
        142.1700108<br />
        142.1700201<br />
        142.1700026<br />
        142.1700026-10</p>
    
    <h3>Характеристики КПП КАМАЗ 142</h3>
    <p>Ранние модели грузовиков Камского Автомобильного Завода оснащались КПП КамАЗ 142 без делителя. 
        Это модификация 14-й модели и отличается от неё техническими характеристиками.</p>
    <p>Передаточные числа КПП КамАЗ без делителя данной модели следующие:<br />
    1-я скорость – 7,82;<br />
    2-я – 4,03:<br />
    3-я – 2,50;<br />
    4-я – 1,53;<br />
    5-я – 1,0;<br />
    Задняя скорость – 7,38.</p>
    
    
    <h3>Характеристики КПП-142</h3>
      
    <table class="table">
        <tbody><tr>
        <th class="left-title">Подшипники валов</th>
        <td>В опорах первичного вала применяются шариковые подшипники, для 
        вторичного вала передний роликовый, задний шариковый. Промежуточный вал 
        опирается спереди на роликовый, сзади на двухрядный роликовый 
        сферический подшипники.</td>
        </tr>
        <tr>
        <th class="left-title">Подшипники шестерен</th>
        <td>Роликовые двухрядные с сепараторами без колец, подшипник шестерни четвертой передачи, без сепаратора.</td>
        </tr>
        <tr>
        <th class="left-title">Синхронизаторы</th>
        <td>Инерционного типа, пальчиковые с латунными конусными кольцами.</td>
        </tr>
        <tr>
        <th class="left-title">Шестерни</th>
        <td>С косыми зубьями, кроме первой передачи и передачи заднего хода, постоянного зацепления.</td>
        </tr>
        <tr>
        <th class="left-title">Система смазывания</th>
        <td>Комбинированная. Все детали смазываются разбрызгиванием, подшипники 
        шестерен коробки передач имеют, кроме того, дополнительную подпитку от 
        маслонагнетающего устройства.</td>
        </tr>
        <tr>
        <th class="left-title">Отбор мощности</th>
        <td>От основной коробки передач с двух сторон через люки по 
        ГОСТ&nbsp;12323-66; с правой стороны&nbsp;— от зубчатого венца блока 
        шестерен заднего хода; с левой&nbsp;— от зубчатого венца шестерени 
        заднего хода промежуточного вала; возможна установка КОМ вместо верхней 
        крышки КП.</td>
        </tr>
        <tr>
        <th class="left-title">Управление коробкой передач</th>
        <td>Механическое, с дистанционным приводом.</td>
        </tr>
        <tr>
        <th class="left-title">Спидометр</th>
        <td>Привод спидометра двухступенчатый, состоит из постоянной червячной пары и сменной пары цилиндрических прямозубых шестерен.</td>
        </tr>
        </tbody></table>
        <p></p>
        <p></p>

    
    <p>Агрегаты имеют сертификаты соответствия и все необходимые документы. Продажа КПП и
        коробок передач на КамАЗ – наше приоритетное направлений, поэтому мы закупаем агрегаты у производителя по оптовым
        ценам, потому можем позволить продавать по стоимости ниже средней на рынке.</p>
        <p></p>
        <p></p>

        {% include kupite_u_nas.html %}
        <div class="text-center w-100">
            <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
        </div>
    
        <p> <img src="/assets/img/kpp/kamaz_kpp_01.jpg" alt="КПП КамАЗ"/> </p>
</div>

