---
layout: default
page_url: kpp_14_kamaz
title: Коробка передач КПП-14 для автомобилей КАМАЗ 4310, 55111 без делителя. Прайс-лист. Доставка.
metadesc: Купить коробку передач КПП-14 КамАЗ, КамАЗ по всей России. ЧелныАгрегатЦентр
metakeywords: Продаем КПП-14 для УрАЛ Коробка переключения передач КамАЗ Цена Параметры Технические характеристики
h1: Коробка передач КамАЗ КПП-14. 
h2: КПП-14 КамАЗ. Описание, Цены и характеристики. 
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_kpp.html  %} 
        
</div>


<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
<h4>Описание и особенности:</h4>
<p>Коробка передач КАМАЗ КПП 14 не имеет повышенных и пониженных ступеней, поскольку в её комплектации ещё не применялся
    делитель.<br><br>Комплектовалась на старых моделях грузовиков Камского Автомобильного Завода. Оснащена пятью
    ступенями переднего и одной ступенью заднего хода. </p>


<strong>Передаточные числа КПП-14</strong>
— первая – 7,82;<br>
— вторая – 4,03;<br>
— третья – 2,50;<br>
— четвертая – 1,53;<br>
— пятая – 1.0;Прямая<br>
— задний ход – 7,38.</p>



<p>На автомобили КамАЗ устанавливаются две модели коробок передач: пятиступенчатая коробка передач модели 14 и 
    десятиступенчатая коробка передач модели 15, состоящая из основной пятиступенчатой коробки передач и переднего
    двухступенчатого редуктора-делителя. Делитель имеет высшую и низшую (прямую) передачи и в сочетании с основной
    пятиступенчатой коробкой позволяет получать десять передач переднего хода и две заднего хода.</p>

    <h4>Коробка передач модели 14<h4>
<p>Коробка передач модели 14 состоит из следующих основных узлов: картера коробки передач, в котором&nbsp;смонтированы
    ведущий, ведомый и промежуточный валы в сборе с шестернями, синхронизаторами и подшипниками; блока шестерен заднего
    хода; верхней крышки коробки с механизмом переключения передач в сборе. К переднему торцу картера коробки передач
    прикреплен картер сцепления.</p>
<p>Подшипники валов закрыты крышками с уплотнительными прокладками. Крышка заднего подшипника ведущего вала внутренней
    расточкой центрируется по наружной обойме подшипника; спиральные лопатки на торце крышки препятствуют раскручиванию масла в
    полости нагнетания масло-нагнетающим кольцом, уменьшая тем самым центробежные силы, а значит способствуют повышению
    избыточного давления масла в полости нагнетания. В верхней части крышки имеется отверстие для подвода смазки из
    маслонакопителя коробки передач в полость нагнетания. Крышка заднего подшипника ведомого вала крепится к заднему
    торцу картера коробки передач и центрируется по наружной обойме заднего подшипника ведомого вала. В задней части
    крышки установлена манжета с пыльником, на рабочей кромке которой имеется левая насечка. В нижней части крышки в
    специальной расточке помещен валик, выполненный заодно с шестерней червячной пары привода спидометра. На выступающем
    конце валика, имеющем лыску, установлена ведущая шестерня цилиндрической пары сменных шестерен привода спидометра.
    Ведомая цилиндрическая шестерня установлена на валике привода спидометра, который вращается в расточке фланца
    датчика привода спидометра. 
</p>
<p>Масло в коробку передач заливается через горловину, расположенную на правой стенке картера. Горловина закрыта пробкой
    со встроенным масляным щупом. В нижней части картера в бобышки ввернуты сливные пробки, в пробку вмонтирован магнит,
    улавливающий металлические частицы, которые могут находиться в масле. С двух сторон картера имеются люки для
    установки коробок отбора мощности, которые закрыты крышками с уплотнительными прокладками. Люки выполнены по ГОСТ
    12323&mdash;66. Допустимый отбор мощности по 22064,97 Вт (30 л. с.) с каждого люка. Отбор мощности при движении
    автомобиля не допускается.</p>

   <h4> Механизм переключения передач</h4>
<p>Механизм переключения передач смонтирован в верхней крышке коробки передач и состоит из трех штоков, трех вилок переключения, двух головок штоков, трех фиксаторов, предохранителя включения первой передачи и заднего хода а также замка штоков. Замок штоков состоит из двух пар шариков и штифта. Шарики расположены между штоками&nbsp;во втулках, штифт находится в отверстии среднего штока между шариками. Диаметры шариков и расстояния между штоками выбраны таким образом, что при перемещении любого штока из среднего положения шарики выходят из лунок перемещаемого штока, и входят в лунки неподвижных штоков, блокируя их с корпусом. Сверху на крышку механизма переключения установлена опора рычага со штоком, перемещающимся в сферической опоре. С правой стороны опоры ввернут установочный винт, который фиксирует рычаг в нейтральном положении. В рабочем положении винт должен быть вывернут.</p>

<h3>Комплектность КПП-14</h3>
        пепление, Вилка выключения сцепления, Вал вилки сцепления, Рычаг вала вилки сцепления, >Вал ведущий,</li>
        <li>Вал промежуточный,</li>
        <li>Вал ведомый,</li>
        <li>Картер сцепления,</li>
        <li>Картер коробки передач,</li>
        <li>Опора штока,</li>
        <li>Опора рычага переключения передач,</li>
        <li>Сухарь опоры рычага,</li>
        <li>Шток рычага,</li>
        <li>Ось блока шестерен заднего хода,</li>
        <li>Блок шестерен заднего хода,</li>
        <li>Фланец крепления карданного вала.</li></ol>
        <p>Также входит:</p>
        
        <li>Ролико- и шарикоподшипники,</li>
        <li>Прокладки,</li>
        <li>Крышки,</li>
        <li>Кольца,</li>
        <li>Шайбы,</li>
        <li>Болты,</li>
        <li>Гайки,</li>
        <li>Пружины,</li>
        <li>Манжеты.</li>


<br>
<br>
<p>Агрегаты имеют сертификаты соответствия и все необходимые документы. Продажа КПП и
    коробок передач на КамАЗ – наше приоритетное направлений, поэтому мы закупаем агрегаты у производителя по оптовым 
    ценам, потому можем позволить продавать по стоимости ниже средней на рынке.</p>

    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>

</div>

