---
layout: default
page_url: kpp_152_yamz
title: Коробка передач КамАЗ КПП-152 на МАЗ с двигателем ЯМЗ 236 и 238. Цена. Описание. Доставка.
metadesc: Купить КПП-152 ЯМЗ. Модификация КПП КАМАЗ 152 для установки и стыковки с двигателем ЯМЗ.обычная или скоростная, со склада в Москве и Наб.Челнах, с доставкой по всей России. Прайс-лист. Аналоги.
metakeywords: Продаем КПП-152 КамАЗ Коробка переключения передач КамАЗ Цена Параметры Технические характеристики

h1: Коробка передач КамАЗ КПП-152 под ЯМЗ.
h2: КПП-152 под мотор ЯМЗ. Описание, цены и характеристики. 
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_kpp.html  %} 
        
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
<h3>Описание и особенности:</h3>

<p>КПП КАМАЗ 152 под ЯМЗ появились относительно недавно. 
  Раньше для установки данной трансмиссии на силовой агрегат от МАЗа необходимо было производить ряд сложных переделок.<br>
  Сейчас же можно устанавливать полностью подготовленную КПП КАМАЗ на ЯМЗ 238 или 236.</p>

<p>Тип коробки передач - механическая десятиступенчатая,
   состоящая из основной пятиступенчатой коробки передач и переднего двухступен­чатого
    редуктора - делителя передач, соединенных в одном агрегате.
    <br>Макс, входной крутящий момент 850 Нм.
  </p>


<p>Модернизированная десятиступенчатая коробка передач КАМАЗ <b>модели КПП-152</b>, состоит из основной
  пятиступенчатой коробки передач и переднего двухступенчатого редуктора-делителя.
  Делитель имеет высшую и низшую передачи и в сочетании с основной пятиступенчатой коробкой позволяет
  получать десять передач переднего хода и две заднего хода.</p>

<p> В этой коробке видоизменился картер. Для правильной стыковки с силовым агрегатом заменяется стандартный картер
  сцепления (колокол) на схожий, от МАЗ.</p>
<p>КПП КамАЗ 152 на ЯМЗ 236 выпускается в следующих модификациях:<br />
  - стандартная. Меняется картер сцепления;<br />
  - скоростная. В данной модификации помимо картера, заменяются заводские валы и шестерни. Вместо них
  устанавливаются доработанные комплектующие от 141 коробки передач. Изменяется передаточное число. Благодаря этому
  значительно возрастает максимальная скорость;<br />
  - усиленная. За основу этой модели, частично взяты комплектующие от 154 коробки передач. Благодаря этому
  значительно возрастает стойкость к износу при максимальных нагрузках.</p>
<p>Независимо от доработок каждая коробка передач оборудована делителем. Этот механизм схож по устройству с
  двухступенчатым редуктором. Его функция заключается в понижении передаточного числа каждой скорости. Благодаря этому
  мотору, и автомобилю в целом легче даются крутые подъемы.</p>
<p>В целом технические характеристики агрегата не отличаются от заводских, за исключением скоростной и усиленной
  моделей.</p>

<p><b>Делитель передач</b> - механический, редуктор состоит из одной пары цилиндрических шестерен,
  ведущего 2 и промежуточного 11 валов, синхронизатора 7 и  механизма переключения передач. Управление механизмом
  переключения передач пневматическое. </p>
<p>
  Осевой ход ведущего вала регулируется набором металлических прокладок 1 толщиной 0,2 и 0,3 мм, устанавливаемых между
  задней крышкой 5 и наружной обоймой шарикоподшипника. На переднем конце вала эвольвентные шлицы двумя проточками
  разделены на три венца. Зубья крайних венцов тоньше зубьев среднего венца для создания "замка", предотвращающего
  самовыключение передач в делителе. На шлицах подвижно посажен пальчиковый синхронизатор 7 инерционного
  типа.
</p>
<p></p>

<strong>Передаточные числа</strong>
<table class="table-card-sm text-left" style="width:unset;">
    <tbody><tr>
      <td rowspan="2">первая передача</td>
      <td>низшая</td>
      <td>7,82</td>
      </tr>
    <tr>
      <td>высшая</td>
      <td>6,38*</td>
      </tr>
    <tr>
      <td rowspan="2">вторая передача</td>
      <td>низшая</td>
      <td>4,03</td>
      </tr>
    <tr>
      <td>высшая</td>
      <td>3,29*</td>
      </tr>
    <tr>
      <td rowspan="2">третья передача</td>
      <td>низшая</td>
      <td>2,50</td>
      </tr>
    <tr>
      <td>высшая</td>
      <td>2.04*</td>
      </tr>
    <tr>
      <td rowspan="2">четвертая передача</td>
      <td>низшая</td>
      <td>1,53</td>
      </tr>
    <tr>
      <td>высшая</td>
      <td>1,25*</td>
      </tr>
    <tr>
      <td rowspan="2">пятая передача</td>
      <td>низшая</td>
      <td>1,0</td>
      </tr>
    <tr>
      <td>высшая</td>
      <td>0,815</td>
      </tr>
    <tr>
      <td rowspan="2">задний ход</td>
      <td>низшая</td>
      <td>7,38</td>
      </tr>
    <tr>
      <td>высшая</td>
      <td>6,02*</td>
      </tr>
    </tbody></table>
<p></p>


    <h3>Характиристика КПП-152 (КПП КАМАЗ на ЯМЗ, на МАЗ)</h3>
    <table class="table"  style="width:unset;">
        <tbody>
          <tr>
            <td>Подшипники валов</td>
            <td align="left">В опорах первичного вала делителя применяются шариковые подшипники, у промежуточного вала делителя
              передняя опора — шариковый подшипник, а задняя опора — роликовый без внутреннего кольца. В опорах первичного
              вала КП применяются спереди роликовый подшипник без колец, сзади — шариковый подшипник. Для вторичного вала КП
              применяются передний роликовый и задний шариковый подшипники. Промежуточный вал КП опирается спереди на роликовый
              подшипник, сзади — на роликовый двухрядный сферический подшипник.</td>
            </tr>
            <tr>
              <td>Подшипники шестерен</td>
              <td align="left">Роликовые двухрядные с сепараторами без колец, подшипник шестерни четвертой передачи без сепаратора.
              </td>
            </tr>
            <tr>
              <td>Синхронизаторы</td>
              <td align="left">Инерционного типа, пальчиковые с латунными конусными кольцами.</td>
            </tr>
            <tr>
              <td>Шестерни</td>
              <td align="left">С косыми зубьями, кроме первой передачи и передачи заднего хода, постоянного зацепления.</td>
            </tr>
            <tr>
              <td>Система смазывания</td>
              <td align="left">Комбинированная. Все детали смазывается разбрызгиванием, подшипники шестерен коробки передач и
                делителя имеют, кроме того, дополнительную подпитку от маслонагнетающего устройства.</td>
            </tr>
            <tr>
              <td>Отбор мощности</td>
              <td align="left">от основной коробки передач с двух сторон через люки по ГОСТ 12323-66; с правой стороны - от зубчатого
                венца блока шестерен заднего хода; с левой - от зубчатого венца шестерни заднего хода промежуточного вала</td>
            </tr>
            <tr>
              <td>Управление коробкой передач</td>
              <td align="left">Механическое, с дистанционным приводом для основной коробки и пневматическое преселекторное для
                делителя.</td>
            </tr>
            <tr>
              <td>Привод спидометра</td>
              <td align="left">Привод спидометра двухступенчатый, состоит из постоянной червячной пары и сменной пары цилиндрических
                прямозубых шестерен.</td>
            </tr>

        
          </tbody>
        </table>

   <p></p>

  <h3>Самостоятельные методы стыковки</h3>
  <p>До появления полноценной модификации, стыковка ЯМЗ 238 с КПП КамАЗ происходила значительно
    сложнее. Существовало 3 основных метода:<br />
    1. Картер сцепления срезается. После чего по оставшимся краям сверлились отверстия, и
    нарезалась резьба для крепления шпилек колокола МАЗ;<br />
    2. Стандартный первичный вал заменяется на удлиненный;<br />
    3. На моторе изменялся маховик под однодисковое сцепление. Под маховик
    устанавливалась обойма под подшипник коленчатого вала. После устанавливается проставка двигателя ЯМЗ для КПП
    КАМАЗ и закрепляется коробка.</p>
  <p>Практика показала, что перечисленные методы установки КПП КамАЗ на двигатель ЯМЗ - не отличались надежностью.
    Зачастую, неправильно подобранные размеры, или ненадежные крепления приводили к срыванию первичного вала, а также
    быстрому износу внутренних компонентов.</p>
  <p> Подготовленная КПП КамАЗ для двигателя ЯМЗ обладает большей надежностью и устойчивостью к перегрузкам.</p>

  <p></p>
  <p>
      Наша компания рекомендует приобретать подготовленные к установке коробки передач КПП-152 для ЯМЗ, 
      не требующие дополнительных переделок.
  </p>
    <p></p>

    
    <p>Агрегаты имеют сертификаты соответствия и все необходимые документы. Продажа КПП и
        коробок передач – наше приоритетное направлений, поэтому мы закупаем агрегаты у производителя по оптовым
        ценам, потому можем позволить продавать по стоимости ниже средней на рынке.</p>
        <p></p>
        <p></p>

   
        {% include kupite_u_nas.html %}
        <div class="text-center w-100">
            <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
        </div>
    

</div>

