---
layout: default
page_url: kpp_154_kamaz
title: КПП 154 КамАЗ - Купить коробку передач по низкой цене
metadesc: Коробка передач КамАЗ КПП-154 продажа со склада в Москве и Наб.Челнах, с доставкой по всей России. Для моделей 65115, 41114, 43118 Евро-2 под однодисковое сцепление. Прайс-лист. Аналоги. Новые и бу. ЧелныАгрегатЦентр
metakeywords: Кпп 154 делителем коробка переключения передач 154 сборка ремонт купить прайс Цена Параметры Технические характеристики

h1: Коробка передач КамАЗ КПП-154.
h2: КПП-154 КамАЗ. Описание, цены и характеристики. 
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_kpp.html  %} 
        
</div>

<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
<h3>Описание и особенности:</h3>

<p>
    КПП 154 КамАЗ производится на заводе ПАО КАМАЗ по аналогам германских разработок.
    Изделие имеет артикул 154.1700050 или 154.1700051.
    КПП КамАЗ 154 ставится на грузовики с двигателями стандарта Евро 2 и выше. Рассчитана эта КПП КамАЗ под однодисковое сцепление. С двухдисковым сцеплением она не
    совместима.
</p>
    <p><b>Коробка передач модели КАМАЗ 154</b> — механическая, десятиступенчатая, состоит из основного редуктора,
      и двухступенчатого делителя, расположенного впереди основной коробки.</p>
    <p>Применяются для автомобилей с двигателями, имеющими крутящий момент до 1100&nbsp;Н·м.</p>
    <p>
        Технические характеристики КПП КамАЗ 154 позволяют использовать её на большегрузных тягачах и самосвалах, 
        на полноприводных грузовиках-вездеходах с формулой ведущих колёс 6Х6. 
        В частности, устанавливается и обозначается КамАЗ 65115 КПП 154. 
    </p>
    <p>Основное отличие от КП КамАЗ модели 152& - конические подшипники в опорах первичного, промежуточного и вторичного
      валов КП.</p>

      <p>
          Состоит коробка передач КПП 154 КамАЗ из ведущего, ведомого и промежуточного вала, шестерней с косыми зубьями на них,
          устройства переключения передач и двухступенчатого делителя. Все движущиеся части размещены в чугунном картере,
          подшипники закреплены во внутренних его расточках.
      </p>
      <p>
        В устройство коробки передач КамАЗ 154 входят также инерционные синхронизаторы, выравнивающие скорости движения вала и
        шестерни и обеспечивающих бесшумную смену скоростей. Данная коробка содержит два синхронизатора, расположенных на
        ведомом валу между шестернями второй и третьей, а также четвёртой и пятой передач. Они аналогичны по принципу работы,
        но отличаются конструктивно.
      </p>
      <p>
        Картер сверху закрывается крышкой, на которой размещается механизм смены передач. Сквозь крышку проходят три штока, на
        концах которых имеются вилки. Также в крышку вмонтированы шариковые фиксаторы, не дающие передачам включаться
        самопроизвольно.
      </p>
      <p>
        Механизм делителя находится в передней части картера и состоит из двух шестерней, двух валов, синхронизатора и
        устройства переключения. Переключение осуществляется посредством пневматики и управляется краном, установленным на
        рычаге переключения передач. Зависимо от требуемого режима, кран ставится в положение В или Н.
      </p>

      <!-- <img src="/assets/img/kpp/kpp-154-kamaz.jpg" alt="КПП"/> -->

<p></p>

<h3>Заменяемость КПП 152-й и 154-й</h3>
<p>
    Несмотря на то, что конструкция коробок моделей 152 и 154 КПП КАМАЗ с делителем почти идентично, все-таки
    проводить замену 154-ю на 152-ю крайне нежелательно, так как 154 рассчитана на двигатель с большим крутящим моментом,
    поэтому такая замена может привести к поломке КПП.</p>
    <p> И наоборот, если на вашем грузовике стояла 152 коробка передач КАМАЗ,
    то на старый двигатель нет смысла ставить усиленную 154 модель. При этом характеристики машины не улучшатся, 
    а вы излишне потратитесь на дорогостоящее оборудование и ремонт.
</p>
<p>

</p>
<p></p>

<strong>Передаточные числа</strong>
<p>
    - 1-я пониженная: 7,82; повышенная: 6,38;<br>
    - 2-я пониженная: 4,03; повышенная: 3,29;<br>
    - 3-я пониженная: 2,50; повышенная: 2,04;<br>
    - 4-я пониженная: 1,53; повышенная: 1,25;<br>
    - 5-я пониженная: 1,00; повышенная: 0,815;<br>
    - Задний ход низкий: 7,38; высокий: 6,02.</p>
</p>
<p></p>


  <h3>Характеристики КПП-154 КамАЗ</h3>
  <table class="table">
    <tbody>
      <tr>
        <td>Подшипники валов</td>
        <td>Конические однорядные, кроме переднего подшипника первичного вала делителя, где применяются шариковый
          подшипник, роликового подшипника без колец в передней опоре первичного вала КП и роликового сферического в
          передней опоре промежуточного вала делителя.</td>
      </tr>
      <tr>
        <td>Подшипники шестерен</td>
        <td>Роликовые двухрядные с сепараторами без колец, подшипник шестерни четвертой передачи без сепаратора.</td>
      </tr>
      <tr>
        <td>Синхронизаторы</td>
        <td>Инерционного типа, пальчиковые, со стальными кольцами, конусные поверхности которых покрыты молибденом.</td>
      </tr>
      <tr>
        <td>Шестерни</td>
        <td>С косыми зубьями, кроме первой передачи и передачи заднего хода, постоянного зацепления.</td>
      </tr>
      <tr>
        <td>Система смазывания</td>
        <td>Комбинированная. Все детали смазывается разбрызгиванием, подшипники шестерен коробки передач и делителя имеют,
          кроме того, дополнительную подпитку от маслонагнетающего устройства.</td>
      </tr>
      <tr>
        <td>Отбор мощности</td>
        <td>От основной коробки передач с двух сторон через люки по ГОСТ12323; с правой стороны - от зубчатого венца блока
          шестерен заднего хода; с левой - от зубчатого венца шестерни заднего хода промежуточного вала. Возможна
          установка КОМ вместо верхней крышки КП.</td>
      </tr>
      <tr>
        <td>Управление коробкой передач</td>
        <td>Механическое, с дистанционным приводом для основной коробки и пневмомеханическое преселекторное для делителя.
        </td>
      </tr>
    </tbody>
  </table>
    <p></p>

    <p>
        КПП 154 КамАЗ отличается большой надежностью и неприхотлива в обслуживании. Доступ к элементам
        конструкции легкий, при ремонте не применяется специфический инструмент.
        Если обслуживать эту коробку должным образом, она прослужит Вам долго.
    </p>
    <p></p>

    
    <p>Агрегаты имеют сертификаты соответствия и все необходимые документы. Продажа КПП и
        коробок передач на КамАЗ – наше приоритетное направлений, поэтому мы закупаем агрегаты у производителя по оптовым
        ценам, потому можем позволить продавать по стоимости ниже средней на рынке.</p>
        <p></p>
        <p></p>

  
        {% include kupite_u_nas.html %}
        <div class="text-center w-100">
            <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
        </div>
    
        <p> <img src="/assets/img/kpp/kamaz_kpp_01.jpg" alt="КПП КамАЗ"/> </p>
</div>

