<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown22" role="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="true">
    Направления
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown22">
    <a class="dropdown-item" href="/dvigatel_kamaz.html">Двигатели на КамАЗ</a>
    <a class="dropdown-item" href="/reductor_kamaz.html">Редукторы</a>
    <a class="dropdown-item" href="/korobka_peredach_kpp_kamaz.html">Коробки передач</a>
    <a class="dropdown-item" href="/zapchasti_dvigatel_kamaz.html">Запчасти к  двигателям <br><small>(валы, блоки, насосы)</small> </a>
    <a class="dropdown-item" href="/zapchasti_kpp_kamaz.html">Запчасти к КПП </a>
    <a class="dropdown-item" href="/cabiny_kamaz.html">Кабины</a> 
    <a class="dropdown-item" href="/SZAP.html">Запчасти СЗАП <br><small>(ставропольский завод автоприцепов)</small></a>
    <!-- <div class="dropdown-divider"></div> -->
    <a class="dropdown-item" href="/remont_dvigately.html">Ремонт двигателей</a>
    <a class="dropdown-item" href="/chelny_agregat_center_000.html">Реквизиты</a>
    
  </div>
</li>

<li class="nav-item">
  <a class="nav-link scroll-link" href="#contact">
    Контакты
  </a>
</li>

<li class="nav-item">
  <a class="nav-link scroll-link" href="tel:+78552783500">
    <span style="font-size:20px; font-weight: 200;">(8552) 78-35-00</span>
  </a>
</li>