---
layout: default
title: Редуктор КАМАЗ на 46 зубьев среднего и заднего моста 
metadesc: Продаем редуктор КамАЗ с цилиндрической парой 46/16. Большой выбор моделей, низкие цены и гарантия качества. Характеристики и применимость редукторов КамАЗ.
metakeywords: редуктор КамАЗ 46 зубьев
h1: Редукторы КамАЗ 46 зубьев
h2: Редукторы КамАЗ на 46 зубьев
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <h3 style="padding-top: 0px;">Редукторы</h3>
    <table class="table">
        <tr><td> <a href="#43253-2402011-60" class="underline"> 43253-2402011-60</a> </td></tr>
       
        <!-- <tr><td> <a href="#740.11" class="underline"> 740.11-240 Евро-1</a> </td></tr> -->
    
    </table>
    <img src="/assets/img/avto_models/kamaz_43253_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
</div>
<div class="col-md-9">
    <div class="alert alert-info">
        <p>
            Редукторы с цилиндрической парой 46/16 зубьев начали применяется на автомобилях КАМАЗ относительно недавно. Чаще всего
            они устанавливается на машинах, эксплуатируемых на высоких скоростях. Например, на таких моделях как: 43253, 5460.
            Стоимость редуктора 46/16 на порядок выше, потому что его цилиндрическая пара имеет более высокую стоимость.
        </p>
        <p>
            Для моделей c 46 зубьями артикул следующий: <br>
            — 65115-2502011-60 средний;<br>
            — 65115-2402011-60 задний;<br>
            — 43253-2402011-60 задний. Используется на грузовых авто с одним мостом.<br>
        </p>
    </div>
</div>


<!-- Движок 10 ---------------------------------------------------------------->
<div id="43253-2402011-60">
    {% assign page_url = "reduktor_zadnego_mosta_kamaz_43253_evro_47_48_49_50_zubev" %}
    {% assign product = site.data.reductor | where:"url", page_url | first  %}
    {%- if product -%}
    {% include card_template_reduktor.html page_url = page_url  %}
    {%- endif -%}

    <div class="col-md-1"></div>
    <div class="col-md-10">
        <!-- <h3>Описание</h3> -->
        
        <p></p>

        <hr>
    </div>
</div>



<h3>Общее устройство</h3>
<p>
    Задний редуктор КАМАЗ 46 зубьев состоит из компонентов:
    — корпус устройства или картер;
    — главная передача;
    — дифференциал;
    — конические и цилиндрические шестерни подшипники;
    — регулировочные прокладки и шайбы;
    — сателлиты, а также другие компоненты.
    Редуктор на задний мост КАМАЗ евро 3 оборудован современной полуосью на 20 шлицов.
</p>
<hr>




{% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<img src="/assets/img/reductor/kamaz_reductor_01.jpg" alt="Редукторы КамАЗ"/>
<img src="/assets/img/reductor/kamaz_reductor_remont_01.jpg" alt="Редукторы КамАЗ"/>

</div>