---
layout: default
page_url: dvigatel_kamaz_740_75_440_evro4
title: Двигатель КамАЗ 740.75-440 Евро-4 на КамАЗ 5490 с доставкой - ЧелныАгрегатЦентр
metadesc: Продаем двигатели КамАЗ 740.75-440 (Евро-4) в наличии с доставкой по всей России. Двигатель для КамАЗ 5490. Арт.740.75-1000400 
metakeywords: двигатель 740.75-1000400, купить, продажа, цена, стоимость 53213, 53215, 5490
h1: Двигатель КамАЗ 740.75-440 (Евро-4)
h2: Карточка двигателя
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_new.html  %} 
</div>


<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>
    <p>
        	
        Дизельный двигатель КамАЗ 740.75 Евро 4 с системой SCR и Common Rail с турбонаддувом,
         с промежуточным охлаждением наддувочного воздуха.
        
    </p>
    <p> 
        Оборудуется топливной аппаратурой аккумуляторного типа Common Rail с электронным управлением. 
        Применение такой аппаратуры позволяет расширить диапазон мощностей, снизить удельный расход топлива. 
        Используется на одиночных автомобилях, автомобильных тягачах, автобусах, 
        специальных машинах, поставляемых на внутренний рынок и на экспорт. 
        Ресурс до первого капитального ремонта составляет 800000 км пробега.

    </p>

    <p>
        
    </p>
    <p></p>
    <p></p>
    <p></p>



    <h3>Другие двигатели серии Евро-4 </h3>

    Двигатель КАМАЗ 740.70-280<br>
    Двигатель КАМАЗ 740.71-320<br>
    Двигатель КАМАЗ 740.72-360<br>
    Двигатель КАМАЗ 740.73-400<br>
    Двигатель КАМАЗ 740.74-420<br>
    Двигатель КАМАЗ 740.75-440<br>
    <p></p>
    <p></p>

    <h3>Технические характеристики двигателя КамАЗ 740.75-440 </h3>

    <table class="table" style="width:unset;">
        <tbody>
            <tr>
                <td>Наименование параметра, характеристика и единица измерения</td>
                <td>Модель 740.75-440</td>
            </tr>
            <tr>
                <td>Тип двигателя</td>
                <td>дизельный с турбонаддувом четырехтактный, с воспламенением от сжатия</td>
            </tr>
            <tr>
                <td>Расположение цилиндров</td>
                <td>V-образное, с углом развала 90°</td>
            </tr>
            <tr>
                <td>Порядок работы цилиндров</td>
                <td>1-5-4-2-6-3-7-8</td>
            </tr>
            <tr>
                <td>Диаметр цилиндров и ход поршня, мм</td>
                <td>120x130</td>
            </tr>
            <tr>
                <td>Рабочий объем, л.</td>
                <td>11.76</td>
            </tr>
            <tr>
                <td>Номинальная мощность, кВт (л.с.)</td>
                <td>206 (280)</td>
            </tr>
            <tr>
                <td>Максимальный крутящий момент, Н м (кгс-м)</td>
                <td>1177 (120)</td>
            </tr>
            <tr>
                <td>Степень сжатия</td>
                <td>16.8</td>
            </tr>
        </tbody>
    </table>

    

    <p></p>
    <p></p>

    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>


</div>