---
layout: default
page_url: dvigatel_kamaz_740_11_240_evro1
title: Купить двигатель КамАЗ 740.11-240 (Евро-1) для автомобилей КамАЗ 65115, 53205, 55111, 54115. Цена. Доставка.
metadesc: Купить двигатель КамАЗ 740.11-240 (Евро-1) 740.11-1000400, в наличии, с доставкой по всей России. ЧелныАгрегатЦентр
metakeywords: двигатель 740.11-1000400, купить, продажа, цена, стоимость
h1: Двигатель КамАЗ 740.11-240 (Евро-1)
h2: Описание, Цены и характеристики. 740.11-240
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
        {% include card_template_dvigatel_new.html  %} 
     </div>
     
     
     <!-- Html описание---------------------------------------------------------------->
     <div class="col-md-1"></div>
     <div class="col-md-10">
         <h3>Описание и особенности:</h3>    
         <p>Дизельные двигатели 740.11 рабочим объемом 10,85 литра, мощностью 240 лошадиных сил используются в качестве автомобильных и тракторных силовых агрегатов.<br> Двигатель КАМАЗ-740.11-240 выполняет экологические нормативы ЕВРО-1 и отличается надежностью и неприхотливостью.<br> Силовые агрегаты в комплекте с этим двигателем и коробкой передач <a href="/kamaz-inf/korobki-peredach-kpp/kpp_14_kamaz.html">КПП-14</a> и <a href="/kamaz-inf/korobki-peredach-kpp/kpp_152_kamaz.html">КПП-152</a> устанавливаются практически на все модели транспортных автомобилей производства Камского автозавода.<br> Двигатель модели 740.11 расчитан на эксплуатацию в широком диапазоне климатических условий. </p>
     
             <p>
             Двигатель комплектуется топливной системой с электронными регуляторами, которую
             выпускает ПАО «ЯЗДА» (Ярославский Завод Дизельной Аппаратуры). 
             Это делает двигатель дешевле моторов, на которых установлена топливная аппаратура БОШ.<br> 
             Двигатель КамАЗ 740.11, благодаря удачной компоновке систем, отличается меньшими габаритами и относительно небольшим весом (840кг). <br>
             Чаще всего этот агрегат используется, как двигатель КамАЗа 5511, 53215, 55111.
             Его устанавливают на самосвалы КамАЗ 65115, а также на седельные тягачи 54115.
             </p>
     
             <p>
                 Силовые агрегаты этого типа обеспечивают высокую мощность, что положительно отражается на проходимости и
                 грузоподъемности транспортных средств.
             </p>
         <p></p>
         <p></p>
     
     
     
         <h3>Возможные комплектации  </h3>
         <p>
         Полная комплектация двигателя — 740.11-1000400.<br>
     
         Без навесного оборудования — 740.11-1000450.<br>
         
         Прочие артикулы модификаций двигателя КАМАЗ 740.11:   <br>
         740.11-1000406-02, 740.11-1000406-72, 740.11-1000409-31, 740.11-1000410, 740.11-1000410-04, 740.11-1000410-13, 740.11-1000411-01, 
         740.11-1000411-06, 740.11-1000411-72, 740.11-1000412-31, 740.11-1000412-58, 740.11-1000413-20, 740.11-1000413-21.
         </p>
         
         <p></p>
         <p></p>
     
         <h3>Технические характеристики двигателя </h3>
     
         <table class="table" style="width:unset;">
                    <tbody>
                        <tr>
                            <th>Модель</th>
                            <th>740.11</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Расположение и число цилиндров</td>
                            <td colspan="2">V-8</td>
                        </tr>
                        <tr>
                            <td>Диаметр цилиндра и ход поршня, мм</td>
                            <td colspan="2">120×120</td>
                        </tr>
                        <tr>
                            <td>Рабочий объём, л</td>
                            <td colspan="2">10,86</td>
                        </tr>
                        <tr>
                            <td>Степень сжатия</td>
                            <td colspan="2">17</td>
                        </tr>
                        <tr>
                            <td>Номинальная мощность брутто по ГОСТ 14846-81, л.с., не менее</td>
                            <td>240</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Номинальная частота вращения коленчатого вала, мин-1</td>
                            <td colspan="2">2200±50</td>
                        </tr>
                        <tr>
                            <td>Максимальный крутящий момент брутто по ГОСТ 14846-81, кгс×м, не менее</td>
                            <td colspan="2">78</td>
                        </tr>
                        <tr>
                            <td>Частота вращения коленчатого вала</td>
                            <td colspan="2">1600±100</td>
                        </tr>
                        <tr>
                            <td>Минимальный удельный расход топлива, г/(л.с.×ч)</td>
                            <td colspan="2">152</td>
                        </tr>
                        <tr>
                            <td>Расход масла на угар на режиме номинальной мощности, в % от расхода топлива</td>
                            <td colspan="2">0,3</td>
                        </tr>
                        <tr>
                            <td>Масса не заправленного смазкой двигателя в комплектности поставки, кг</td>
                            <td colspan="2">820</td>
                        </tr>
                        <tr>
                            <td>Габаритные размеры: Длина*Ширина*Высота, мм</td>
                            <td colspan="2">1150*893*1007</td>
                        </tr>
                    </tbody>
                </table>
         <p></p>
         <p></p>
     
         {% include kupite_u_nas.html %}
         <div class="text-center w-100">
             <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
         </div>
     
         <p></p>
         <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_02.jpg" alt="Двигатели КамАЗ"/> </p>
         <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_14.jpg" alt="Двигатели КамАЗ"/> </p>
         <p></p>
         
     </div>