---
layout: default
page_url: dvigatel_kamaz_7403_260_evro0
title: Двигатель КАМАЗ 7403.10-260 (Турбо) для автомобилей КамАЗ 4310, 43114, 5320, 55111, 53212. Цена. Доставка. 
metadesc: Купить Двигатель КАМАЗ 7403.10-260 (Турбо) 7403.1000400, в наличии с доставкой по всей России. ЧелныАгрегатЦентр
metakeywords: двигатель 7403.1000400, купить, продажа, цена, стоимость
h1: Двигатель КАМАЗ 7403.10-260 (Турбо)
h2: Описание, Цены и характеристики двигателя 7403.10-260 (Турбо)
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_new.html  %} 
</div>


<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>
<p>
    Четырёхтактный восьмицилиндровый V-образный дизель мощностью 260 л.с., с турбонаддувом. Тип двигателя с воспламенением от сжатия.
    Минимальный удельный расход топлива — 155 г/л.с.*ч. Расход масла на угар — не более 0,8% от расхода топлива. Ресурс
    — 400 тыс. км пробега автомобиля.
</p>
<p>
    Двигатели КамАЗ 7403 отлично зарекомендовали себя в самых разных
    сферах народного хозяйства. Это обусловлено такими факторами, как высокая мощность, уверенная работа на высоких
    оборотах, простота обслуживания и надежность силового агрегата.
</p>
<p>
    Дизельный двигатель КамАЗ 7403.10 для грузовиков положил начало поколению турбированных установок. 
    Выпускается двигатель КамАЗ 740300 с 80-х годов прошлого столетия.
</p>
    <p></p>
    <p></p>



    <h3>Возможные комплектации двигателя 7403.10 260 </h3>
    Полная комплектация двигателя:<br>

    7403-1000400, 7403.10-1000400, 7403.1000400.
    
    Без навесного оборудования: 7403-1000450, 7403.10-1000450, 7403.1000450.
    
    Артикулы различных модификаций двигателя КАМАЗ 7403:
    7403.1000400-23, 
    7403.1000413-50, 
    7403.1000400-70, 
    7403.1000400-71, 
    7403.1000402, 
    7403.1000412-03, 
    7403.1000412-60, 
    7403.1000412-70, 
    7403.1000412-90. 

    
    <p></p>
    <p></p>

    <h3>Технические характеристики двигателя КамАЗ 7403.10-260</h3>

    <table class="table" style="width:unset;">
                    <tbody>
                        <tr>
                            <td class="colspan">Модель</td>
                            <td class="colspan">7403.10-260</td>
                        </tr>
                        <tr>
                            <td>Тип двигателя</td>
                            <td>с воспламенением от сжатия</td>
                        </tr>
                        <tr>
                            <td>Число тактов</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Расположение и число цилиндров</td>
                            <td>V-8</td>
                        </tr>
                        <tr>
                            <td>Диаметр цилиндра и ход поршня, мм</td>
                            <td>120x120</td>
                        </tr>
                        <tr>
                            <td>Рабочий объём, л</td>
                            <td>10,86</td>
                        </tr>
                        <tr>
                            <td>Степень сжатия</td>
                            <td>17</td>
                        </tr>
                        <tr>
                            <td>Номинальная мощность брутто по ГОСТ 14846-81, л.с., не менее</td>
                            <td>260</td>
                        </tr>
                        <tr>
                            <td>Номинальная частота вращения коленчатого вала, мин-1</td>
                            <td>2600±50</td>
                        </tr>
                        <tr>
                            <td>Максимальный крутящий момент брутто по ГОСТ 14846-81, кгс×м, не менее</td>
                            <td>68</td>
                        </tr>
                        <tr>
                            <td>Частота вращения коленчатого вала, соответствующая максимальному крутящему моменту, мин-1</td>
                            <td>1700±100</td>
                        </tr>
                        <tr>
                            <td>Минимальный удельный расход топлива, г/(л.с.×ч)</td>
                            <td>155</td>
                        </tr>
                        <tr>
                            <td>Расход масла на угар на режиме номинальной мощности, в % от расхода топлива, не более</td>
                            <td>0,8</td>
                        </tr>
                        <tr>
                            <td>Масса не заправленного смазкой двигателя в комплектности поставки, кг</td>
                            <td>780</td>
                        </tr>
                        <tr>
                            <td>Габаритные размеры: длина´ширина´высота, мм</td>
                            <td>1160´900´1100</td>
                        </tr>
                        <tr>
                            <td>Угол развала</td>
                            <td>90°</td>
                        </tr>
                        <tr>
                            <td>Порядок работы цилиндров</td>
                            <td>1-5-4-2-6-3-7-8</td>
                        </tr>
                        <tr>
                            <td>Модель ТНВД</td>
                            <td>334</td>
                        </tr>
                        <tr>
                            <td>Модель форсунки</td>
                            <td>271-01</td>
                        </tr>
                        <tr>
                            <td>Направление вращения коленчатого вала (по&nbsp;ГОСТ 22836-77)</td>
                            <td>правое</td>
                        </tr>
                    </tbody>
                    </table>

    <p> Двигатель КамАЗ 7403.1000400 Евро-0 Турбо - технологичный агрегат. Установка и обслуживание силовых агрегатов
        такого уровня должны выполняться квалифицированными специалистами с использованием специального
        регулировочного оборудования. Полное соблюдение правил и нормативом по обслуживанию двигателя КамАЗ Евро 0
        обеспечит его безпроблемную эксплуатацию.</p>


    <p></p>
    <p></p>

    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>


    <p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_02.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_11.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>
  
</div>