---
layout: default
page_url: dvigatel_kamminz_6ISBe_285
title: Двигатель Cummins 6ISBe 285 для автомобилей КамАЗ 4308, 43255, 65115, 65116, 65117; автобусах ПАЗ, КАВЗ. Цена. Доставка. 
metadesc: Купить двигатель Cummins 6ISBe 285, в наличии с доставкой по всей России. ЧелныАгрегатЦентр
metakeywords: двигатель 6ISBe285, купить, продажа, цена, стоимость
h1: Двигатель Cummins 6ISBe 285
h2: Двигатель Cummins 6ISBe 285. Описание, Цены и характеристики. 
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_new.html  %} 
</div>


<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>

    <p>Двигатель серии Cummins ISBe имеет однорядную компоновку цилиндров.</p>
    
    <p>Двигатель разработан с учётом экологических требований Евро-4, доступен в исполнениях на 210, 245,
        285 и 300 л.с. Двигатель ISBe комплектуется системой Common Rail, обеспечивающей стабильное и независящее от частоты вращения вала
        давление подаваемого в цилиндры топлива.</p>

        <p>Двигатель cummins 6isbe имеет ряд отличительных характеристик, которые отличают его от предыдущих сборок:<br>
                - крутящий момент около 760 Нм;<br>
                - мощность – 210 л. с.;<br>
                - новый улучшенный дизайн.</p>
   
    <p>Двигатели Cummins ISBe производят на 7 моторных заводах – в США, Англии, Бразилии, Китае и в Индии, общим
        объемом выпуска более 350 тысяч двигателей в год. 
        Российский завод Камминз-Кама в Набережных Челнах стал восьмым по счету.
    </p>
    <p>Размерность 107х124 мм, рабочий объем «четверок» 4,5 л, «шестерок» 6,7 литра. У четырехцилиндровых моторов
        четыре настройки мощности: от 140 до 210 л. с., момент от 450 до 650 Н.м, у «шестерок» шесть настроек: от 185
        до 300 л. с. и момент от 700 до 970 Н.м. Но есть 6ISBe в 300 сил и моментом 1100 Н.м.</p>
    <p>Двигатели оснащены турбонаддувом и интеркулером, топливная система с электронным управлением Common Rail,
        давление распыла 1600 бар, топливо впрыскивается тремя порциями. С использованием водного раствора мочевины
        моторы укладываются в нормы вплоть до Евро-5. </p>
    

    <p></p>
    <p></p>



    
    Артикул 6ISBE285, который встречается в разных вариантах написания ( 6Isbe 285 или 6 isbe 285).

    
    <p></p>
    <p></p>

    <h3>Технические характеристики двигателя 6ISBe 285</h3>

    <table class="table" style="width:unset;">
                    <tbody>
                  
                        <tr>
                            <td>
                                Модель двигателя</td>
                            <td style="text-align: center;">
                                Cummins<br />
                                ISB 6.7 Е5 285</td>
                        </tr>
                        <tr>
                            <td>
                                Экологический класс</td>
                            <td style="text-align: center;">
                                5</td>
                        </tr>
                        <tr>
                            <td>
                                Тип двигателя</td>
                            <td>
                                Четырехтактный, дизельный, с турбонаддувом</td>
                        </tr>
                        <tr>
                            <td>
                                Количество цилиндров</td>
                            <td>
                                6</td>
                        </tr>
                        <tr>
                            <td>
                                Расположение цилиндров</td>
                            <td>
                                Рядное</td>
                        </tr>
                        <tr>
                            <td>
                                Рабочий объем, л</td>
                            <td>
                                6,7</td>
                        </tr>
                        <tr>
                            <td>
                                Максимальная полезная<br />
                                мощность, кВт (л.с)<br />
                                при номинальной частоте вра-<br />
                                щения коленчатого вала, мин-1</td>
                           
                            <td style="text-align: center;">
                                204 (277)<br />
                                2500</td>
                           
                        </tr>
                        <tr>
                            <td>
                                Maксимальный полезный<br />
                                крутящий момент, Нм (кгс·м)<br />
                                при частоте вращения<br />
                                коленчатого вала, мин-1</td>
                           
                            <td style="text-align: center;">
                                1007 (103)<br />
                                1300</td>
                           
                        </tr>
                    </tbody>
                </table>
    


    <p></p>
    <p></p>

    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>


</div>