---
layout: default
page_url: dvigatel_kamaz_740_10_210_evro0
title: Двигатель на КамАЗ 740.10-210 (Евро-0) для автомобилей КАМАЗ 5320, 5410, 55102, 5511. Цена. Доставка. 
metadesc: Купить двигатель КамАЗ 740.10-210 (Евро-0) 740-1000400, в наличии с доставкой по всей России. ЧелныАгрегатЦентр
metakeywords: двигатель 740-1000400, купить, продажа, цена, стоимость
h1: Двигатель на КамАЗ 740.10-210 (Евро-0). 
h2: Описание, Цены и характеристики. 740.10-210 (Евро-0).
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_new.html  %} 
</div>


<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>
<p>Двигатель 740.10 может быть установлен на различных моделях отечественного автомобиля: КамАЗ-5320, КамАЗ-55102.
    Комплектуется компрессором и генератором, стартер в комплектацию не входит. Номинальная мощность составляет 210 и
    220 лошадиных сил, что является отличным показателем.</p>

    <p>Мощность такого двигателя 210 л.с. Этот двигатель проверен временем работы в непростых условиях
        российских дорог, но существенный минус такого двигателя, он уже не отвечает современным мировым стандартам
        ЕВРО.</p>
    <p>Дизельный двигатель на КамАЗ 740.31-240 позволяет машине полной массой 16,2 т буксировать 11,5-тонный прицеп.</p>
    
    <p></p>
    <p></p>



    <h3>Возможные комплектации двигателя 740.10 210 </h3>
        <p>
            Полная комплектация двигателя:<br>
            740-1000400, 740.10-1000400, 740.1000400.<br>
            Без навесного оборудования:<br>
            740-1000450, 740.10-1000450, 740.1000450.<br>
            Артикулы различных модификаций двигателя КамАЗ 740.10:<br>
            740.1000400-20, 740.1000410, 740.1000410-20, 740.1000412, 740.1000412-20, 740.1000500, 740.1000500-20, 
            740.1000510, 740.1000510-20, 740.1000511-20, 740.1000512-20
        </p>
            
    
    <p></p>
    <p></p>

    <h3>Технические характеристики двигателя КамАЗ 740.10-210</h3>

    <table class="table" style="width:unset;">
        <tbody>
            <tr>
                <td class="colspan">Модель</td>
                <td class="colspan">740.10-210</td>
            </tr>
            <tr>
                <td>Тип двигателя</td>
                <td>с воспламенением от сжатия</td>
            </tr>
            <tr>
                <td>Число тактов</td>
                <td>4</td>
            </tr>
            <tr>
                <td>Расположение и число цилиндров</td>
                <td>V-8</td>
            </tr>
            <tr>
                <td>Диаметр цилиндра и ход поршня, мм</td>
                <td>120x120</td>
            </tr>
            <tr>
                <td>Рабочий объём, л</td>
                <td>10,86</td>
            </tr>
            <tr>
                <td>Степень сжатия</td>
                <td>17</td>
            </tr>
            <tr>
                <td>Номинальная мощность брутто по ГОСТ 14846-81, л.с., не менее</td>
                <td>210</td>
            </tr>
            <tr>
                <td>Номинальная частота вращения коленчатого вала, мин-1</td>
                <td>2600±50</td>
            </tr>
            <tr>
                <td>Максимальный крутящий момент брутто по ГОСТ 14846-81, кгс×м, не менее</td>
                <td>68</td>
            </tr>
            <tr>
                <td>Частота вращения коленчатого вала, соответствующая максимальному крутящему моменту, мин-1</td>
                <td>1700±100</td>
            </tr>
            <tr>
                <td>Минимальный удельный расход топлива, г/(л.с.×ч)</td>
                <td>155</td>
            </tr>
            <tr>
                <td>Расход масла на угар на режиме номинальной мощности, в % от расхода топлива, не более</td>
                <td>0,6</td>
            </tr>
            <tr>
                <td>Масса не заправленного смазкой двигателя в комплектности поставки, кг</td>
                <td>750</td>
            </tr>
            <tr>
                <td>Габаритные размеры: длина´ширина´высота, мм</td>
                <td>1150´893´1007</td>
            </tr>
            <tr>
                <td>Угол развала</td>
                <td>90°</td>
            </tr>
            <tr>
                <td>Порядок работы цилиндров</td>
                <td>1-5-4-2-6-3-7-8</td>
            </tr>
            <tr>
                <td>Модель ТНВД</td>
                <td>33-02</td>
            </tr>
            <tr>
                <td>Модель форсунки</td>
                <td>33-02</td>
            </tr>
            <tr>
                <td>Направление вращения коленчатого вала (по&nbsp;ГОСТ 22836-77)</td>
                <td>правое</td>
            </tr>
        </tbody>
    </table>

    


    <p></p>
    <p></p>

    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>
    <p></p>
    <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_02.jpg" alt="Двигатели КамАЗ"/> </p>
    <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_05.jpg" alt="Двигатели КамАЗ"/> </p>
    <p></p>
    

</div>