---
layout: default
page_url: dvigatel_kamminz_6ISBe_300
title: Двигатель Cummins 6ISBe 300 для автомобилей КамАЗ 4308, 43253, 43255, ПАЗ. Цена. Доставка.
metadesc: Купить Двигатель Cummins 6ISBe 300, в наличии с доставкой по всей России. ЧелныАгрегатЦентр
metakeywords: двигатель 6ISBe300, купить, продажа, цена, стоимость
h1: Двигатель Cummins 6ISBe300
h2: Описание, Цены и характеристики. 6ISBe 300.
---

<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
    {% include card_template_dvigatel_new.html  %}
</div>


<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>
    <p>Двигатель 6isb 300 имеет 6, расположенных в один ряд, цилиндров с суммарным рабочим объемом 6,7 литра.</p>

    <p>Двигатель Cummins модели 6isb 300 предназначен для установки на грузовые транспортные средства средней и большой
        грузоподъемности. В отечественной промышленности он используется в качестве силового агрегата таких автомобилей как
        KAMAZ 6460 и 6520.</p>


    <p>Двигатель разработан с учётом экологических требований Евро-4, доступен в исполнениях на 210, 245, 285 и 300 л.с.
        Двигатель ISBe комплектуется системой Common Rail, обеспечивающей стабильное и независящее от частоты вращения вала
        давление подаваемого в цилиндры топлива.</p>

    <p>Номинальная частота вращения коленчатого вала двигателя Каменс isb 300 соответствует его режиму полной мощности и
        равняется 2600 оборотов в минуту.<br>При работе 6isb 300 в режиме с максимальным крутящим моментом, частота вращения коленчатого вала несколько ниже и составляет 1600 об/мин.</p>

    <p>Двигатели Cummins ISBe производят на 7 моторных заводах – в США, Англии, Бразилии, Китае и в Индии, общим объемом выпуска более 350 тысяч двигателей в год. Российский завод Камминз-Кама в Набережных Челнах стал восьмым по счету.
    </p>
    <p>Для повышения мощностных параметров, на силовом агрегате Cummins установлен турбокомпрессор VGT, который, помимо
        основной функции, способствует экономии топлива при работе на режиме полной мощности.</p>

    <p>Для Cummins 6isb 300 длина/ширина/высота находятся в пределах 1260 мм, 930мм и 1045 мм соответственно. Масса в
        заправленном состоянии равняется 616 кг, в то время как масса «сухого» мотора составляет всего 522 кг.
        Сравнительно небольшой вес двигателя позволяет более рационально использовать грузоподъемность автомобильного шасси. </p>

    <p></p>
    <p></p>



    <h3>Технические характеристики двигателя 6ISBe300</h3>

    <table class="table" style="width:unset;">
        <tbody>
            <tr>
                <td>Количество цилиндров</td>
                <td>6 цилиндров</td>
            </tr>
            <tr>
                <td>Рабочий объем</td>
                <td>5,9 - 6,7 л.</td>
            </tr>
            <tr>
                <td>Мощность</td>
                <td>185-360 л.с.</td>
            </tr>
            <tr>
                <td>Крутящий момент</td>
                <td>600-800 Нм</td>
            </tr>
            <tr>
                <td>Масса</td>
                <td>540кг</td>
            </tr>
        </tbody>
    </table>




    <p></p>
    <p></p>

    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>


</div>