---
layout: default
page_url: dvigatel_kamminz_4ISBe_185
title: Купить двигатель Cummins 4ISBe 185 для автомобилей КамАЗ 4308, 43253, 43255. КАвЗ 4238-01, 4238-02, 4238-05. Цена. Доставка
metadesc: Купить двигатель Cummins 4ISBe 185 4ISBe185, в наличии с доставкой по всей России. ЧелныАгрегатЦентр
metakeywords: двигатель 4ISBe185, купить, продажа, цена, стоимость
h1: Двигатель Cummins 4ISBe 185 
h2: Описание, Цены и характеристики Cummins 4ISBe 185.
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_new.html  %} 
</div>


<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>

    <p>
        Cummins 4ISBe отличается малым весом, низкими эксплуатационными расходами, производительностью и надежностью.
    </p>

    <p> 
        Двигатель 4ISBe комплектуется системой Common Rail, обеспечивающей стабильное и независящее от частоты вращения
        вала давление подаваемого в цилиндры топлива, система состоит из насоса для подачи топлива под высоким
        давлением, топливной рампы, а также электронного блока, посредством которого производится управление
        электромагнитными форсунками.
    </p>

    <p>
         Газотурбинный нагнетатель обеспечивает лучшие динамические и тягловые характеристики, поскольку увеличивает эффективность работы мотора на всех возможных оборотах. К недостаткам можно отнести высокий уровень требований к
        качеству горючего.
    </p>

    <p>
        По ряду конструктивных и технологических решений Cummins ISB схож с двигателями предыдущего поколения Cummins
        серии «В». Буква «е» в обозначении указывает на то, что он разработан для Европы.
    </p>

    <p>
        Двигатели оснащены турбонаддувом и интеркулером, топливная система с электронным управлением Common Rail,
        давление распыла 1600бар, топливо впрыскивается тремя порциями. С использованием водного раствора мочевины
        моторы укладываются в нормы вплоть до Евро-5.
    </p>

    <p></p>
    <p></p>




    <h3>Технические характеристики двигателя Cummins 4ISBe 185</h3>

    <table class="table" style="width:unset;">
        <tbody>
            <tr>
                <td>
                    <p>Модель двигателя&nbsp;Cummins</p>
                </td>
                <td>
                    <p>ISBe185</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Тип двигателя</p>
                </td>
                <td>
                    <p>4-6 цилиндров, рядный</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Объем</p>
                </td>
                <td>
                    <p>8.9 L</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Диаметр * Ход (мм)</p>
                </td>
                <td>
                    <p>114 * 145</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Коэффициент сжатия</p>
                </td>
                <td>
                    <p>16.6:1</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>CPL номер</p>
                </td>
                <td>
                    <p>1480</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Вес нетто (с весом маховика и генератора)</p>
                </td>
                <td>
                    <p>680 кг</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Габариты (Д. Ш. В)</p>
                </td>
                <td>
                    <p>1149mm*799mm*1022mm</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Экологический стандарт</p>
                </td>
                <td>
                    <p>Euro III</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Система&nbsp;питания&nbsp;двигателя&nbsp;воздухом</p>
                </td>
                <td>
                    <p>Turbocharged &amp; Air-Air Intercooled</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Топливная система</p>
                </td>
                <td>
                    <p>Bosch P7100 Pump</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Электрическая система (стартер мотора/генератор)</p>
                </td>
                <td>
                    <p>24V/750A</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Минимальная температура при запуске: :(с/без вспомогательной системы)</p>
                </td>
                <td>
                    <p>-10℃/-25℃</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Объем охлаждающей жидкости</p>
                </td>
                <td>
                    <p>11.1 L</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Номинальная мощность/скорость</p>
                </td>
                <td>
                    <p>136&nbsp;кВт (185 л.с.) / 1700&nbsp;оборотов в минуту</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Макс.крутящий момент/скорость</p>
                </td>
                <td>
                    <p>1200 — 1700 оборотов в минуту</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Расход топлива/номинальная мощность</p>
                </td>
                <td>
                    <p>75.0 l/hr</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Мин. скорость</p>
                </td>
                <td>
                    <p>700±100 оборотов в минуту</p>
                </td>
            </tr>
        </tbody>
    </table>

    
    <h3>Применяемость двигателя Cummins 4ISBe 185</h3>
    <p>
        - КамАЗ 53605, 5308, 4308, 43253, 65115, 65117, 43255; <br>
        - КАВЗ 4235, 4238; - ПАЗ 3203, 3204; - ЛиАЗ 5256.53; <br>
        - ZhohgTong LCK6105GM, LCK6798H, LCK6898H, LCK6935H; <br>
        - Solbus Solcity SWN11; - ЛиАЗ 5256.53, 5256.53-01; - НЕФАЗ 5299; - Волжанин «Ритмикс AVIA»; <br>
        - МАЗ 4371W2 "Зубренок",5516W4-420-000, 5551W3-425-000, 5337W3-440-000<br>
        - AVIA D60, D75, D80, D85, D90, D100, D110, D120<br>
        - IVECO EuroCargo Tector;<br>
        - DAF CF65, LF45, LF55;<br>
        - Youtong ZK 6118 HGA, ZK6129H, ZK 6737 D, ZK 6852 HП, ZK6899HA;<br>
        - Higer KLQ 6826 Q, KLQ 6891 GA, KLQ 6928 Q, KLQ 6109GL, KLQ 6119TQ&#8203; ;<br>
        - ZhohgTong LCK6126HG;<br>
        - МАРЗ 4251 и на другой технике, менее распространенной в РФ.
    </p>


    <p></p>
    <p></p>

    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>


</div>