---
layout: default
page_url: dvigatel_kamaz_740_51_320_evro2_3
title: Двигатель КамАЗ 740.51-320 (Евро-2-3) для автомобилей КамАЗ 6520, 6522. Цена. Доставка. 
metadesc: Купить двигатель КамАЗ 740.51-320 (Евро-2-3) 740.51-1000400, в наличии с доставкой по всей России. ЧелныАгрегатЦентр
metakeywords: двигатель 740.51-1000400, купить, продажа, цена, стоимость
h1: Двигатель КамАЗ 740.51-320 (Евро-2-3). 
h2: Описание, Цены и характеристики. 740.51-320 (Евро-2-3).
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-12">
   {% include card_template_dvigatel_new.html  %} 
</div>


<!-- Html описание---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10">
    <h3>Описание и особенности:</h3>
<p>
    Дизельный восьмицилиндровый двигатель КАМАЗ 740.51-320 мощностью 320 л.с. экологического стандарта Евро-2, с
    турбонаддувом и ОНВ, устанавливается на серийные автомобили производства ОАО "КАМАЗ" с 2002
    года и по сегодняшний день.
</p>
<p>
        После введения с 01 января 2008 года на территории России требований Экологического класса Евро 3 данный двигатель прошел сертификацию как соответствующий экологическому классу Евро 3.
<br>
        Устанавливается как и ранее на автомобили: КАМАЗ 6520-006, КАМАЗ 6520-029, КАМАЗ 6520-129, КАМАЗ 6520-041, КАМАЗ 6520-044, КАМАЗ 6520-057, КАМАЗ 6520-10728, КАМАЗ 6522-027.
</p>
<p>
        За годы эксплуатации данного мотора не было выявлено особых "детских" болезней. 
        Двигатель камаз 320 лс славится своей неприхотливостью, высокой производительностью, и сравнительно
        небольшим расходом горючего, по сравнению с другими моделями силового агрегата.
</p>
    

    <p></p>
    <p></p>



    <h3>Возможные комплектации двигателя 740.51-320  </h3>

    Полная комплектация двигателя — 740.51-1000400.<br> 
    Без навесного оборудования — 740.51-1000450.<br>
    
    Артикулы различных модификаций двигателя КАМАЗ 740.51:
    740.51-1000400-20, 
    740.51-1000400-21, 
    740.51-1000400-22, 
    740.51-1000400-23, 
    740.51-1000400-26, 
    740.51-1000400-29, 
    740.51-1000400-91, 
    740.51-1000401-20, 
    740.51-1000401-21, 
    740.51-1000401-22, 
    740.51-1000401-24, 
    740.51-1000401-81.
    
    <p></p>
    <p></p>

    <h3>Технические характеристики двигателя КамАЗ 740.51-320 </h3>

    <table class="table" style="width:unset;">
                    <tbody>
                        <tr>
                            <td>Тип</td>
                            <td>дизельный с турбонаддувом</td>
                        </tr>
                        <tr>
                            <td>Расположение и число цилиндров</td>
                            <td>V8</td>
                        </tr>
                        <tr>
                            <td>Рабочий объем, л</td>
                            <td>11,76</td>
                        </tr>
                        <tr>
                            <td>Диаметр цилиндра и ход поршня, мм</td>
                            <td>120/130</td>
                        </tr>
                        <tr>
                            <td>Степень сжатия</td>
                            <td>16,5</td>
                        </tr>
                        <tr>
                            <td>Расход масла на угар, в % от расхода топлива</td>
                            <td>0,2</td>
                        </tr>
                        <tr>
                            <td>Минимальный удельный расход топлива, г/кВт (г/л.с.ч)</td>
                            <td>204(150)</td>
                        </tr>
                        <tr>
                            <td>Масса, кг</td>
                            <td>885</td>
                        </tr>
                        <tr>
                            <td colspan="2">Параметры:</td>
                        </tr>
                        <tr>
                            <td colspan="2">В режиме номинальной мощности, (в скобках в режиме максимального момента)</td>
                        </tr>
                        <tr>
                            <td>Мощность, квт (л.с.)</td>
                            <td>235 (320) (180 (244))</td>
                        </tr>
                        <tr>
                            <td>Частота вращения, об/мин</td>
                            <td>2200 (1400)</td>
                        </tr>
                        <tr>
                            <td>Крутящий момент, Нм (кгм)</td>
                            <td>1020 (104) (1275 (130))</td>
                        </tr>
                        <tr>
                            <td>Расход воздуха, кг/час</td>
                            <td>1800 (960)</td>
                        </tr>
                        <tr>
                            <td>Расход выпускных газов, кг/час</td>
                            <td>1850 (995)</td>
                        </tr>
                        <tr>
                            <td>Температура выпускных газов, оC</td>
                            <td>480 (510)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Рассеиваемое тепло в :</td>
                        </tr>
                        <tr>
                            <td>охлаждающую жидкость, кВт</td>
                            <td>103(88)</td>
                        </tr>
                        <tr>
                            <td>охладитель наддувочного воздуха, кВт</td>
                            <td>52(20)</td>
                        </tr>
                        <tr>
                            <td colspan="2">Система питания топливом:</td>
                        </tr>
                        <tr>
                            <td>ТНВД</td>
                            <td>мод. 33720.03 ЯЗДА</td>
                        </tr>
                        <tr>
                            <td>Форсунка</td>
                            <td>мод. 27350</td>
                        </tr>
                        <tr>
                            <td>Давление начала впрыскивания, МПа</td>
                            <td>23,3424,52</td>
                        </tr>
                        <tr>
                            <td>Максимальное разрежение на впуске насоса низкого давления, МПа не более</td>
                            <td>0,023</td>
                        </tr>
                        <tr>
                            <td colspan="2">Система охлаждения:</td>
                        </tr>
                        <tr>
                            <td>Емкость системы охлаждения (только двигателя), л</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td>Температура открытия термостата, оС</td>
                            <td>80</td>
                        </tr>
                        <tr>
                            <td>Максимальное давление в системе охлаждения, кПа</td>
                            <td>220</td>
                        </tr>
                        <tr>
                            <td>Максимально допустимая температура, оС</td>
                            <td>98</td>
                        </tr>
                        <tr>
                            <td>Давление открытия выпускного клапана расширительного бачка, кПа</td>
                            <td>65</td>
                        </tr>
                        <tr>
                            <td>Расход охлаждающей жидкости через радиатор при 2200 об/мин и сопротивлении внешней сети системы охлаждения 35 кПа, л/мин, не менее</td>
                            <td>470</td>
                        </tr>
                        <tr>
                            <td colspan="2">Система впуска воздуха:</td>
                        </tr>
                        <tr>
                            <td>Максимальное разрежение, кПа</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td colspan="2">Система выпуска отработавших газов:</td>
                        </tr>
                        <tr>
                            <td>Максимальное противодавление после турбокомпрессора, кПа</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td colspan="2">Система охлаждения наддувочного воздуха:</td>
                        </tr>
                        <tr>
                            <td colspan="2">Сопротивление системы ОНВ</td>
                        </tr>
                        <tr>
                            <td>по охлаждающему тракту, при расходе 4 кг/сек, кПа, не более</td>
                            <td>0,35</td>
                        </tr>
                        <tr>
                            <td>по наддувочному тракту, при расходе 0,55 кг/сек, кПа, не более</td>
                            <td>10,0</td>
                        </tr>
                        <tr>
                            <td>Максимальная температура наддувочного воздуха после теплообменника системы ОНВ, при температуре окружающего воздуха не более 25 градусов C, °C</td>
                            <td>45</td>
                        </tr>
                        <tr>
                            <td colspan="2">Система смазки:</td>
                        </tr>
                        <tr>
                            <td>Заправочная емкость системы смазки двигателя, л</td>
                            <td>28</td>
                        </tr>
                        <tr>
                            <td colspan="2">Допускаемые крены:</td>
                        </tr>
                        <tr>
                            <td>продольный, °</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>поперечный, °</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td colspan="2">Давление масла:</td>
                        </tr>
                        <tr>
                            <td>при 600 об/мин, МПа</td>
                            <td>0,1</td>
                        </tr>
                        <tr>
                            <td>при 2200 об/мин, МПа</td>
                            <td>0,4</td>
                        </tr>
                        <tr>
                            <td colspan="2">Применяемое масло:</td>
                        </tr>
                        <tr>
                            <td colspan="2">Уфалюб ХД Экстра 15W40, API CE ТУ 02530021149311293;&nbsp;<br>
                            ЛУКойлСупер SAE 15W40, CE/SG,&nbsp;<br>
                            ЛУКойлСупер SAE 15W40, CF4/SG,&nbsp;<br>
                            ЛУКойлСупер SAE 5W30, CF4/SG ТУ 02530750014863699.</td>
                        </tr>
                        <tr>
                            <td>Периодичность смены масла</td>
                            <td>каждые 16 000 км или 250 м/часов</td>
                        </tr>
                        <tr>
                            <td>Ресурс до капитального ремонта, км.</td>
                            <td>800000</td>
                        </tr>
                    </tbody>
                    </table>

    <p>Существует несколько характерных неисправностей:<br>
    1. Нехарактерный стук. Основная причина этого кроется в неверной настройке подачи топлива.<br>
    2. Появление масла в системе охлаждения зачастую обусловлено ослабшей гайкой датчика включения гидромуфты.
    Неисправность этого датчика ведёт к перегреву и, как следствие его дальнейшему
    ремонту по причине выхода из строя поршневой группы или ГБЦ.<br>
    3. Если двигатель камаз 740.51 320 сильно расходует масло или охлаждающую жидкость, то часто основной причиной
    становится протекание патрубков в результате их слабой фиксации.
    </p>


    <p></p>
    <p></p>

    {% include kupite_u_nas.html %}
    <div class="text-center w-100">
        <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
    </div>

    <p></p>
    <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_03.jpg" alt="Двигатели КамАЗ"/> </p>
    <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_14.jpg" alt="Двигатели КамАЗ"/> </p>
    <p></p>
    
</div>