---
layout: default
title: Двигатель КамАЗ Евро 4
metadesc: Выбор двигателя КамАЗ Евро 4. Модели моторов  740.70, 740.71, 740.72, 740.73, 740.74, 740.75. Прайс-лист, каталог, описание, характеристики.
metakeywords: двигатель КамАЗ евро-4 Е-4  740.70-280, 740.71-320, 740.72-360, 740.73-400, 740.74-420, 740.75-440
h1: Двигатель КамАЗ Евро 4
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <h3 style="padding-top: 0px;">Двигатели Евро-4</h3>
    <table class="table">
        <tr><td> <a href="#740.70" class="underline">740.70-280</a> </td></tr>
        <tr><td> <a href="#740.71" class="underline">740.71-320</a> </td></tr>
        <tr><td> <a href="#740.72" class="underline">740.72-360</a> </td></tr>
        <tr><td> <a href="#740.73" class="underline">740.73-400</a> </td></tr>
        <tr><td> <a href="#740.74" class="underline">740.74-420</a> </td></tr>
        <tr><td> <a href="#740.75" class="underline">740.75-440</a> </td></tr>
        
    </table>
    <img src="/assets/img/avto_models/kamaz_5490_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
</div>
<div class="col-md-9">
    <div class="alert alert-info">
        <p>
            Двигатели КамАЗ Евро-4 с топливной аппаратурой аккумуляторного типа Common Rail представляют собой
            конкурентоспособные, экономичные дизельные двигатели с электронным управлением, отвечающие современным экологическим
            требованиям.
        </p>
        
        <p>
            К серии Евро-4 относятся модели: 740.70-280, 740.71-320, 740.72-360, 740.73-400, 740.74-420, 740.75-440 и 820.60-260 газовый.
            
        </p>
        
        <p>
            Применение электронной системы управления двигателем Евро-4 с системой топливоподачи типа Common Rail, 
            цельнолитой картер
            маховика, система турбонаддува с одним турбокомпрессором, цилиндропоршневая группа производства фирмы «Federal Mogul» 
            с повышенной
            степенью сжатия - позволили создать отечественный двигатель нового поколения Евро 4.
        </p>
   
        
        <p>
            Двигатель "Евро-4" (320-360 л. с.), предназначен для тяжелых самосвалов, 280-сильные эксплуатируются на шасси и
            транспортных автомобилях. 400-сильных дизеля предназначены для магистральных тягачей.
            Моторы евро-4 имеют усовершенствованный блок цилиндров, прочность блока повысилась на 60% за счет применения новых
            материалов, тем самым также уменьшился шум. 
            Изменения повысили общий ресурс двигателя с 500 000 километров пробега аж до 800 000 километров.
        </p>
        
        
    </div>
</div>



<!-- Движок 70 ---------------------------------------------------------------->
<div id="740.70"></div>
{% assign page_url = "dvigatel_kamaz_740_70_280_evro4" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
        Рабочий объем в 11,76 л, позволяет достигать 1177 килограмм-сил крутящего момента.
        Данный агрегат отличается от
        предшественников меньшей шумностью, вибрацией и сниженным расходом топлива.
    </p>
    <p></p>
    <hr>
</div>


<!-- Движок 73 ---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10" id="740.73">
    <h3>
            Двигатель КАМАЗ 740.73-400
    </h3>
    <p>
        Двигатель КамАЗ 740.73 Евро 4 - имеет дизельную конструкцию, состоящую из восьми цилиндров диаметром 120 мм. Он обладает
        мощностью в 400 лошадиных сил, которые доступны уже при 1350 оборотах в минуту коленчатого вала. Топливная аппаратура
        германского поставщика, которая установлена на мотор 740.73 400, позволяет значительно экономить топливо. Крутящий
        момент в 1766 килограмм-сил, позволяет данной модели достигать новых высот. Камаз двигатель 740730 имеет наименьший
        показатель угара масла в 0,06% от расхода топлива.
    </p>
    <p></p>
    <hr>
</div>


<!-- Движок 74 ---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10" id="740.74">
    <h3>
        Двигатель КАМАЗ 740.74-420
    </h3>
    <p>
        Двигатель Евро 4 740.74 является одним из лучших в новой линейке. Он имеет 8 цилиндров, которые
        благодаря германской топливной аппаратуре, способны достигать степени сжатия топливной смеси в 16,8.
        Данная модель мотора имеет повышенный запас прочности и уменьшенный расход топлива.
    </p>
    <p></p>
    <hr>
</div>



<!-- Движок 75 ---------------------------------------------------------------->
<div id="740.75"></div>
{% assign page_url = "dvigatel_kamaz_740_75_440_evro4" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
        
    </p>
    <p></p>
    <hr>
</div>



<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
    
    <h3>Технические характеристики двигателя Камаз Евро-4</h3>
    <table align="center" class="table"> 
        <tbody>
            <tr> <th>Модель</th> <th style="padding: 5px;">740.70-280</th> <th style="padding: 5px;">740.71-320</th> <th style="padding: 5px;">740.72-360</th> <th style="padding: 5px;">740.73-400</th> <th style="padding: 5px;">740.74-420</th> <th style="padding: 5px;">740.75-440</th> </tr>
            
            <tr> <td>Расположение и число цилиндров</td> <td colspan="6" style="text-align: center;">V-8</td> </tr>
            
            <tr> <td>Диаметр цилиндра и ход поршня, мм</td> <td colspan="6" style="text-align: center;">120x130</td> </tr>
            
            <tr> <td>Рабочий объём, л</td> <td colspan="6" style="text-align: center;">11,76</td> </tr>
            
            <tr> <td>Степень сжатия</td> <td colspan="6" style="text-align: center;">16,8</td> </tr>
            
            <tr> <td>Максимальная полезная мощность нетто по ГОСТ 14846-81, л.с., не менее</td> <td style="text-align: center;">280 </td> <td>320</td> <td>360</td> <td>400</td> <td>420</td> <td>440</td> </tr>
            
            <tr> <td>Номинальная частота вращения коленчатого вала, мин<sup>-1</sup></td> <td colspan="6" style="text-align: center;">1900</td> </tr>
            
            <tr> <td>Максимальный крутящий момент нетто по ГОСТ 14846-81, кгс*м, не менее</td> <td style="text-align: center;">1177 </td> <td>1373</td> <td>1570</td> <td>1766</td> <td>1864</td> <td>2060</td> </tr>
            
            <tr> <td>Частота вращения коленчатого вала, соответствующая максимальному крутящему моменту, мин<sup>-1</sup></td> <td colspan="6" style="text-align: center;">1300+50</td> </tr>
            
            <tr> <td>Минимальный удельный расход топлива, г/(л.с.*ч)</td> <td colspan="6" style="text-align: center;">194,5</td> </tr>
            
            <tr> <td>Расход масла на угар, в % от расхода топлива, не более</td> <td colspan="6" style="text-align: center;">0,06</td> </tr>
            
            <tr> <td>Масса не заправленного смазкой двигателя в комплектности поставки, кг</td> <td colspan="6" style="text-align: center;">870</td> </tr>
            
            <tr><td>Габаритные размеры: Длина х Ширина х Высота, мм</td> <td colspan="6" style="text-align: center;">1260х930х1045</td> </tr>
            </tbody>
        </table>

    <p>
        Двигатели КамАЗ евро 4 реализуются компанией ЧелныАгрегатЦентр на протяжении более 10 лет.
        Наши менеджеры помогут правильно подобрать подходящую модель и мощность мотора, тип и рабочий объем.


    </p>
    <p></p>
    {% include kupite_u_nas.html %}

    <p></p>
    
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_09.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_06.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>
  
</div>