---
layout: default
title: Двигатель КамАЗ 4308 - Cummins 4Isbe
metadesc: Выбор двигателя на грузовки КАМАЗ 4308. Модели моторов 4Isbe. Прайс-лист, каталог, описание, характеристики, инструкции.
metakeywords: двигатель КамАЗ 4308  Cummins 4Isbe евро-4 евро-5
h1: Двигатель на КамАЗ 4308
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <img src="/assets/img/avto_models/kamaz_4308_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#4ISBe.185" class="underline"> Cummins 4ISBe 185 Евро-4-5</a> </td></tr>
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
        КамАЗ 4308 - среднетоннажный грузовой автомобиль, выпускается с 2003 года. 
        Низкорамный универсальный грузовик 4308, полной массой 12 тонн.
        Помимо бортовой платформы на шасси 4308 возможно размещение различной спецтехники, используемой в
        городском хозяйстве.
    </p>
    <p>
        КамАЗ 4308 комплектуется надежным и экономичным, проверенным временем двигателем Cummins серии ISBe.
        Этот силовой агрегат соответствует экологическому классу Евро 5 (при использовании мочевины).
    </p>
    </div>
</div>




<!-- Движок cummins  ---------------------------------------------------------------->
<div id="4ISBe.185"></div>
{% assign page_url = "dvigatel_kamminz_4ISBe_185" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
            В двигателе применяется топливная система с электронным управлением Common Rail. Толщина стенок цилиндров увеличена, что
            позволяет растачивать блок при ремонте.
            <br>
            Блок цилиндров и поддон снизу прикрыт стальной плитой, обеспечивающей большую жесткость и уменьшающей уровень шума.
            На
            двигатель устанавливается четырехклапанная головка блока цилиндров, направляющие втулки клапанов собраны в единой
            отливке. Привод водяного насоса, вентилятора генератора и компрессора кондиционера приводится в действие поликлиновым
            ремнем, оснащенным автонатяжителем.

    </p>

    <p></p>
    <p></p>
    <hr>
</div>




<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  <p>
        
    Первые выпущенные автомобили имели ряд недостатков, например, проблема частых поломок стартера.
    Однако неисправность была оперативно выявлена и решена путем смены поставщика стартеров.
    Остальные системы отличались высокой надежностью, поскольку были от ведущих мировых производителей:
    - топливный насос Bosch, тормозная система Haldex, трансмиссия ZF, двигатель Cummins.
    <br>
        
  </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>


<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_10.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_15.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>
  

</div>