---
layout: default
title: Двигатель КамАЗ 740 Евро-0
metadesc: Выбор двигателя КАМАЗ 740. Модели моторов 740.10 и 7403.10. Каталог, цены, описание, характеристики.
metakeywords: двигатель КамАЗ евро-0 740
h1: Двигатель КамАЗ Евро-0 740
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <h3 style="padding-top: 0px;">Двигатели Евро-0</h3>
    <table class="table">
        <tr><td> <a href="#740.10" class="underline"> 740.10-210 Евро-0</a> </td></tr>
        <tr><td> <a href="#74009.10" class="underline"> 74009.10-210 Урал</a> </td></tr>
        <tr><td> <a href="#7403.10" class="underline"> 7403.10-260 Турбо</a> </td></tr>
        <!-- <tr><td> <a href="#740.11" class="underline"> 740.11-240 Евро-1</a> </td></tr>
        <tr><td> <a href="#740.13" class="underline"> 740.13-260 Евро-1</a> </td></tr> -->
        <!-- <tr><td> <a href="#740.30" class="underline"> 740.30-260 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.50" class="underline"> 740.50-360 Евро-3</a> </td></tr>
        <tr><td> <a href="#740.62" class="underline"> 740.62-280 Евро-3-4</a> </td></tr>
        <tr><td> <a href="#6ISBe.285" class="underline"> Cummins 6ISBe 285 Евро-4-5</a> </td></tr> -->
    </table>
    <img src="/assets/img/avto_models/kamaz_5511_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
</div>
<div class="col-md-9">
    <div class="alert alert-info">
        <p>
                Первым двигателем данного семейства считается простой двигатель КамАЗ 740 V8.

            <p>
                Двигатель КамАЗ Евро 0 считают самым первым мотором семейства.
                Самый известный мотор серии 740. <a href="#740.10" class="underline"> <b>740.10-210</b></a> мощностью в 210
                лошадиных сил.
            </p>
            <p> Другие модели моторов Евро-0: <br>
                    <a href="#74009.10" class="underline"> - Двигатель КамАЗ 74009.10-403 (Урал) </a> <br>
                    <a href="#7403.10" class="underline"> - Двигатель КамАЗ 7403.10-260 </a> - первый турбированный двигатель из линейки
                    двигателей турбо, мощностью мотора 260 л.с. 
                     <br>
            </p>
            <p>
                Двигатель КАМАЗ 740 - дизельный, восьмицилиндровый, четырехтактный с водяным охлаждением. 
                Располагаются цилиндры V-образно по четыре цилиндра с каждой стороны. 
                Угол между рядами цилиндров составляет 90 градусов.     
            </p>

            
            <p>
                Двигатели КамАЗ Евро 0 устанавливаются на автомобили КАМАЗ 5410, КАМАЗ 54112, КАМАЗ 5320, КАМАЗ 55102,
                КАМАЗ 5511.
            </p>

            <p> Далее завод двигателей КАМАЗ изобрел "евро" блок и начал выпуск моторов класса евро-1. </p>
    </div>
</div>


<!-- Движок 10 ---------------------------------------------------------------->
<div id="740.10">
    {% assign page_url = "dvigatel_kamaz_740_10_210_evro0" %}
    {% assign product = site.data.dvigatel | where:"url", page_url | first  %}
    {%- if product -%}
    {% include card_template_dvigatel.html page_url = page_url  %}
    {%- endif -%}

    <div class="col-md-1"></div>
    <div class="col-md-10">
        <!-- <h3>Описание</h3> -->
        <p>
        
        </p>

        <p></p>
        <p></p>

        <hr>
    </div>
</div>

<!-- Движок урал ---------------------------------------------------------------->
<div id="74009.10"></div>
{% assign page_url = "dvigatel_kamaz_740_10_403_evro0" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
            Модель силового агрегата КамАЗ-740.10 представляет собой дизельный V-образный 8-цилиндровый двигатель
             рабочим объемом 10,85 литров мощностью 210 лошадиных сил.
             Крутящий момент — 637Н/м при оборотах 1500-1800. Топливные форсунки закрытого типа.
        </p>
        <p>
            Двигатель оснащен восьмисекционным V -образным топливным насосом высокого давления золотникового типа, 
            подкачивающим насосом низкого давления, 
            автоматом регулирования частоты вращения и муфтой опережения топливного впрыска.Силовой агрегат снабжен сухим воздушным фильтром с картонным фильтрующим элементом и индикатором засоренности. Для бесперебойной эксплуатации в условиях низких температур, двигатель может оснащаться предпусковым подогревателем и электрофакельным устройством.
        </p>
    <p></p>

    <hr>
</div>



<!-- Движок турбо ---------------------------------------------------------------->
<div id="7403.10"></div>
{% assign page_url = "dvigatel_kamaz_7403_260_evro0" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
        Главным отличием от предшественника стало добавление турбин, изменение поршневой группы и
        и изменения в системе охлаждения. 
        Модифицированный двигатель позволил извлечь большую мощность и уменьшить расход топлива. 
        Двигатель зарекомендовал себя как неприхотливый в эксплуатации и недорогой в ремонте.
    </p>

    <p></p>
    <p></p>

    <hr>
</div>





<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  
  <h3>Моторы Евро-0 с маркировкой 740.210 и 740.260</h3>
  <table class="table" style="width: unset;">
        <thead>
            <tr>
                <td>Наименование</td>
                <td>Характеристика</td>
            </tr>
        </thead>
    <tbody>
        <tr>
            <td>Мощность</td>
            <td>154 кВт. для 210 л.с. и&nbsp;191&nbsp;кВт для 260л.&nbsp;с.</td>
        </tr>
        <tr>
            <td>Тип</td>
            <td>Дизель</td>
        </tr>
        <tr>
            <td>Количество цилиндров</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Количество головок</td>
            <td>8</td>
        </tr>
        <tr>
            <td>Количество клапанов</td>
            <td>16</td>
        </tr>
        <tr>
            <td>Охлаждение</td>
            <td>Жидкостное</td>
        </tr>
        <tr>
            <td>Объем</td>
            <td>10,85 (10&nbsp;850&nbsp;см куб.)</td>
        </tr>
        <tr>
            <td>Система подачи питания</td>
            <td>ТНВД 33ЯЗДА или 334&nbsp;ЯЗДА</td>
        </tr>
        <tr>
            <td>Порядок работы цилиндров</td>
            <td>1-5-4-2-6-3-7-8</td>
        </tr>
    </tbody>
    </table>
  <p>
     
    
  </p>

  <h3>Основные неисправности</h3>
  <table class="table" style="width: unset;">
    <thead><tr class=""><th>Причина неисправности</th><th>Способ устранения</th></tr></thead><tbody>
        <tr><td>Нет топлива в баке</td><td>Заполните топливный бак и обязательно прокачайте </td></tr>
        <tr><td>систему питания топливом.</td></tr>
        <tr><td>Наличие воздуха в системе </td></tr>
        <tr><td>питания топливом</td><td>Устраните негерметичность, а потом прокачайте систему.</td></tr>
        <tr><td>Нарушение регулировки угла </td></tr>
        <tr><td>опережения впрыскивания топлива</td><td>Отрегулируйте угол опережения.</td></tr>
        <tr><td>Замерзание воды, попавшей в </td></tr>
        <tr><td>топливные трубки или на сетку </td></tr>
        <tr><td>заборника топливного бака</td><td>Осторожно прогрейте топливные фильтры, </td></tr>
        <tr><td>баки и трубки ветошью, смоченной парой </td></tr>
        <tr><td>или горячей водой, нельзя использовать </td></tr>
        <tr><td>открытый огонь для подогрева</td></tr>
    </tbody>
   </table>



  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_02.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_08.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>
  
</div>