---
layout: default
title: Двигатель на КамАЗ 6580 - ЧелныАгрегатЦентр
metadesc: Продаем двигатель на автомобиль КАМАЗ 6580 с доставкой по всей России. Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации. 
metakeywords: двигатель КамАЗ 6580 740.70-1000400, купить, продажа, цена, стоимость
h1: Двигатель на КамАЗ 6580.
h2: 
---
<!-- Раздел карточки продукта --------------------------- -->
 <!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
        <img src="/assets/img/avto_models/kamaz_55111_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
        <table class="table">
            <tr><td> <a href="#740.10" class="underline"> 740.10-210 </a> </td></tr>
            <tr><td> <a href="#7403.10" class="underline"> 7403.10-260 Турбо </a> </td></tr>
            <tr><td> <a href="#740.11" class="underline"> 740.11-240 Евро-1 </a> </td></tr>
            <tr><td> <a href="#740.31" class="underline"> 740.31-240 Евро-2</a> </td></tr>
            <tr><td> <a href="#740.51" class="underline"> 740.51-320 Евро-2-3</a> </td></tr>
            
        </table>
    </div>
    <div class="col-md-9">
    <div class="alert alert-info">
        <p>КамАЗ 6580 представляет собой современный седельный тягач с высокой грузоподъемностью, кабиной повышенного
        комфорта и надежным двигателем.
        </p>
        <p>
            КамАЗ-6580, в отличие от КамАЗ-6520, является более тяжёлой моделью. 
            Серийное производство КамАЗ-6580 стартовало в начале 2016 года.
             Принцип сборки – тот же, что и для семейства КамАЗ-5490. Эта модель приблизительно на 70 процентов собрана из импортных
            деталей.
                
        </p>
        <p>
        Базовая комплектация - <b> Двигатель КамАЗ 740.75-440</b>  с четырехтактным 8-цилиндровым дизелем российского производства.
        Мотор – проверенный временем, хорошо зарекомендовавший себя в тяжелых условиях
        агрегат. Он оснащен системой воздушного охлаждения, которая значительно повышает эффективность турбонаддува.
        <p>

        <p>
        Комплектуется также двигателем<b> Mercedes-Benz (Daimler) OM 457 LA</b>,
        который эксплуатировался на модели Mercedes-Benz Axor (прототип 6580).<br>
        На обновленном КАМАЗ 6580 NEO остались те же моторы, но есть варианты с различной мощностью.
        </p>
    </div>
    </div>


    <!-- Движок 740.75 ---------------------------------------------------------------->
    {% assign page_url = "dvigatel_kamaz_740_75_440_evro4" %}
    {% assign product = site.data.dvigatel | where:"url", page_url | first  %}
    {%- if product -%}
    {% include card_template_dvigatel.html page_url = page_url  %}
    {%- endif -%}
     
     <div class="col-md-1"></div>
     <div class="col-md-10">
         <h3>Описание</h3>    
         <p>
                Российский мотор при рабочем объеме 11,7 литра развивает 440 лошадиных сил, а максимальный крутящий момент составляет 2060 Н/м. Пиковые характеристики мотора доступны уже с 1900 об/мин.
                <br>            
             </p>
     
             <p>
                Для уменьшения расхода и выброса вредных веществ в атмосферу, а также расхода в двигатель камаз 6580 оборудован современной
                топливной системой аккумуляторного типа Common Rail (CRS), которая автоматически изменяет момент 
                впрыска топлива, тем самым уменьшая общий расход ГСМ, обеспечивает предварительный впрыск топлива и уменьшает уровень шума мотора.<br>
             </p>
             <p> 
                    Используется на одиночных автомобилях, автомобильных тягачах, автобусах, 
                    специальных машинах, поставляемых на внутренний рынок и на экспорт. 
                    Ресурс до первого капитального ремонта составляет 800000 км пробега.
                </p>
         
         <p></p>
         <p></p>
     
         <h3>Технические характеристики двигателя </h3>
     
         <table class="table" style="width:unset;">
                    <tbody>
                        <tr>
                            <th>Модель</th>
                            <th>740.11</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Расположение и число цилиндров</td>
                            <td colspan="2">V-8</td>
                        </tr>
                        <tr>
                            <td>Диаметр цилиндра и ход поршня, мм</td>
                            <td colspan="2">120×120</td>
                        </tr>
                        <tr>
                            <td>Рабочий объём, л</td>
                            <td colspan="2">10,86</td>
                        </tr>
                        <tr>
                            <td>Степень сжатия</td>
                            <td colspan="2">17</td>
                        </tr>
                        <tr>
                            <td>Номинальная мощность брутто по ГОСТ 14846-81, л.с., не менее</td>
                            <td>440</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Номинальная частота вращения коленчатого вала, мин-1</td>
                            <td colspan="2">2200±50</td>
                        </tr>
                        <tr>
                            <td>Максимальный крутящий момент брутто по ГОСТ 14846-81, кгс×м, не менее</td>
                            <td colspan="2">78</td>
                        </tr>
                        <tr>
                            <td>Частота вращения коленчатого вала</td>
                            <td colspan="2">1600±100</td>
                        </tr>
                        <tr>
                            <td>Минимальный удельный расход топлива, г/(л.с.×ч)</td>
                            <td colspan="2">152</td>
                        </tr>
                        <tr>
                            <td>Расход масла на угар на режиме номинальной мощности, в % от расхода топлива</td>
                            <td colspan="2">0,3</td>
                        </tr>
                        <tr>
                            <td>Масса не заправленного смазкой двигателя в комплектности поставки, кг</td>
                            <td colspan="2">820</td>
                        </tr>
                        <tr>
                            <td>Габаритные размеры: Длина*ширина*высота, мм</td>
                            <td colspan="2">1150´893´1007/td>
                        </tr>
                    </tbody>
                </table>
        <p>
                Двигатель КАМАЗ евро 4 обладает одной из наиболее доступных цен среди конкурентов. Проверенная временем конструкция
                мотора неприхотлива к агрессивным климатическим условиям, некачественному ГСМ и постоянным нагрузкам.
        </p>


         <p></p>
         <p></p>
     
         {% include kupite_u_nas.html %}
         <div class="text-center w-100">
             <a href="#default-suggestions_card" class="btn btn-lg btn-primary"> Запросить предложение </a>
         </div>
     
         <div style="height: 100px;">&nbsp;</div>
     
         <p></p>
        <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_01.jpg" alt="Двигатели КамАЗ"/> </p>
        <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_08.jpg" alt="Двигатели КамАЗ"/> </p>
        <p></p>
     </div>