---
layout: default
title: Двигатель КамАЗ 45143 - 740 Евро
metadesc: Выбор двигателя на сельхозник КАМАЗ 45143. Модели моторов 740.10 740.11 740.31 евро-1. Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
metakeywords: двигатель КамАЗ 45143 Сельхозник 740.10 7403 740-11 евро-0 евро-1 евро-2
h1: Двигатели на КамАЗ 45143
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <img src="/assets/img/avto_models/kamaz_45143_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#740.31" class="underline"> 740.31-240 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.62" class="underline"> 740.62-280 Евро-3-4</a> </td></tr>
        <tr><td> <a href="#6ISBe.300" class="underline"> Cummins 6ISBe 300 Евро-4-5</a> </td></tr>
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
        КамАЗ 45143 – трёхосный самосвал-тягач с грузовой платформой, ориентированной на перевозку сыпучих
        грузов.
         Автомобиль-самосвал КамАЗ-45143 в модельном ряде КамАЗа стал продолжением популярного ранее КамАЗ-55102,
          который также называли «сельхозником».
        
        
    </p>
    <p>В начале производства, эти грузовики оснащались силовыми установками эко-класса Евро-2, 
            <a href="#740.30" class="underline b"> КамАЗ 740.30-260> </a> и развивали 260 лошадиных сил.</p>
        <p>Далее начали ставить двигатели <a href="#740.62" class="underline b">КамАЗ-740.62-280</a>, 
            который имел 280 лошадей и вписывался в нормы Евро-3.</p>
        <p>Для 4-го экологического класса выпускались модели с <a href="#6ISBe.285" class="underline">Камминз ISB6.7.</a></p>
        <p>Со стандартом Евро-5, камазовский двигатель <a href="#6ISBe.285" class="underline">Cummins ISB6.7 300</a>
            модернизировали до более строгих нормативов.</p>
        <p>Также на КамАЗ 45143 применялись и ярославские ЯМЗ-6562.</p>
    
    </div>
</div>




<!-- Движок 31 ---------------------------------------------------------------->
<div id="740.31"></div>
{% assign page_url = "dvigatel_kamaz_740_31_240_evro2" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
            У силового агрегата Евро-2 8 цилиндров, все они имеют размер 120 мм и расположены V-образно в 2 ряда. На каждом цилиндре
            имеется впускной и выпускной клапан. Максимальный крутящий момент составляет 980 Нм. Качественный и надежный двигатель
            КамАЗ 740.31 240, цена которого полностью оправдана, получил вместительный рабочий объем – 10,85 л и высокую степень
            сжатия камеры сгорания – в 16 раз. Мощность мотора составляет 240 лошадиных сил (176 кВт): этого достаточно для
            перевозки тяжеловесных грузов и быстрого разгона даже при движении автомобиля на подъем.
            <br>
            Мотор неприхотлив в работе, оснащен надежным аккумулятором и качественным стартером, полностью адаптирован для эксплуатации в условиях холодного российского климата.
            <br> Купить двигатель КамАЗ 740.31 стоит еще и потому, что данная модель не требует особого ухода.
    </p>

    <p></p>
    <hr>
</div>



<!-- Движок 62 ---------------------------------------------------------------->
<div id="740.62"></div>
{% assign page_url = "dvigatel_kamaz_740_62_280_evro3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
            Двигатель на КамАЗ 45143 отличается усовершенствованной системой подачи топлива, 
            оборудуется ТНВД германской фирмы «Bosch».<br>
            Ресурс, на который рассчитан современный двигатель КАМАЗ евро 3,
            составляет более 800 тысяч километров. 
            
    </p>

    <p></p>
    <p></p>
    <hr>
</div>



<!-- Движок cummins  ---------------------------------------------------------------->
<div id="6ISBe.300"></div>
{% assign page_url = "dvigatel_kamminz_6ISBe_300" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
        C этим двигателем КАМАЗ 45143 ставится девяти-ступенчатая коробка передач ZF 9S1310. 
        В CUMMINS 6ISBe 300 установлена топливная аппаратура Bosch Common Rail.
        Она требовательна к качеству топлива, потому важно ставить только оригинальные фильтры.
        Замена фильтра должна происходить каждые 15 тысяч км.
    </p>

    <p></p>
    <p></p>
    <hr>
</div>





<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
    <p>
        В комплектацию данного двигателя могут входить топливные насосы высокого давления как отечественного производства Язда,
         так и немецкого, фирмы Bosch.
        
            
    </p>
  <p>
        Трансмиссия грузовика оснащается сухим сцеплением двухдискового типа. Также имеется гидравлический пневмоусиленный
        привод. В качестве коробки передач выступает десятиступенчатая «механика». Особенностью данной КПП является возможность
        как механического, так и дистанционного управления.

  </p>
  <p>
      <strong>Расход топлива</strong>
        КамАЗ 45143 - один из самых экономичных грузовиков в своей категории.
        <br>
        По отзывам, КамАЗ-45143 – довольно экономичный грузовик, даже на фоне импортных аналогов.
        В летний период потребление топлива достигает в среднем 26 литров на 100 км.
        Зимой этот показатель доходит до 28 литров. 

         <br>Топливный бак на 500 литров.
  </p>
  <p>
    
  </p>
        
    <p>
        <strong> Модификации двигателя 45143 </strong>
        740.1000400<br>
        740.1000400-20<br>
        740.1000500<br>
        740.1000500-20<br>
        
  </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_05.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_10.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>

</div>