---
layout: default
title: Двигатель КамАЗ 54115
metadesc: Выбор двигателя на КамАЗ 54115. Модели моторов 740.11 740.13 740.31. Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
metakeywords: двигатель КамАЗ 54115 740.11 740.13 740.31 евро-0 евро-1
h1: Двигатель на КамАЗ 54115
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <img src="/assets/img/avto_models/kamaz_54115_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#740.11" class="underline"> 740.11-240 Евро-1 </a> </td></tr>
        <tr><td> <a href="#740.13" class="underline"> 740.13-260 Евро-1</a> </td></tr>
        <tr><td> <a href="#740.31" class="underline"> 740.31-240 Евро-2</a> </td></tr>
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
        КамАЗ 54115 - седельный тягач производства Камского автомобильного завода, создан на базе модели 5410. 
                Его выпуск продолжался с 2000-го по 2011-ый года. 
    </p>
    
    <p>
        Модели КамАЗ-54115 оснащались турбодизелями 740.11-240 и 740.13-260 под экологический стандарт Евро-1.
    </p>
    <p>
        Позже их перевели на Евро-2, установив двигатели 740.31-240. 
    </p>

    </div>
</div>



<!-- Движок 11 ---------------------------------------------------------------->
<div id="740.11"></div>
{% assign page_url = "dvigatel_kamaz_740_11_240_evro1" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
            Мотор мощностью 210 лошадиных сил, рабочий объем 10,85 литра, диаметр одного цилиндра и ход поршня по 12 см.
            <br>
            В двигателе есть турбонаддув, жидкостное охлаждение, 16-клапанный механизм OHV.
            Средний расход топлива техники составляет 25 литров на каждые 100 км.
    </p>
    <p>
            Двигатель КАМАЗ евро 1 оснащался универсальной системой подачи топлива со следующими характеристиками:<br>
            - Насос низкого давления для подачи топлива.<br>
            - ТНВД с регулятором оборотов вращения;<br>
            - Закрытые форсунки с разносторонним распылением;<br>
            
    </p>
    <p></p>
    <hr>
</div>




<!-- Движок 13 ---------------------------------------------------------------->
<div id="740.13"></div>
{% assign page_url = "dvigatel_kamaz_740_13_260_evro1" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
        Двигатель КАМАЗ 54115 740.13 мощностью 260 л.с.
         устанавливался на многие серийные автомобили КамАЗ выпускающиеся до 2006 года 
         и соответствующие экологическому классу Евро1.
    </p>
    <p>
        Двигатель на КамАЗ 54115 ценят за его надежность, экономичность,
        низкую стоимость расходных материалов и запасных частей.
    </p>
    <p></p>

    <hr>
</div>



<!-- Движок 31 ---------------------------------------------------------------->
<div id="740.31"></div>
{% assign page_url = "dvigatel_kamaz_740_31_240_evro2" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
        У силового агрегата Евро-2 8 цилиндров, все они имеют размер 120 мм и расположены V-образно в 2 ряда. На каждом цилиндре
        имеется впускной и выпускной клапан. Максимальный крутящий момент составляет 980 Нм. Качественный и надежный двигатель
        КамАЗ 740.31 240, цена которого полностью оправдана, получил вместительный рабочий объем – 10,85 л и высокую степень
        сжатия камеры сгорания – в 16 раз. Мощность мотора составляет 240 лошадиных сил (176 кВт): этого достаточно для
        перевозки тяжеловесных грузов и быстрого разгона даже при движении автомобиля на подъем.
        <br>
        Мотор неприхотлив в работе, оснащен надежным аккумулятором и качественным стартером, полностью адаптирован для эксплуатации в условиях холодного российского климата.
        <br> Купить двигатель КамАЗ 54115 740.31 стоит еще и потому, что данная модель не требует особого ухода.
    </p>

    <p></p>
    <hr>
</div>






<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  <p>
    КамАЗ 54115 полностью
    соответствует жестким требованиям, предъявляемым к военной технике. В его конструкции предусмотрена лебедка, позволяющая
    выбраться из непроходимой местности. Модель работает с различными грузами (крупногабаритные предметы, сыпучие составы) и
    уверенно переносит существенные перепады температуры
</p>
<p>
        Средний показатель расхода топлива модели составляет 35,5 л/100 км.

</p>
  <p>
    
  </p>
  <p>
        <strong> Модификации </strong>
        740.11-1000312<br>
        740.11-1000312-20<br>
        740.13-1000301-21<br>
        740.31-1000300-52<br>
        740.31-1000320<br>
        740.31-1000400-31<br>
        740.31-1000400-52<br>
        
        
        </p>

        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/ZgRNBQdyZuY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_12.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_13.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>

</div>