---
layout: default
title: Двигатель КамАЗ 5460 - Евро3
metadesc: Выбор двигателя на тягач КАМАЗ 5460 Евро 3. Модели моторов 740.50 и 740.63 Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
metakeywords: двигатель КамАЗ 5460 740.37 евро-3 евро-4 евро-2
h1: Двигатели на КамАЗ 5460
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <img src="/assets/img/avto_models/kamaz_5460_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#740.50" class="underline"> 740.50-360 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.37" class="underline"> 740.37-400 Евро-3</a> </td></tr>
        <tr><td> <a href="#740.63" class="underline"> 740.63-400 Евро-3</a> </td></tr>
        
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
        Тягач седельного типа КамАЗ-5460, который появился в 2003 году. Модель разработана на платформе уже известной машины – 6520. 
         Модель была приспособлена для функционирования с европейскими прицепами.  
        Автомобиль имеет колесную формулу 4х2 и предназначается для перевозок грузов до 40 тонн.
    </p>
    <p>
        Евро-2:  Изначально на 5460  ставился двигатель КАМАЗ 740.50-360
         и 16-ти ступенчатую коробку передач от немецкой фирмы ZF.
    </p>
    <p>
        Евро-3: В 2008 году двигатель КАМАЗ 740.50 получил сертификат Евро 3. 
        <br> Также стали оборудовать двигателем 740.63-400
    </p>
    <p>
        Автомобиль может быть оснащен хорошо известным серийным двигателем КАМАЗ-740.13-260 (Евро-1).
    </p>
    
    </div>
</div>


<!-- Движок 50 ---------------------------------------------------------------->
<div id="740.50"></div>
{% assign page_url = "dvigatel_kamaz_740_50_360_evro2_3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p> 
        Двигатель КАМАЗ 5460 относится к классу экологического стандарта Евро-3. 
        Этот стандарт регулирует качество применяемого топлива и степень выброса вредных веществ в атмосферу.
        Двигатель КАМАЗ евро 3 имеет восемь цилиндров и 11,76 л рабочего объема. 
        Мотор способен выдавать 280 лошадиных сил максимальной мощности при 1300 оборотах в минуту. 
        Степень сжатия в данном агрегате составляет до 16,8.
    </p>
    <p>
        Ресурс двигателя, по заявлениям производителя, составляет более 800 тыс. км, что сопоставимо с возможностями зарубежных моторов.
    </p>
    <p>
        Двигатель КАМАЗ 740 50 360 оснащен турбонаддувом. 
        В конструкции предусмотрено два турбокомпрессора К27 со степенью повышения давления 2.9.
        Компрессоры размещаются на выпуске мотора и работают за счет энергии выхлопных газов. 
        С их помощью в двигатель нагнетается воздух под давлением и обогащается топливная смесь. 
        Турбокомпрессоры рассчитаны на вход выхлопных газов с температурой до 700 оС и обеспечивают вращением ротора вала 30 000 -120 000 об/мин.
    </p>

    <p></p>
    <p></p>
    <hr>
</div>


<!-- Движок 37 ---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10" id="740.37">
    <h3>
        Двигатель КАМАЗ 740.37-400
    </h3>
    <p>
        Дизельный 8-цилиндровый двигатель КАМАЗ 740.37 Евро-2-3 мощностью 400 л.с., с
        турбонаддувом и охладителем наддувочного воздуха (интеркулером).
    </p>
    <p>
        Минимальный удельный расход топлива — 204 г/л.с.*ч. Расход масла на угар — не более 0,2% от расхода топлива. Ресурс
        — 800 тыс. км пробега в составе магистральных автомобилей.</p>
        <p>
            Силовой агрегат был синхронизирован с 16-скоростной коробкой переключения передач ZF.
        </p>
    <p></p>
    <hr>
</div>



<!-- Движок 63 ---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10" id="740.63">
    <h3>
        Двигатель КАМАЗ 740.63-400
    </h3>
    <p>
        Наиболее мощный из моделей серии Евро 3, развивает силу в 400 л. с. Устанавливается на седельные тягачи КамАЗ 5460, 6460,
        65225, а также на самосвалах КамАЗ 6520. Крутящий момент двигателя КАМАЗ 740.63 соответствует 1766 Нм. Рабочий объём
        двигателя – 11,76л, как и у остальных двигателей этого класса.
    </p>
    <p></p>
    <hr>
</div>





<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  <p>
    Обновленный грузовик поставлялся с двигателем КАМАЗ-740.63-400, который выдавал 400 л.с. сил и отвечал нормам
    Euro-3. За систему впрыска Common Rail отвечала известная фирма Bosch. 
  </p>
  <p>
    На двигателях применили инновационными сплавы с технологией нанесения на кольца поршней хромо-алмазного
    покрытия. Чтобы повысить ресурс этих мощных моторов внедрили технологию карбонитрирования коленвала.
    Усовершенствования также затронули системы смазки и охлаждения.
  </p>
  <p>
    Двигатель агрегировали 400-сильный двигатель с АКПП ZF AS-Tronic.
    
  </p>
        
    <p>
        <strong> Модификации </strong>
        740.37-1000400<br>
        740.37-1000400-01<br>
        740.63-1000300-30<br>
  </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_06.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_14.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>
  

</div>