---
layout: default
title: Двигатель КамАЗ 6460 Евро 3
metadesc: Выбор двигателя на тягач КАМАЗ 6460 Евро 3. Модели моторов 740.50 и 740.63 Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
metakeywords: двигатель КамАЗ 6460 740.63 740.50 евро-3 евро-4 евро-2
h1: Двигатели на КамАЗ 6460
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <img src="/assets/img/avto_models/kamaz_6460_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#740.50" class="underline"> 740.50-360 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.63" class="underline"> 740.63-400 Евро-3</a> </td></tr>
        <tr><td> <a href="#740.73" class="underline"> 740.73-400 Евро-4</a> </td></tr>

    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
        Тягач седельного типа КамАЗ-6460, который появился в 2003 году. 
        Выпуск автомобиля стартовал в 2003-ем году на платформе КамАЗа-54115.
        Модель была приспособлена для функционирования с европейскими прицепами.  
        Этот универсальный грузовик с колесной формулой 6х4.
    </p>
    <p>
        Евро-2:  Изначально на КамАЗ 6460 ставили двигатель КАМАЗ 740.50-360 и 16-ти ступенчатую коробку передач от немецкой фирмы ZF.
    </p>
    <p>
        Евро-3: Подавляющее большинство тягачей оснащалось дизельными моторами КамАЗ 740.63-400, соответствующими
        экологическому стандарту Евро-3. Это – 8-цилиндровые агрегаты с V-образным расположением цилиндров и рабочим объемом
        11,76 литров.
        <b>Этот двигатель можно использовать вместо двигателя Cummins.</b>
    </p>
    <p>
        
    </p>
    
    </div>
</div>


<!-- Движок 50 ---------------------------------------------------------------->
<div id="740.50"></div>
{% assign page_url = "dvigatel_kamaz_740_50_360_evro2_3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p> 
        Двигатель КАМАЗ 6460 относится к классу экологического стандарта Евро-3. 
        Этот стандарт регулирует качество применяемого топлива и степень выброса вредных веществ в атмосферу.
        Двигатель КАМАЗ евро 3 имеет восемь цилиндров и 11,76 л рабочего объема. 
        Мотор способен выдавать 280 лошадиных сил максимальной мощности при 1300 оборотах в минуту. 
        Степень сжатия в данном агрегате составляет до 16,8.
    </p>
    <p>
        Ресурс двигателя, по заявлениям производителя, составляет более 800 тыс. км, что сопоставимо с возможностями зарубежных моторов.
    </p>
    <p>
        Двигатель КАМАЗ 740 50 360 оснащен турбонаддувом. 
        В конструкции предусмотрено два турбокомпрессора К27 со степенью повышения давления 2.9.
        Компрессоры размещаются на выпуске мотора и работают за счет энергии выхлопных газов. 
        С их помощью в двигатель нагнетается воздух под давлением и обогащается топливная смесь. 
        Турбокомпрессоры рассчитаны на вход выхлопных газов с температурой до 700 оС и обеспечивают вращением ротора вала 30 000 -120 000 об/мин.
    </p>

    <p></p>
    <p></p>
    <hr>
</div>



<!-- Движок 63 ---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10" id="740.63">
    <h3>
        Двигатель КАМАЗ 740.63-400
    </h3>
    <p>
        Наиболее мощный из моделей серии Евро 3, развивает силу в 400 л. с. Устанавливается на седельные тягачи КамАЗ 6460, 6460,
        65225, а также на самосвалах КамАЗ 6520. Крутящий момент двигателя КАМАЗ 740.63 соответствует 1766 Нм. Рабочий объём
        двигателя – 11,76л, как и у остальных двигателей этого класса.
    </p>
    <p></p>
    <hr>
</div>



<!-- Движок 73 ---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10" id="740.73">
    <h3>
            Двигатель КАМАЗ 740.73-400
    </h3>
    <p>
        Двигатель КамАЗ 740.73 Евро 4 - имеет дизельную конструкцию, состоящую из восьми цилиндров диаметром 120 мм. Он обладает
        мощностью в 400 лошадиных сил, которые доступны уже при 1350 оборотах в минуту коленчатого вала. Топливная аппаратура
        германского поставщика, которая установлена на мотор 740.73 400, позволяет значительно экономить топливо. Крутящий
        момент в 1766 килограмм-сил, позволяет данной модели достигать новых высот. Камаз двигатель 740730 имеет наименьший
        показатель угара масла в 0,06% от расхода топлива.
    </p>
    <p></p>
    <hr>
</div>





<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  <p>
    В основном на грузовик ставился с двигателем КАМАЗ-740.63-400, который выдавал 400 л.с. сил и отвечал нормам
    Евро-3. За систему впрыска Common Rail отвечала известная фирма Bosch. 
  </p>
  <p>
    На КамАЗе-6460 устанавливается 6-ступенчатая немецкая коробка передач ZF16S, обеспечивающая эффективную эксплуатацию
    грузовика. Трансмиссия модели включает литой седельно-сцепной механизм иностранного производства (Jost или Georg
    Fisher).
  </p>
  <p>
    <strong>Расход топлива</strong>
    По отзывам, расход топлива модели составляет 27л/100 км. 
    КамАЗ-6460 с иностранным двигателем при максимальной загрузке потребляет 48 л на 100 км, с отечественным
    агрегатом до 50-60 л на 100 км. 
  </p>
        
    <p>
        <strong> Модификации </strong>
        740.50-1000400-22<br>
        740.50-1000400-28<br>
        740.50-1000400-36<br>
        740.50-1000400-45<br>
        740.50-1000400-71<br>
        740.50-1000400-88<br>
        740.50-1000400-91<br>
        740.63-1000300-30<br>
        740.63-1000400<br>
        740.63-1000400-74<br>
        740.73-1000404<br>
        
  </p>
  <p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zY0vc-jsN00" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>
<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_04.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_14.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>

</div>