---
layout: default
title: Двигатель КамАЗ 5511 - каталог 740 Евро
metadesc: Выбор двигателя на самосвал КАМАЗ 5511. Модели моторов 740.10 740.11 740.31 евро-1. Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
metakeywords: двигатель КамАЗ 5511 740.10 7403 740-11 евро-0 евро-1 евро-2
h1: Двигатели на КамАЗ 5511
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <img src="/assets/img/avto_models/kamaz_5511_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#740.10" class="underline"> 740.10-210 </a> </td></tr>
        <tr><td> <a href="#7403.10" class="underline"> 7403.10-260 Турбо </a> </td></tr>
        <tr><td> <a href="#740.11" class="underline"> 740.11-240 Евро-1 </a> </td></tr>
        <tr><td> <a href="#740.31" class="underline"> 740.31-240 Евро-2</a> </td></tr>
        
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
        КамАЗ 5511 - самосвал, который встал на конвейер в далеком 1977 году. 
        Этот грузовик имеет колесную формулу 6х4 и грузоподъемность 10 тонн, был создан на базе КамАЗ-5320.
        <br>
        В конце 80-х, а именно в 1987 году, была разработана модификация КамАЗ-55111,
        которая в 1990 году полностью заменила старую 5511. 
        <br>В 2012 году эти автомобили были сняты с производства, а вместо них стали продавать КамАЗ-65115.
    </p>
    <p>
        На моделях первых годов выпуска были установлены КАМАЗовские атмосферные моторы с
        индексом 740.10.
    </p>
    <p>
        На более поздних версиях устанавливались моторы КАМАЗ 740.11 и 7403.10 мощностью 240 и 260 л.с. соответственно. 
        Оба дизеля оснащались системой турбонаддува воздуха в цилиндры. 
    </p>
    <p>
        Автомобиль может быть оснащен серийным двигателем КАМАЗ-740.31-240 (Евро-2).
    </p>
    <p>
        Двигатель установлен под кабиной в передней части, является четырехтактным 210-сильным агрегатом без турбонаддува с системой охлаждения закрытого типа.
        <br>
        Агрегат выпускали до 1990 года, а затем конструкторы немного его усовершенствовали: сменили дизель на более мощную
        модель с турбонаддувом, увеличили кузов, добавив ему задний борт, а также поставили рессоры. В итоге получился
        тринадцатитонный самосвал КамАЗ-55111, который предприятие производило до 2011 года. Эти две модели, отличающиеся всего
        одной цифрой в названии, очень похожи. Их легко перепутать, особенно издали.
        
        
    </p>
   
    
    </div>
</div>


<!-- Движок 10 ---------------------------------------------------------------->
<div id="740.10"></div>
{% assign page_url = "dvigatel_kamaz_740_10_210_evro0" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
        Модель силового агрегата КамАЗ 5511 740.10 представляет собой дизельный V-образный 8-цилиндровый двигатель
         рабочим объемом 10,85 литров мощностью 210 лошадиных сил.
         Крутящий момент — 637Н/м при оборотах 1500-1800. Топливные форсунки закрытого типа.
    </p>
    <p>
        
    </p>

    <p></p>
    <hr>
</div>


<!-- Движок турбо ---------------------------------------------------------------->
<div id="7403.10"></div>
{% assign page_url = "dvigatel_kamaz_7403_260_evro0" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
        Главным отличием от предшественника стало добавление турбин, изменение поршневой группы и
        и изменения в системе охлаждения. 
        Модифицированный двигатель позволил извлечь большую мощность и уменьшить расход топлива. 
        Двигатель зарекомендовал себя как неприхотливый в эксплуатации и недорогой в ремонте.
    </p>

    <p></p>
    <p></p>

    <hr>
</div>


<!-- Движок 11 ---------------------------------------------------------------->
<div id="740.11"></div>
{% assign page_url = "dvigatel_kamaz_740_11_240_evro1" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
            Мотор мощностью 210 лошадиных сил, рабочий объем 10,85 литра, диаметр одного цилиндра и ход поршня по 12 см.
            <br>
            В двигателе есть турбонаддув, жидкостное охлаждение, 16-клапанный механизм OHV.
            Средний расход топлива техники составляет 25 литров на каждые 100 км.
    </p>
    <p>
            Двигатель КАМАЗ евро 1 оснащался универсальной системой подачи топлива со следующими характеристиками:<br>
            - Насос низкого давления для подачи топлива.<br>
            - ТНВД с регулятором оборотов вращения;<br>
            - Закрытые форсунки с разносторонним распылением;<br>
            
    </p>
    <p></p>
    <hr>
</div>



<!-- Движок 31 ---------------------------------------------------------------->
<div id="740.31"></div>
{% assign page_url = "dvigatel_kamaz_740_31_240_evro2" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
            У силового агрегата Евро-2 8 цилиндров, все они имеют размер 120 мм и расположены V-образно в 2 ряда. На каждом цилиндре
            имеется впускной и выпускной клапан. Максимальный крутящий момент составляет 980 Нм. Качественный и надежный двигатель
            КамАЗ 740.31 240, цена которого полностью оправдана, получил вместительный рабочий объем – 10,85 л и высокую степень
            сжатия камеры сгорания – в 16 раз. Мощность мотора составляет 240 лошадиных сил (176 кВт): этого достаточно для
            перевозки тяжеловесных грузов и быстрого разгона даже при движении автомобиля на подъем.
            <br>
            Мотор неприхотлив в работе, оснащен надежным аккумулятором и качественным стартером, полностью адаптирован для эксплуатации в условиях холодного российского климата.
            <br> Купить двигатель КамАЗ 740.31 стоит еще и потому, что данная модель не требует особого ухода.
    </p>

    <p></p>
    <hr>
</div>



<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
    <p>
            Максимальная скорость у КамАЗ-5511 составляет 90 км/час, а высота преодолеваемых подъемов может достигать 25%.
            Хороших
            динамических показателей удалось достичь благодаря мощному дизельному мотору собственного производства КамАЗа. Силовой
            агрегат имеет V-образную 8-цилиндровую конструкцию с продольным передним расположением.
            <br>
            Рабочий объем мотора составляет 10,8 литра, а максимальные показатели мощности и крутящий момент достигают 210 лошадиных
            сил и 637 Н/м. Кстати, эти показатели достижимы уже начиная с 2600 об/мин.
    </p>
  <p>
        На всех модификациях автомобиля КАМАЗ 5511 первых годов выпуска устанавливалась механическая пятиступенчатая коробка
        передач собственной разработки. Одноступенчатый механизм, установленный на коробке передач, обеспечивает отбор мощности
        для работы гидропривода подъемного механизма. На переднем торце КПП закреплено сухое двухдисковое сцепление с
        гидроприводом и пневматическим усилителем. Главная передача – двухступенчатая с цилиндрическими и коническими
        шестернями. Задний мост оборудован межосевым дифференциалом конического типа с блокировкой.

  </p>
  <p>
      <strong>Расход топлива</strong>
        КамАЗ 5511 - один из самых экономичных грузовиков в своей категории.
        Согласно отзывам, средний расход топлива у КамАЗ-5511 в зимний период достигает 30 литров, а летом этот
        показатель не превышает 25-27 литров.
        <br>
        На все модификации грузовика устанавливался топливный бак на 300 литров.
  </p>
  <p>
    
  </p>
        
    <p>
        <strong> Модификации двигателя 5511 </strong>
        740.1000311<br>
        740.1000411<br>
        740.11-1000400<br>
        740.11-1000406-72<br>
        740.11-1000410-04<br>
        740.11-1000411-01<br>
        740.11-1000413-20<br>
        740.31-1000320<br>
        740.31-1000400-04<br>
        740.31-1000400-10<br>
        740.31-1000401-24<br>
        7403.1000401-10<br>
        <br>
        
  </p>
  <p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/c3PU5tXNJs8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_02.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_03.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>
  
</div>