---
layout: default
title: Двигатель КамАЗ 65201 - 740, Евро, Cummins
metadesc: Выбор двигателя на самосвал КАМАЗ 65201 Евро 1-5. Модели моторов 740.30 и 740.60. Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
metakeywords: двигатель КамАЗ 65201 740.30-1000400 евро-1 евро-2 евро-3 евро-4 евро-5
h1: Двигатели КамАЗ 65201
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <img src="/assets/img/avto_models/kamaz_65201_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#740.50" class="underline"> 740.50-360 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.60" class=""> 740.60-400 Евро-3</a> </td></tr>
        <tr><td> <a href="#740.73-400" class=""> 740.73-400 Евро-4</a> </td></tr>
        
        <tr><td> <a href="#ISLe.400" class="underline"> Cummins ISLe 400 Евро-5</a> </td></tr>
        
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
            КАМАЗ 65201 – современный и мощный самосвал грузоподъемностью 25,5 тонн. 
            Колесная формула 8х4 позволяет КАМАЗу 65201 транспортировать тяжелые грузы, сохраняя хорошую управляемость автомобиля.
    </p>
    <p>
        Самосвал КАМАЗ 65201 применяется при перевозке грузов там, где действительно необходима транспортировка тяжёлых и
        объёмных грузов.
        Двигатель мощностью 360 л.с., и самосвальная платформа объемом 16 куб. м. позволяют работать самосвалу КАМАЗ 65201 со
        значительными грузами, а топливный бак вместимостью 350 л. дает возможность КАМАЗ 65201 производить длительную
        транспортировку без дозаправки.
    </p>
 
</div>
</div>


<!-- Движок 50 ---------------------------------------------------------------->
<div id="740.50"></div>
{% assign page_url = "dvigatel_kamaz_740_50_360_evro2_3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p> 
        Двигатель КАМАЗ 65201 относится к классу экологического стандарта Евро-3. 
        Этот стандарт регулирует качество применяемого топлива и степень выброса вредных веществ в атмосферу.
        Двигатель КАМАЗ евро 3 имеет восемь цилиндров и 11,76 л рабочего объема. 
        Мотор способен выдавать 280 лошадиных сил максимальной мощности при 1300 оборотах в минуту. 
        Степень сжатия в данном агрегате составляет до 16,8.
    </p>

    <p></p>
    <p></p>
    <hr>
</div>

<!-- Движок  ---------------------------------------------------------------->

<div class="col-md-1"></div>
<div class="col-md-10" id="740.632">
    <h3>
            Двигатель КАМАЗ 740.60-400
    </h3>
    <p>
            Дизельный восьмицилиндровый двигатель КАМАЗ 740.632-400 мощностью 400 л.с. экологического стандарта Евро-4, с
            турбонаддувом, ОНВ, электронным управлением и системой топливоподачи типа «Common Rail».
            <br>
            Минимальный удельный расход топлива — 207 г/л.с.*ч. Расход масла на угар — не более 0,1% от расхода топлива. Ресурс —
            450 тыс. км пробега в составе полноприводных автомобилей.
            
    </p>

    <p></p>
    <p></p>
    <hr>
</div>



<div class="col-md-1"></div>
<div class="col-md-10" id="ISLe.400">
    <h3>
            КАМАЗ-65201 Камминз ISLe400 Евро-4
    </h3>
    <p>
            Двигатели Камминз сочетают в себе преимущества легкого и компактного мотора с конструкционной прочностью тяжелых
            двигателей, высокая ремонтопригодность, простота в управлении и работе двигателей делают автомобили Камаз с двигателем
            Камминз (Cummins) незаменимыми в условиях крайнего севера. Еще один плюс - пуск холодного двигателя до -12 гр. без
            средства облегчения.
            <br>
            
    </p>

    <p></p>
    <p></p>
    <hr>
</div>



<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  <p>
        
        В зависимости от марки двигателя КамАЗ 65201  он может быть укомплектован моделями КПП КАМАЗ: 154,
        ZF-16S151 и ZF-9S109.
        <br>- Коробка передач на КАМАЗ модели 154, имеет редуктор и установленный планетарный демультипликатор.
        Десятиступенчатая, механическая, с механизмом, предохраняющим от включения задней скорости случайным нажатием рычага.
        <br>- КПП ZF-9S109 – девятиступенчатая, с наличием пониженной передачи.
        <br>- Модель КПП ZF 16S151 – шестнадцатиступенчатая КПП, с двухступенчатым планетарным демультипликатором и
        интегрированным двухступенчатым делителем.<br>
        
  </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_08.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_09.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>

</div>