---
layout: default
title: Двигатель КамАЗ 55111 740 Евро
metadesc: Выбор двигателя на самосвал КАМАЗ 55111. Модели моторов 740.10 740.11 740.31 евро-1. Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
metakeywords: двигатель КамАЗ 55111  740.10 7403 740.11 740.31 740.51 евро-0 евро-1 евро-2
h1: Двигатели на КамАЗ 55111
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <img src="/assets/img/avto_models/kamaz_55111_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#740.10" class="underline"> 740.10-210 </a> </td></tr>
        <tr><td> <a href="#7403.10" class="underline"> 7403.10-260 Турбо </a> </td></tr>
        <tr><td> <a href="#740.11" class="underline"> 740.11-240 Евро-1 </a> </td></tr>
        <tr><td> <a href="#740.31" class="underline"> 740.31-240 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.51" class="underline"> 740.51-320 Евро-2-3</a> </td></tr>
        
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
        КамАЗ 55111 - самосвал, который встал на конвейер в 1987 году. 
        Этот грузовик имеет колесную формулу 6х4 и грузоподъемность 10 тонн, был создан на базе КамАЗ-5320.
        <br>
        
    </p>
    <p>
        Устанавливались турбо модификацию 7403.10, которая развивает 260 л.с. Также
        на 55111 встречается атмосферник 740.10-220, на 220 л.с. Экологический класс обоих ДВС — Евро-0.
        
    </p>
    <p>
        На более поздних версиях устанавливались моторы КАМАЗ 740.11 и 7403.10 мощностью 240 и 260 л.с. соответственно. 
        Оба дизеля оснащались системой турбонаддува воздуха в цилиндры. 
    </p>
    <p>
        Далее автомобиль выпускали модели 55111 Евро-2 оснащалась доработанным дизелем Камаз-740.31-240. Мощность такого агрегата такая же — 240 л.с.
    </p>
    <p>
     На последних моделях устанавливался четырехтактный восьмицилиндровый мотор КАМАЗ 740.51-240 с турбонаддувом, по своим
        техническим характеристикам полностью соответствующий экологическим стандартам ЕВРО-2.

    </p>
    <p>
        
        <br>
        Главным отличием КАМАЗа-55111 от модели КАМАЗ-5511 выпускавшейся ранее стал укороченный кузов, обеспечивший машине
        большую маневренность. На протяжении всех годов выпуска (с 1987 по 2012 год) машина
        постоянно модернизировалась. Была увеличена грузоподъемность, установлены более мощные и современные двигатели, усилены
        и доработаны другие узлы и элементы. В 1998 году на заводе начали выпуск более современной модели получившей отраслевой
        индекс КАМАЗ-65115, грузоподъемность которого была повышена до 15 тонн.
        
        
    </p>
   
    
    </div>
</div>


<!-- Движок 10 ---------------------------------------------------------------->
<div id="740.10"></div>
{% assign page_url = "dvigatel_kamaz_740_10_210_evro0" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
        Модель силового агрегата КамАЗ 55111 740.10 представляет собой дизельный V-образный 8-цилиндровый двигатель
         рабочим объемом 10,85 литров мощностью 210 лошадиных сил.
         Крутящий момент — 637Н/м при оборотах 1500-1800. Топливные форсунки закрытого типа.
    </p>
    <p>
        
    </p>

    <p></p>
    <hr>
</div>


<!-- Движок турбо ---------------------------------------------------------------->
<div id="7403.10"></div>
{% assign page_url = "dvigatel_kamaz_7403_260_evro0" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
        Главным отличием от предшественника стало добавление турбин, изменение поршневой группы и
        и изменения в системе охлаждения. 
        Модифицированный двигатель позволил извлечь большую мощность и уменьшить расход топлива. 
        Двигатель зарекомендовал себя как неприхотливый в эксплуатации и недорогой в ремонте.
    </p>

    <p></p>
    <p></p>

    <hr>
</div>


<!-- Движок 11 ---------------------------------------------------------------->
<div id="740.11"></div>
{% assign page_url = "dvigatel_kamaz_740_11_240_evro1" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
            Мотор мощностью 210 лошадиных сил, рабочий объем 10,85 литра, диаметр одного цилиндра и ход поршня по 12 см.
            <br>
            В двигателе есть турбонаддув, жидкостное охлаждение, 16-клапанный механизм OHV.
            Средний расход топлива техники составляет 25 литров на каждые 100 км.
    </p>
    <p>
            Двигатель КАМАЗ евро 1 оснащался универсальной системой подачи топлива со следующими характеристиками:<br>
            - Насос низкого давления для подачи топлива.<br>
            - ТНВД с регулятором оборотов вращения;<br>
            - Закрытые форсунки с разносторонним распылением;<br>
            
    </p>
    <p></p>
    <hr>
</div>



<!-- Движок 31 ---------------------------------------------------------------->
<div id="740.31"></div>
{% assign page_url = "dvigatel_kamaz_740_31_240_evro2" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
        У силового агрегата Евро-2 8 цилиндров, все они имеют размер 120 мм и расположены V-образно в 2 ряда. На каждом цилиндре
        имеется впускной и выпускной клапан. Максимальный крутящий момент составляет 980 Нм. Качественный и надежный двигатель
        КамАЗ 740.31 240, цена которого полностью оправдана, получил вместительный рабочий объем – 10,85 л и высокую степень
        сжатия камеры сгорания – в 16 раз. Мощность мотора составляет 240 лошадиных сил (176 кВт): этого достаточно для
        перевозки тяжеловесных грузов и быстрого разгона даже при движении автомобиля на подъем.
        <br>
        Мотор неприхотлив в работе, оснащен надежным аккумулятором и качественным стартером, полностью адаптирован для эксплуатации в условиях холодного российского климата.
        <br> Купить двигатель КамАЗ 740.31 стоит еще и потому, что данная модель не требует особого ухода.
    </p>

    <p></p>
    <hr>
</div>



<!-- Движок 51 ---------------------------------------------------------------->
<div id="740.51"></div>
{% assign page_url = "dvigatel_kamaz_740_51_320_evro2_3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p> 
        Двигатель КамАЗ евро-2-3 имеет восемь цилиндров и 11,76 л рабочего объема. 
        Мотор способен выдавать 280 лошадиных сил максимальной мощности при 1300 оборотах в минуту. 
        Степень сжатия в данном агрегате составляет до 16,8.
        <br>
        В процессе работы поступающий в цилиндры воздух предварительно охлаждается. Для надежного запуска при низких температурах, мотор КамАЗа-55111 оснащается предпусковым подогревателем.
    </p>
    <p></p>
    <hr>
</div>







<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
    <p>
        За время выпуска автомобиль КАМАЗ-55111 оснащался различными модификациями двигателя серии КАМАЗ-740.
        
    </p>
  <p>
        В трансмиссии автомобиля применяются механические коробки передач: 5-ти ступенчатая модификация 14 без делителя с
        передаточным числом главной передачи 7,22, и 5-ти ступенчатая модификация 15 с делителем и передаточным числом главной
        передачи 6,53. Привод КПП – механический, дистанционный, напольным рычагом.Для передачи крутящего момента от двигателя на элементы трансмиссии применялось диафрагменное или фрикционное сухое двухдисковое сцепление. Управление сцеплением гидравлическое, с пневмоусилителем.

  </p>
  <p>
        Для гарантии надёжного запуска в морозную погоду двигатели КамАЗ-55111 дополнялись предпусковыми подогревателями модели ПЖД 15.8106-01. Расход дизтоплива данный двигатель обеспечивает в районе 30-ти литров на 100 километров пробега.
        
  </p>
  <p>
    
  </p>
        
    <p>
        <strong> Модификации двигателя 55111 </strong>
        740.1000311<br>
        740.1000411<br>
        740.11-1000400<br>
        740.11-1000406-72<br>
        740.11-1000410-04<br>
        740.11-1000411-01<br>
        740.11-1000413-20<br>
        740.31-1000320<br>
        740.31-1000400-04<br>
        740.31-1000400-10<br>
        740.31-1000401-24<br>
        7403.1000401-10<br>
        <br>
        
  </p>
  <p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PofeH1P0ers" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_09.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_10.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>

</div>