---
layout: default
title: Двигатель КамАЗ 65115 - 740, Евро, Cummins
metadesc: Выбор двигателя на самосвал КАМАЗ 65115 Евро 1-3. Модели моторов 740.30 и 740.60. Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
metakeywords: двигатель КамАЗ 65115 740.30-1000400 евро-1 евро-2 евро-3
h1: Двигатель на КамАЗ 65115
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <img src="/assets/img/avto_models/kamaz_65115_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#740.11" class="underline"> 740.11-240 Евро-1</a> </td></tr>
        <tr><td> <a href="#740.13" class="underline"> 740.13-260 Евро-1</a> </td></tr>
        <tr><td> <a href="#740.30" class="underline"> 740.30-260 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.50" class="underline"> 740.50-360 Евро-3</a> </td></tr>
        <tr><td> <a href="#740.62" class="underline"> 740.62-280 Евро-3-4</a> </td></tr>
        <tr><td> <a href="#6ISBe.285" class="underline"> Cummins 6ISBe 285 Евро-4-5</a> </td></tr>
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
        <p>
            КамАЗ-65115 появился в 1998 году. Это мощный строительный грузовик, позволяющий перемещать до 15 т груза, с
            максимальной скоростью до 95 км/час, неплохо справляющийся с бездорожьем.
            <br>Машина неоднократно совершенствовалась, укомплектовывалась улучшенными силовыми агрегатами,
            но при этом не теряла простоту управления и эксплуатации.

            <p>
                Первое время на самосвал КамАЗ 65115 устанавливался двигатель модели
                <a href="#740.11" class="underline"> <b>740.11-240</b></a> мощностью в 240
                лошадиных сил и <a href="#740.13" class="underline"> <b>740.13-260</b></a> Турбо
                
            </p>
            <p>
                Модификации класса Евро-2 использовали силовые установки 
                <a href="#740.30" class="underline"> <b>740.30-260</b></a> с отдачей в 260 л.с. и
                740.50-360, который имел увеличенный до 11.8 литров рабочий объем и мощность 360 сил.
            </p>
            <p>
                Под Евро-3 выпускалась модель с движком КамАЗ <a href="#740.62" class="underline"> <b>740.62-280</b></a> л.с.
                Под Евро-4 - мотор <b>740.622-280</b> л.с.
            </p>

            <p>
                Последние модификации модели комплектуются 6-цилиндровыми дизельными двигателями
                <a href="#6ISBe.285" class="underline"> <b>CUMMINS 6ISBe 285</b></a>
                рабочим объемом 6,7 литра и мощностью 282 л.с.
                <br>
                Существуют и более мощные модификации с тем же типом двигателя — их мощность составляет 300 и
                325 л.с.


            </p>
            <p>
                Также ставились на КамАЗ двигатели ЯМЗ-6562, на 250 л.с.
                <br> 
                Кроме дизельных двигателей, сюда ставили газовые Камаз-820.60 на 260 л.с.
                    
               
                
            </p>
    </div>
</div>


<!-- Движок 11 ---------------------------------------------------------------->
<div id="740.11"></div>
{% assign page_url = "dvigatel_kamaz_740_11_240_evro1" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}


<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
        Первые выпуски КамАЗ 65115 комплектовались дизельным двигателем КАМАЗ-740.11-240, 
        соответствующим требованиям ЕВРО-1,
        который развивал мощность до 240 л.с. при крутящем моменте до 85кг/м. 
        Достичь таких характеристик мотору помогало
        применение турбонаддува. Для использование с таким дизелем была предназначена 10-ступенчатая механическая коробка передач
        в комплекте со сцеплением, имеющим пневмоусилитель.
    </p>

    <p></p>
    <p></p>

    <hr>
</div>


<!-- Движок 13 ---------------------------------------------------------------->
<div id="740.13"></div>
{% assign page_url = "dvigatel_kamaz_740_13_260_evro1" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}


<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
        Двигатель КАМАЗ 65115 740.13 мощностью 260 л.с.
         устанавливался на многие серийные автомобили КамАЗ выпускающиеся до 2006 года 
         и соответствующие экологическому классу Евро1.
    </p>
<p>
        Двигатель на КамАЗ 65115 ценят за его надежность, экономичность,
         низкую стоимость расходных материалов и запасных частей.
</p>
    <p></p>
    <p></p>

    <hr>
</div>

<!-- Движок 30 ---------------------------------------------------------------->
<div id="740.30"></div>
{% assign page_url = "dvigatel_kamaz_740_30_260_evro2" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}


<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
            Двигатель КамАЗ 65115 Евро-2 применялся на многих моделях, например, на 65116,65117, 
            на полноприводных 43114, 43118. Выпускается мотор с 2005 года.
            Расположение цилиндров 8, V-образное, топливо дизельное, объем работы в литрах — 10,85. 
    </p>

    <p></p>
    <p></p>
    <hr>
</div>

<!-- Движок 50 ---------------------------------------------------------------->
<div id="740.50"></div>
{% assign page_url = "dvigatel_kamaz_740_50_360_evro2_3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p> 
        Двигатель КАМАЗ 65115 относится к классу экологического стандарта Евро-3. 
        Этот стандарт регулирует качество применяемого топлива и степень выброса вредных веществ в атмосферу.
        Двигатель КАМАЗ евро 3 имеет восемь цилиндров и 11,76 л рабочего объема. 
        Мотор способен выдавать 280 лошадиных сил максимальной мощности при 1300 оборотах в минуту. 
        Степень сжатия в данном агрегате составляет до 16,8.
    </p>

    <p></p>
    <p></p>
    <hr>
</div>


<!-- Движок 3 ---------------------------------------------------------------->
<div id="740.62"></div>
{% assign page_url = "dvigatel_kamaz_740_62_280_evro3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
            Двигатель на КамАЗ 65115 отличается усовершенствованной системой подачи топлива, 
            оборудуется ТНВД германской фирмы «Bosch».<br>
            Ресурс, на который рассчитан современный двигатель КАМАЗ евро 3,
            составляет более 800 тысяч километров. 
            
    </p>

    <p></p>
    <p></p>
    <hr>
</div>


<!-- Движок cummins  ---------------------------------------------------------------->
<div id="6ISBe.285"></div>
{% assign page_url = "dvigatel_kamminz_6ISBe_285" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
        C этим двигателем КАМАЗ 65115 ставится девяти-ступенчатая коробка передач ZF 9S1310. 
        В CUMMINS 6ISBe 285 установлена топливная аппаратура Bosch Common Rail.
        Она требовательна к качеству топлива, потому важно ставить только оригинальные фильтры.
        Замена фильтра должна происходить каждые 15 тысяч км.
    </p>

    <p></p>
    <p></p>
    <hr>
</div>




<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  <p>
        
        Двигатель на КАМАЗ 65115 устанавливается дизельный с турбонаддувом и промежуточным охлаждением надувного воздуха.
        
        <br>

        На основе 65115 были созданы тягач 65116 и бортовой автомобиль 65117.
  </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_04.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_07.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>
  <p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_12.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_13.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>

</div>