---
layout: default
title: Двигатель КамАЗ 53605 
metadesc: Выбор двигателя на грузовки КАМАЗ 53605 Евро 2-5. Модели моторов 740.30 740.31 740.62 Камминз 6ISBe. Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
metakeywords: двигатель КамАЗ 53605 740.30 740.31 740.62 Cummins 6ISBe евро-3 евро-4 евро-5
h1: Двигатели на КамАЗ 53605
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <img src="/assets/img/avto_models/kamaz_53605_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#740.30" class="underline"> 740.30-260 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.31" class="underline"> 740.31-240 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.62" class="underline"> 740.62-280 Евро-3-4</a> </td></tr>
        <tr><td> <a href="#6ISBe.300" class="underline"> Cummins 6ISBe 300 Евро-4-5</a> </td></tr>
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
        КамАЗ 53605 - это двухосный грузовик с колёсной формулой 4х2, представленный в двух вариантах исполнения:
         универсальное шасси и самосвал. Выпускается с 2005 года.
         
        В 2012 году грузовик получил обновленную кабину. 
        Технические характеристики КамАЗ-53605 позволяют его использовать для транспортировки тяжелых грузов.

    </p>
    <p>
        Изначально на КамАЗ-536О5 применялись только собственные, классические КамАЗовские дизельные двигатели:
        - КамАЗ 74О.31-24О, мощностью 240 л.с.,
        - КамАЗ 74О.3О-26О, мощностью 260 л.с. и КамАЗ 74О.62-28О, мощность 280 л.с.<br> 
        Это восьмицилиндровые V-образные дизельные моторы с турбонаддувом и системой промежуточного охлаждения
        наддувочного воздуха, c объёмом 10,85 литров.
                
    </p>
    <p> В настоящее время (конец 2018 года) единственным двигателем является <a href="#6ISBe.300" class="underline">Cummins ISB6.7 300</a>.</p>
    <p> Его сборка осуществляется в Набережных Челнах, на совместном предприятии «Камминз-Кама».
            </p>
    </div>
</div>



<!-- Движок 30 ---------------------------------------------------------------->
<div id="740.30"></div>
{% assign page_url = "dvigatel_kamaz_740_30_260_evro2" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}


<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
            Двигатель КамАЗ 53605 Евро-2 применялся на многих моделях. 
            Выпускается мотор с 2005 года.
            Расположение цилиндров 8, V-образное, топливо дизельное, объем работы в литрах — 10,85. 
    </p>
    <p></p>
    <hr>
</div>



<!-- Движок 31 ---------------------------------------------------------------->
<div id="740.31"></div>
{% assign page_url = "dvigatel_kamaz_740_31_240_evro2" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
            У силового агрегата Евро-2 8 цилиндров, все они имеют размер 120 мм и расположены V-образно в 2 ряда. На каждом цилиндре
            имеется впускной и выпускной клапан. Максимальный крутящий момент составляет 980 Нм. Качественный и надежный двигатель
            КамАЗ 740.31 240, цена которого полностью оправдана, получил вместительный рабочий объем – 10,85 л и высокую степень
            сжатия камеры сгорания – в 16 раз. Мощность мотора составляет 240 лошадиных сил (176 кВт): этого достаточно для
            перевозки тяжеловесных грузов и быстрого разгона даже при движении автомобиля на подъем.
            <br>
            Мотор неприхотлив в работе, оснащен надежным аккумулятором и качественным стартером, полностью адаптирован для эксплуатации в условиях холодного российского климата.
            <br> Купить двигатель КамАЗ 740.31 стоит еще и потому, что данная модель не требует особого ухода.
    </p>
    <p></p>
    <hr>
</div>



<!-- Движок 3 ---------------------------------------------------------------->
<div id="740.62"></div>
{% assign page_url = "dvigatel_kamaz_740_62_280_evro3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
            Двигатель на КамАЗ 53605 отличается усовершенствованной системой подачи топлива, 
            оборудуется ТНВД германской фирмы «Bosch».<br>
            Ресурс, на который рассчитан современный двигатель КАМАЗ евро 3,
            составляет более 800 тысяч километров. 
            
    </p>
    <p></p>
    <hr>
</div>


<!-- Движок cummins  ---------------------------------------------------------------->
<div id="6ISBe.300"></div>
{% assign page_url = "dvigatel_kamminz_6ISBe_300" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
        C этим двигателем КАМАЗ 53605 ставится девяти-ступенчатая коробка передач ZF 9S1310. 
        В CUMMINS 6ISBe 300 установлена топливная аппаратура Bosch Common Rail.
        Она требовательна к качеству топлива, потому важно ставить только оригинальные фильтры.
        Замена фильтра должна происходить каждые 15 тысяч км.
    </p>
    <p></p>
    <hr>
</div>




<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  <p>
        
    
    Двигатели КамАЗ-536О5 комплектовались коробками передач собственного производства
    КамАЗ-154 и шестискоростными МКПП ZF модели 6S1000. 
    С двигателем КПП соединяются посредством диафрагменного сухого
    однодискового сцепления MFZ430 или MFZ395, имеющего гидравлический привод с пневмоусилителем.
    Производитель сцепления «ZF-Кама».

        
  </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_06.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_07.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>

</div>