---
layout: default
title: Двигатель КамАЗ Евро 3
metadesc: Выбор двигателя КамАЗ Евро 3. Модели моторов 740.60, 740.61, 740.62, 740.63, 740.64, 740.65. Прайс-лист, каталог, описание, характеристики.
metakeywords: двигатель КамАЗ евро-3 Е3 Е-3 740.60, 740.61, 740.62, 740.63, 740.64, 740.65
h1: Двигатель КамАЗ Евро 3
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <h3 style="padding-top: 0px;">Двигатели Евро-3</h3>
    <table class="table">
        <tr><td> <a href="#740.60" class="">740.60-360 Евро-3</a> </td></tr>
        <tr><td> <a href="#740.61" class="">740.61-320 Евро-3</a> </td></tr>
        <tr><td> <a href="#740.62" class="underline">740.62-280 Евро-3-4</a> </td></tr>
        <tr><td> <a href="#740.63" class="">740.63-400 Евро-3-4</a> </td></tr>
        <tr><td> <a href="#740.64" class="">740.64-420 Евро-3-4</a> </td></tr>
        <tr><td> <a href="#740.65" class="">740.65-240 Евро-3-4</a> </td></tr>
        
        
        <!-- <tr><td> <a href="#6ISBe.285" class="underline"> Cummins 6ISBe 285 Евро-4-5</a> </td></tr> -->
    </table>
    <img src="/assets/img/avto_models/kamaz_5511_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
</div>
<div class="col-md-9">
    <div class="alert alert-info">
        <p>
            Двигатели КамАЗ евро 3 – серия моторов, разработанных заводом в Набережных Челнах, которые
            применяются на различную технику, в том числе других производителей и на спецтехнику.
            <br>
            Класс двигателей КамАЗ Евро 3 : 740.60-360, 740.61-320, 740.62-280, 740.63-400, 740.64-420, 740.65-240.
        </p>
        
        <p>
            Экологический класс Евро 3 представляет собой документ, регламентирующий концентрацию
            вредных примесей для бензиновых и дизельных моторов. 
            По сравнению с предыдущим Евро-2 требования были повышены на 30–40%
        </p>
        
        <p>
            Двигатель КамАЗ евро 3, как и все силовые агрегаты Камского завода, имеют V-образное размещение цилиндров под углом
            90 градусов, по четыре в ряд. Моторы эти работают на дизельном топливе, воспламеняется рабочая смесь посредством
            высокого давления. Камера сгорания находится в поршне, куда и впрыскивается топливо. Номинальная частота оборотов
            двигателя – 1900 оборотов в минуту.
        </p>
   
        
        <p>
            Устанавливают на двигатель КамАЗ ТНВД Бош, что значительно улучшает работу мотора. 
            Электронная система управления этого насоса обеспечивает бесперебойную подачу
            горючего в мотор на всех режимах работы. Топливная система Bosh
            развивает давление поступающего в двигатель топлива до 120-160 МПа, что выгодно отличает его от ТНВД
            «ЯЗДА».
        </p>
        
        
    </div>
</div>


<!-- Движок 60 ---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10" id="740.60">
    <h3>
            Двигатель КАМАЗ 740.60-360
    </h3>
    <p>
        Мотор КамАЗ 740.60 широко применяются на грузовиках тяжелого класса КамАЗ 6520 (6520-011-60, 6520-010-60,
         шасси моделей 6520-1072-60 и другие). 
        Мощность двигателя 360 лошадиных сил (265 Квт). 
        Максимальный крутящий момент двигателя КамАЗ Евро-3 – 1570 Нм. 
        Комплектуется топливной аппаратурой «Bosch» или» «Язда».
    </p>
    <p></p>
    <hr>
</div>



<!-- Движок 61 ---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10" id="740.61">
    <h3>
        Двигатель КАМАЗ 740.61-320
    </h3>
    <p>
        Этот мотор дефорсирован до 320 л. с.<br> 
        Он также применяются на модели 6520, но с меньшей грузоподъёмность, на самосвалы КамАЗ 5460. 
        Данный двигатель КамАЗ Евро 3 имеет габариты: 1280х930х1045 мм. Сухая масса мотора – 885 кг. Максимальный крутящий
        момент - 1373 Нм.
    </p>
    <p></p>
    <hr>
</div>



<!-- Движок 62 ---------------------------------------------------------------->
<div id="740.62"></div>
{% assign page_url = "dvigatel_kamaz_740_62_280_evro3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
            Двигатель на КамАЗ 740.62 отличается усовершенствованной системой подачи топлива, 
            оборудуется ТНВД германской фирмы «Bosch».<br>
            Ресурс, на который рассчитан современный двигатель КАМАЗ евро 3,
            составляет более 800 тысяч километров.             
    </p>
    <p></p>
    <hr>
</div>



<!-- Движок 63 ---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10" id="740.63">
    <h3>
        Двигатель КАМАЗ 740.63-400
    </h3>
    <p>
        Наиболее мощный из моделей серии Евро 3, развивает силу в 400 л. с. Устанавливается на седельные тягачи КамАЗ 5460, 6460,
        65225, а также на самосвалах КамАЗ 6520. Крутящий момент двигателя КАМАЗ 740.63 соответствует 1766 Нм. Рабочий объём
        двигателя – 11,76л, как и у остальных двигателей этого класса.
    </p>
    <p></p>
    <hr>
</div>



<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  
<h3>Технические характеристики двигателя Камаз Евро-3 740.60, 740.61, 740.62, 740.63, 740.64, 740.65</h3>
<table align="center" class="table">
    <tbody>
        <tr>
            <th>Модель</th>
            <th style="padding: 5px">740.60-360</th>
            <th style="padding: 5px">740.61-320</th>
            <th style="padding: 5px">740.62-280</th>
            <th style="padding: 5px">740.63-400</th>
            <th style="padding: 5px">740.64-420</th>
            <th style="padding: 5px">740.65-240</th>
        </tr>

        <tr>
            <td>Расположение и число цилиндров</td>
            <td colspan="6" style="text-align: center;">V-8</td>
        </tr>

        <tr>
            <td>Диаметр цилиндра и ход поршня, мм</td>
            <td colspan="6" style="text-align: center;">120x130</td>
        </tr>

        <tr>
            <td>Рабочий объём, л</td>
            <td colspan="6" style="text-align: center;">11,76</td>
        </tr>

        <tr>
            <td>Степень сжатия</td>
            <td colspan="6" style="text-align: center;">16,8</td>
        </tr>

        <tr>
            <td>Максимальная полезная мощность по Правилам
                ЕЭК ООН № 85-00, номинальная мощность нетто
                по ГОСТ 14846-81, л.с., не менее</td>
            <td style="text-align: center;">360

            </td>
            <td style="text-align: center;">320</td>
            <td style="text-align: center;">280</td>
            <td style="text-align: center;">400</td>
            <td style="text-align: center;">420</td>
            <td style="text-align: center;">240</td>
        </tr>

        <tr>
            <td>Номинальная частота вращения
                коленчатого вала, мин<sup>-1</sup></td>
            <td colspan="6" style="text-align: center;">1900</td>
        </tr>

        <tr>
            <td>Максимальный полезный крутящий момент по
                Правилам ЕЭК ООН № 85-00, максимальный
                крутящий момент нетто по ГОСТ 14846-81,
                кгс*м, не менее</td>
            <td style="text-align: center;">1570

            </td>
            <td style="text-align: center;">1373</td>
            <td style="text-align: center;">1177</td>
            <td style="text-align: center;">1766</td>
            <td style="text-align: center;">1864</td>
            <td style="text-align: center;">981</td>
        </tr>

        <tr>
            <td>Частота вращения коленчатого вала,
                соответствующая максимальному
                крутящему моменту, мин<sup>-1</sup></td>
            <td colspan="6" style="text-align: center;">1300</td>
        </tr>

        <tr>
            <td>Минимальный удельный расход
                топлива, г/(л.с.*ч)</td>
            <td colspan="6" style="text-align: center;">207</td>
        </tr>

        <tr>
            <td>Расход масла на угар на режиме
                номинальной мощности, в % от
                расхода топлива, не более</td>
            <td colspan="6" style="text-align: center;">0,1</td>
        </tr>

        <tr>
            <td>Масса двигателя
                в комплектности поставки, кг</td>
            <td colspan="6" style="text-align: center;">885</td>
        </tr>
        
        <tr>
            <td>Габаритные размеры: Длина х Ширина х Высота, мм</td>
            <td colspan="6" style="text-align: center;">1260х930х1045</td>
        </tr>
    </tbody>
</table>


<h3>Купить двигатель КамАЗ Евро 3 </h3>
<p>
    Не все продавцы могут могут предложить Вам настоящие гарантии на свои двигатели.
    Многие недобросовестные продавцы вводят покупателей в заблуждение,
    подсовывая минимальную комплектацию. 
    Перед покупкой двигателя на КамАЗ евро 3 проверьте, что он имеет нужную комплектацию,
     включающую в себя навесное оборудование. Но и укомплектованные двигатели могут иметь разную стоимость - ТНВД Bosсh стоит дороже, чем ТНВД Язда.
</p>
<p>
    
</p>
<p></p>
<p></p>
{% include kupite_u_nas.html %}

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_07.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_11.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>
  
<p></p>
  
<div style="height: 100px;">&nbsp;</div>

</div>