---
layout: default
title: Двигатель КамАЗ Евро 2
metadesc: Выбор двигателя КамАЗ Евро 2. Модели моторов 740.30, 740.31, 740.50, 740.51. Прайс-лист, каталог, описание, характеристики.
metakeywords: двигатель КамАЗ евро-2 740.30-260
h1: Двигатель КамАЗ Евро-2
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <h3 style="padding-top: 0px;">Двигатели Евро-2</h3>
    <table class="table">
        <tr><td> <a href="#740.30" class="underline"> 740.30-260 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.31" class="underline"> 740.31-240 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.50" class="underline"> 740.50-360 Евро-2-3</a> </td></tr>
        <tr><td> <a href="#740.51" class="underline"> 740.51-320 Евро-2-3</a> </td></tr>
        <!-- <tr><td> <a href="#740.62" class="underline"> 740.62-280 Евро-3-4</a> </td></tr>
        <tr><td> <a href="#6ISBe.285" class="underline"> Cummins 6ISBe 285 Евро-4-5</a> </td></tr> -->
    </table>
    <img src="/assets/img/avto_models/kamaz_5511_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
</div>
<div class="col-md-9">
    <div class="alert alert-info">
        <p>
            В классе двигателей КамАЗ Евро 2 находятся модели:  740.30, 740.31, 740.50 и 740.51. 
        </p>
        <p>
            <a href="#740.30" class="underline">740.30-260</a> - сочетается только с коробкой 154 или ZF. 
            Обычно используется при модернизации/переоборудовании КамАЗ с двигателем Cummins.
        </p>
        <p>
            <a href="#740.31" class="underline">740.31-240</a> - единственная модель класса евро-2, которая подходит под коробку с делителем старого
            образца (15 или 152).
        </p>
        <p>
            Модели 740.31 и 740.30 достаточно распространы, эти моторы устанавливают и производители автобусов ЛИАЗ
             и используются для работы на сельсхозяйственной технике.
        </p>
        
        <p>
            <a href="#740.50" class="underline">740.50</a> и <a href="#740.51" class="underline">740.51</a>
             - отличаются мощностью, ТНВД и некоторыми единицами навесного оборудования, абсолютно
            взаимозаменяемы и похожи между собой.
        </p>
        
        <p>
            Дизельные двигатели объемом 10,85 л., мощностью 240 и 260 лошадиных сил. 
            Двигатель КАМАЗ- 740.11-240 ЕВРО-1 отличается надежностью и неприхотливостью в эксплуатации и ремонте.
            Силовые агрегаты в комплекте с этим двигателем и коробкой передач КАМАЗ-14 и 15 устанавливаются 
            практически на все модели автомобилей КамАЗ. Двигатель модели 740.11 рассчитаны на эксплуатацию в различных природных, климатических и географических условиях — от пустыни и
            лесов до горных районов.
        </p>
   
        
        <p>
        </p>
        
        
    </div>
</div>




<!-- Движок 30 ---------------------------------------------------------------->
<div id="740.30"></div>
{% assign page_url = "dvigatel_kamaz_740_30_260_evro2" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
            Двигатель КамАЗ Евро-2 применялся на многих моделях, например, на 65116,65117, 
            на полноприводных 43114, 43118. Выпускается мотор с 2005 года.
            Расположение цилиндров 8, V-образное, топливо дизельное, объем работы в литрах — 10,85. 
    </p>

    <p></p>
    <hr>
</div>



<!-- Движок 31 ---------------------------------------------------------------->
<div id="740.31"></div>
{% assign page_url = "dvigatel_kamaz_740_31_240_evro2" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
            У силового агрегата Евро-2 8 цилиндров, все они имеют размер 120 мм и расположены V-образно в 2 ряда. На каждом цилиндре
            имеется впускной и выпускной клапан. Максимальный крутящий момент составляет 980 Нм. Качественный и надежный двигатель
            КамАЗ 740.31 240, цена которого полностью оправдана, получил вместительный рабочий объем – 10,85 л и высокую степень
            сжатия камеры сгорания – в 16 раз. Мощность мотора составляет 240 лошадиных сил (176 кВт): этого достаточно для
            перевозки тяжеловесных грузов и быстрого разгона даже при движении автомобиля на подъем.
            <br>
            Мотор неприхотлив в работе, оснащен надежным аккумулятором и качественным стартером, полностью адаптирован для эксплуатации в условиях холодного российского климата.
            <br> Купить двигатель КамАЗ 740.31 стоит еще и потому, что данная модель не требует особого ухода.
    </p>

    <p></p>
    <hr>
</div>



<!-- Движок 50 ---------------------------------------------------------------->
<div id="740.50"></div>
{% assign page_url = "dvigatel_kamaz_740_50_360_evro2_3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p> 
        Двигатель КамАЗ евро 2 имеет восемь цилиндров и 11,76 л рабочего объема. 
        Мотор способен выдавать 280 лошадиных сил максимальной мощности при 1300 оборотах в минуту. 
        Степень сжатия в данном агрегате составляет до 16,8.
    </p>
    <p></p>
    <hr>
</div>


<!-- Движок 51 ---------------------------------------------------------------->
<div id="740.51"></div>
{% assign page_url = "dvigatel_kamaz_740_51_320_evro2_3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p> 
        Двигатель КамАЗ евро-2-3 имеет восемь цилиндров и 11,76 л рабочего объема. 
        Мотор способен выдавать 280 лошадиных сил максимальной мощности при 1300 оборотах в минуту. 
        Степень сжатия в данном агрегате составляет до 16,8.
    </p>
    <p></p>
    <hr>
</div>





<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  
  <h3>Технические характеристики двигателя Камаз Евро-2 740.31, 740.30</h3>
<table class="table" style="width: unset;">
    <thead>
        <tr>
            <td>Модель двигателя</td>
            <td>740.31-240</td>
            <td>740.30-260</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Мощность кВт (л.с.)</td>
            <td>176(240)</td>
            <td>191(260)</td>
        </tr>
        <tr>
            <td>Частота вращения коленвала мин&nbsp;-1</td>
            <td>2200</td>
            <td>2200</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент Нм(кГм)</td>
            <td>980(100)</td>
            <td>1078(110)</td>
        </tr>
        <tr>
            <td>Количество и расположение цилиндров</td>
            <td>8, V-образное</td>
            <td>8, V-образное</td>
        </tr>
        <tr>
            <td>Диаметр цилиндра/ход поршня, мм</td>
            <td>120/120</td>
            <td>120/120</td>
        </tr>
        <tr>
            <td>Рабочий объем, л.</td>
            <td>10,85</td>
            <td>10,85</td>
        </tr>
        <tr>
            <td>Степень сжатия</td>
            <td>16</td>
            <td>16,5</td>
        </tr>
        <tr>
            <td>Порядок работы цилиндров</td>
            <td>1-5-4-2-6-3-7-8</td>
            <td>1-5-4-2-6-3-7-8</td>
        </tr>
        <tr>
            <td>Направление вращения по ГОСТ 22836-77</td>
            <td>правое</td>
            <td>правое</td>
        </tr>
        <tr>
            <td>Масса двигателя в комплектности (брутто) по ГОСТ 14846-81,
                кг</td>
            <td>760</td>
            <td>885</td>
        </tr>
        <tr>
            <td>Заправочная емкость системы смазки двигателя, л.</td>
            <td>26</td>
            <td>28</td>
        </tr>
        <tr>
            <td>Емкость системы охлаждения (только двигателя), л</td>
            <td>18</td>
            <td>18</td>
        </tr>
        <tr>
            <td>Модель ТНВД</td>
            <td>337-20 ЯЗДА</td>
            <td>337-71 ЯЗДА</td>
        </tr>
        <tr>
            <td>Форсунка</td>
            <td>273-51</td>
            <td>273-51</td>
        </tr>
        <tr>
            <td>Давление начала впрыскивания, МПа</td>
            <td>21,3-22,5</td>
            <td>21,4-22,4</td>
        </tr>
    </tbody>
</table>


<h3>Технические характеристики двигателя Камаз Евро-2 740.51, 740.50</h3>
<table class="table" style="width:unset;">
    <thead>
        <tr>
            <td>Модель двигателя</td>
            <td>740.51-320</td>
            <td>740.50-360</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Мощность кВт (л.с.)</td>
            <td>235(320)</td>
            <td>265(360)</td>
        </tr>
        <tr>
            <td>Частота вращения коленвала мин&nbsp;-1</td>
            <td>2200</td>
            <td>2200</td>
        </tr>
        <tr>
            <td>Максимальный крутящий момент Нм(кГм)</td>
            <td>1020(104)</td>
            <td>1147(117)</td>
        </tr>
        <tr>
            <td>Количество и расположение цилиндров</td>
            <td>8, V-образное</td>
            <td>8, V-образное</td>
        </tr>
        <tr>
            <td>Диаметр цилиндра/ход поршня, мм</td>
            <td>120/130</td>
            <td>120/130</td>
        </tr>
        <tr>
            <td>Рабочий объем, л.</td>
            <td>11,76</td>
            <td>11,76</td>
        </tr>
        <tr>
            <td>Степень сжатия</td>
            <td>16,5</td>
            <td>16,5</td>
        </tr>
        <tr>
            <td>Порядок работы цилиндров</td>
            <td>1-5-4-2-6-3-7-8</td>
            <td>1-5-4-2-6-3-7-8</td>
        </tr>
        <tr>
            <td>Направление вращения по ГОСТ 22836-77</td>
            <td>правое</td>
            <td>правое</td>
        </tr>
        <tr>
            <td>Масса двигателя в комплектности (брутто) по ГОСТ 14846-81,
                кг</td>
            <td>885</td>
            <td>885</td>
        </tr>
        <tr>
            <td>Заправочная емкость системы смазки двигателя, л.</td>
            <td>28</td>
            <td>28</td>
        </tr>
        <tr>
            <td>Емкость системы охлаждения (только двигателя), л</td>
            <td>18</td>
            <td>18</td>
        </tr>
        <tr>
            <td>Модель ТНВД</td>
            <td>33720-03 ЯЗДА</td>
            <td>33720-04 ЯЗДА</td>
        </tr>
        <tr>
            <td>Форсунка</td>
            <td>27350</td>
            <td>27350</td>
        </tr>
        <tr>
            <td>Давление начала впрыскивания, МПа</td>
            <td>23,34-24,52</td>
            <td>23,34-24,54</td>
        </tr>
    </tbody>
</table>

<h3>Купить двигатель КамАЗ Евро 2 по низкой цене</h3>
<p>
    Двигатель КамАЗ евро 2 продают почти в любом городе России.
    Но на рынке существует большое количество некачественного товара и вместо того, чтобы получить качественный двигатель на КАМАЗ
    , можно купить крашеный контрафакт, неисправный мотор или движок б/у после некачественного капитального ремонта.
    Естественно, что Вам не могут предложить настоящих гарантий на подобный товар.
    Многие недобросовестные продавцы вводят покупателей в заблуждение,
    подсовывая минимальную комплектацию. 
    Перед покупкой двигателя на КамАЗ евро 2 проверьте, что он имеет нужную комплектацию,
     включающую в себя навесное оборудование. Но и укомплектованные двигатели могут иметь разную стоимость - ТНВД Bosсh стоит дороже, чем ТНВД Язда.
</p>
<p>
    Слишком низкая цена на Двигатель на КАМАЗ евро 2  может оказаться приманкой мошенников.
    Избежать этого можно, если выбрать надежного продавца ЧелныАгрегатЦентр, зарекомендовавшего себя уже много лет.
    В небольших городах практически отсутствует конкуренция и устанавливаются высокие цены.
    
</p>
<p></p>
<p></p>
{% include kupite_u_nas.html %}
<p></p>

   <iframe width="1028" height="578" src="https://www.youtube.com/embed/vsaakWH_2Eg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  
<p>Двигатель КамАЗ ЕВРО 2 – надежный, экономичный, высокоэффективный силовой агрегат и в тоже время простой, достаточно
    выпонять выше указанные требования и он никогда не подведёт Вас.</p>
  <p></p>
  
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_03.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_14.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>
  

</div>