---
layout: default
title: Двигатель КамАЗ 65225 - 740, Евро, Cummins
metadesc: Выбор двигателя на самосвал КАМАЗ 65225 Евро 1-5. Модели моторов 740.30 и 740.60. Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
metakeywords: двигатель КамАЗ 65225 740.30-1000400 евро-1 евро-2 евро-3 евро-4 евро-5
h1: Двигатели КамАЗ 65225
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <img src="/assets/img/avto_models/kamaz_65225_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#740.51" class="underline"> 740.51-320 Евро-2-3</a> </td></tr>
        <tr><td> <a href="#740.632" class="underline"> 740.632-400 Евро-3-4</a> </td></tr>
        <tr><td> <a href="#740.37-400" class="underline"> 740.37-400 Евро-4</a> </td></tr>
        
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
        КамАЗ 65225 - магистральный полноприводный седельный тягач с полным приводом. Модель предназначается
        для перевозки массивных грузов по дорогам с разным покрытием.
    </p>
    <p>
        До 2010 года КамАЗ 65225 комплектуются моторами 2 типов:
    </p>
    <p>
        - Двигатель 740.51-320. Силовая установка оборудована промежуточной
        системой охлаждения наддувочного воздуха и турбонаддувом. Агрегат соответствует экологическому классу Евро-3.
        Межремонтный ресурс двигателя КамАЗ 740.51-320 может достигать 1 миллиона километров;
    </p>
    <p>
        - Двигатель КамАЗ 740.63-400. Агрегат имеет схожую схему построения, но выдает 400 л.с. мощности. 
        Максимальный крутящий момент составляет 1764 Нм. Экологический класс мотора КамАЗ 740.63-400 – Евро-3.
    </p>
    <p>
        С 2010 года КамАЗ 65225 оснащается модернизированным дизельным мотором КамАЗ 740.37-400 с системой турбонаддува,
        системой прямого впрыска Common Rail и промежуточным охлаждением воздуха.
    </p>
    </div>
</div>



<!-- Движок 51 ---------------------------------------------------------------->
<div id="740.51"></div>
{% assign page_url = "dvigatel_kamaz_740_51_320_evro2_3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p> 
        Двигатель КАМАЗ 65225 относится к классу экологического стандарта Евро-3. 
        Этот стандарт регулирует качество применяемого топлива и степень выброса вредных веществ в атмосферу.
        Двигатель КАМАЗ евро 3 имеет восемь цилиндров и 11,76 л рабочего объема. 
        Мотор способен выдавать 280 лошадиных сил максимальной мощности при 1300 оборотах в минуту. 
        Степень сжатия в данном агрегате составляет до 16,8.
    </p>

    <p></p>
    <p></p>
    <hr>
</div>


<!-- Движок  ---------------------------------------------------------------->

<div class="col-md-1"></div>
<div class="col-md-10" id="740.632">
    <h3>
            Двигатель КАМАЗ 740.632-400
    </h3>
    <p>
            Дизельный восьмицилиндровый двигатель КАМАЗ 740.632-400 мощностью 400 л.с. экологического стандарта Евро-4, с
            турбонаддувом, ОНВ, электронным управлением и системой топливоподачи типа «Common Rail».
            <br>
            Минимальный удельный расход топлива — 207 г/л.с.*ч. Расход масла на угар — не более 0,1% от расхода топлива. Ресурс —
            450 тыс. км пробега в составе полноприводных автомобилей.
            
    </p>
    <p></p>
    <hr>
</div>

<!-- Движок 37 ---------------------------------------------------------------->
<div class="col-md-1"></div>
<div class="col-md-10" id="740.37">
    <h3>
        Двигатель КАМАЗ 740.37-400
    </h3>
    <p>
        Дизельный 8-цилиндровый двигатель КАМАЗ 740.37 Евро-3 мощностью 400 л.с., с
        турбонаддувом и охладителем наддувочного воздуха (интеркулером) .
    </p>
    <p>
        Минимальный удельный расход топлива — 204 г/л.с.*ч. Расход масла на угар — не более 0,2% от расхода топлива. Ресурс
        — 800 тыс. км пробега в составе магистральных автомобилей.</p>
    <p></p>
    <hr>
</div>



<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  <p>
        
        Благодаря мощному двигателю 400 л.с. седельный тягач КамАЗ-65225 имеет высокие ходовые
        характеристики. Автопоезд с полной массой на уровне 75 т на шоссе способен развивать скорость
        до 80 км/ч. Обеспечивается подъем на склон крутизной 10° (18%).
        <br>
        
  </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_04.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_08.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>

</div>