---
layout: default
title: Двигатель КамАЗ 5320 - 740 Евро
metadesc: Выбор двигателя на тягач КАМАЗ 5320 Евро 3. Модели моторов 740.50 и 740.63 Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
metakeywords: двигатель КамАЗ 5320 740.37 евро-3 евро-4 евро-2
h1: Двигатели на КамАЗ 5320
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <img src="/assets/img/avto_models/kamaz_5320_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#740.10" class="underline"> 740.10-210 </a> </td></tr>
        <tr><td> <a href="#7403.10" class="underline"> 7403.10-260 Турбо </a> </td></tr>
        <tr><td> <a href="#740.11" class="underline"> 740.11-240 Евро-1 </a> </td></tr>
        
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
        КамАЗ 5320 - трёхосный бортовой грузовой автомобиль-тягач с колёсной формулой 6x4,
         выпускавшийся заводом КамАЗ с 1976 г. по 2001 г.
    </p>
    <p>
        На моделях первых годов выпуска были установлены КАМАЗовские атмосферные моторы с индексом 740.10.
    </p>
    <p>
        На более поздних версиях устанавливались моторы КАМАЗ 740.11 и 7403.10 мощностью 240 и 260 л.с. соответственно. 
        Оба дизеля оснащались системой турбонаддува воздуха в цилиндры. 
    </p>
    
    <p>
        На КАМАЗЕ 5320 стоял четырехтактный восьмицилиндровый V-образный дизель от ЯМЗ, имевший рабочий объем 10,85 литра и скорость вращения коленчатого вала 2600 оборотов в минуту. Мощность двигателя КАМАЗ 5320 составляет (применительно к различным модификациям) либо 180, либо 210 лошадиных сил
    </p>
    
    </div>
</div>


<!-- Движок 10 ---------------------------------------------------------------->
<div id="740.10"></div>
{% assign page_url = "dvigatel_kamaz_740_10_210_evro0" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
        Модель силового агрегата КамАЗ-740.10 представляет собой дизельный V-образный 8-цилиндровый двигатель
         рабочим объемом 10,85 литров мощностью 210 лошадиных сил.
         Крутящий момент — 637Н/м при оборотах 1500-1800. Топливные форсунки закрытого типа.
    </p>
    <p>
        Двигатель оснащен восьмисекционным V -образным топливным насосом высокого давления золотникового типа, 
        подкачивающим насосом низкого давления, 
        автоматом регулирования частоты вращения и муфтой опережения топливного впрыска.Силовой агрегат снабжен сухим воздушным фильтром с картонным фильтрующим элементом и индикатором засоренности. Для бесперебойной эксплуатации в условиях низких температур, двигатель может оснащаться предпусковым подогревателем и электрофакельным устройством.
    </p>

    <p></p>
    <hr>
</div>


<!-- Движок турбо ---------------------------------------------------------------->
<div id="7403.10"></div>
{% assign page_url = "dvigatel_kamaz_7403_260_evro0" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
        Главным отличием от предшественника стало добавление турбин, изменение поршневой группы и
        и изменения в системе охлаждения. 
        Модифицированный двигатель позволил извлечь большую мощность и уменьшить расход топлива. 
        Двигатель зарекомендовал себя как неприхотливый в эксплуатации и недорогой в ремонте.
    </p>

    <p></p>
    <p></p>

    <hr>
</div>


<!-- Движок 11 ---------------------------------------------------------------->
<div id="740.11"></div>
{% assign page_url = "dvigatel_kamaz_740_11_240_evro1" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
            Мотор мощностью 210 лошадиных сил, рабочий объем 10,85 литра, диаметр одного цилиндра и ход поршня по 12 см.
            <br>
            В двигателе есть турбонаддув, жидкостное охлаждение, 16-клапанный механизм OHV.
            Средний расход топлива техники составляет 25 литров на каждые 100 км.

    </p>

    <p></p>
    <p></p>

    <hr>
</div>




<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  <p>
    Для КамАЗ-5320 предусмотрен 4-тактный дизель КамАЗ-740.10. Все восемь цилиндров имеют V-образное расположение. Кроме
    того, агрегат оснащен закрытыми форсунками, регулятором частоты вращения с режимами работы, сухим воздушным фильтром с
    индикатором засоренности, а также муфтой опережения впрыска топлива. 
  </p>
  <p>
    КамАЗ-5320 получил трансмиссию, состоящую из двух коробок передач – основной пятиступенчатой МКПП, а также
    двухступенчатого делителя. Такое решение более эффективно по сравнению с обычными регуляторами скоростей. Плюс данной
    системы заключается в наличии дополнительной передней и задней передачи.
  </p>
  <p>
    <strong>Расход топлива</strong>
    Первые версии КамАЗ-5320 отличались высокой прожорливостью и токсичностью даже по меркам 1970-ых годов.
    На 100 км пути средний расход горючего составляет порядка 34 л.
    <br>
    Тягач оборудуется двумя типами топливных баков: на 250 и 175 литров. 
  </p>
        
    <p>
        <strong> Модификации двигателя 5320 </strong>
        740.1000400<br>
        740.1000400-20<br>
        740.1000500<br>
        740.1000500-20<br>
        7403.1000400-70<br>
        
  </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_05.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_13.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>
  

</div>