---
layout: default
title: Двигатель КамАЗ 43253 - Евро 3 и Cummins
metadesc: Выбор двигателя на самосвал КАМАЗ 43253 Евро 3-5. Модели моторов 740.31 740.51 и Cummins 6ISBe. Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
metakeywords: двигатель КамАЗ 43253 740.31 евро-3 евро-4 евро-5
h1: Двигатель на КамАЗ 43253
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <img src="/assets/img/avto_models/kamaz_43253_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#740.11" class="underline"> 740.11-240 Евро-1</a> </td></tr>
        <tr><td> <a href="#740.31" class="underline"> 740.31-240 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.51" class="underline"> 740.51-320 Евро-2-3</a> </td></tr>
        <tr><td> <a href="#6ISBe.300" class="underline"> Cummins 6ISBe 300 Евро-4-5</a> </td></tr>
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
        КамАЗ 43253 - двухосный грузовой автомобиль с колёсной формулой 4х2, выпускает с 2010 года в вариантах «бортовой» и «универсальное шасси».
        Является усовершенствованной модификацией грузовика КамАЗ-4325,
        отличается современной кабиной с пневмоподвеской и дизайном.
            
    </p>
    <p>В начале производства, эти грузовики оснащались силовыми установками эко-класса Евро-2, 
        <a href="#740.31" class="underline b"> КамАЗ 740.31-240> </a> и развивали 240 лошадиных сил.</p>
    <p>Далее начали ставить двигатели <a href="#740.51" class="underline b">КамАЗ-740.51-320</a>, 
        который имел 320 лошадей и вписывался в нормы Евро-3.</p>
        <p>Со стандартом Евро4 и 5, камазовский двигатель <a href="#6ISBe.285" class="underline">Cummins ISB6.7 300</a>
        модернизировали до более строгих нормативов.</p>
    <p>
        Также же есть возможность комплектации компактными и менее мощными 4-х цилиндровыми двигателями Cummins, 
        что, судя по отзывам, позволяет существенно снизить расход.

    </p>
    </div>
</div>


<!-- Движок 11 ---------------------------------------------------------------->
<div id="740.11"></div>
{% assign page_url = "dvigatel_kamaz_740_11_240_evro1" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}


<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
        Первые выпуски КамАЗ 43253 комплектовались дизельным двигателем КАМАЗ-740.11-240, 
        соответствующим требованиям ЕВРО-1,
        который развивал мощность до 240 л.с. при крутящем моменте до 85кг/м. 
        Достичь таких характеристик мотору помогало
        применение турбонаддува. Для использование с таким дизелем была предназначена 10-ступенчатая механическая коробка передач
        в комплекте со сцеплением, имеющим пневмоусилитель.
    </p>

    <p></p>
    <p></p>

    <hr>
</div>



<!-- Движок 31 ---------------------------------------------------------------->
<div id="740.31"></div>
{% assign page_url = "dvigatel_kamaz_740_31_240_evro2" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
            У силового агрегата Евро-2 8 цилиндров, все они имеют размер 120 мм и расположены V-образно в 2 ряда. На каждом цилиндре
            имеется впускной и выпускной клапан. Максимальный крутящий момент составляет 980 Нм. Качественный и надежный двигатель
            КамАЗ 740.31 240, цена которого полностью оправдана, получил вместительный рабочий объем – 10,85 л и высокую степень
            сжатия камеры сгорания – в 16 раз. Мощность мотора составляет 240 лошадиных сил (176 кВт): этого достаточно для
            перевозки тяжеловесных грузов и быстрого разгона даже при движении автомобиля на подъем.
            <br>
            Мотор неприхотлив в работе, оснащен надежным аккумулятором и качественным стартером, полностью адаптирован для эксплуатации в условиях холодного российского климата.
            <br> Купить двигатель КамАЗ 740.31 стоит еще и потому, что данная модель не требует особого ухода.
    </p>

    <p></p>
    <hr>
</div>




<!-- Движок 51 ---------------------------------------------------------------->
<div id="740.51"></div>
{% assign page_url = "dvigatel_kamaz_740_51_320_evro2_3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p> 
        Двигатель КАМАЗ 65116 относится к классу экологического стандарта Евро-3. 
        Этот стандарт регулирует качество применяемого топлива и степень выброса вредных веществ в атмосферу.
        Двигатель КАМАЗ евро 3 имеет восемь цилиндров и 11,76 л рабочего объема. 
        Мотор способен выдавать 280 лошадиных сил максимальной мощности при 1300 оборотах в минуту. 
        Степень сжатия в данном агрегате составляет до 16,8.
    </p>

    <p></p>
    <p></p>
    <hr>
</div>





<!-- Движок cummins  ---------------------------------------------------------------->
<div id="6ISBe.300"></div>
{% assign page_url = "dvigatel_kamminz_6ISBe_300" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
        Двигатель оснащён системой электронного впрыска «CommonRail». 
        За годы производства дизельный мотор был последовательно обновлён с Евро-3 до Евро-4, а затем и до стандартов Евро-5.
    </p>
    <p>
        C этим двигателем КАМАЗ 43253 ставится девяти-ступенчатая коробка передач ZF 9S1310. 
        В CUMMINS 6ISBe 300 установлена топливная аппаратура Bosch Common Rail.
        Она требовательна к качеству топлива, потому важно ставить только оригинальные фильтры.
        Замена фильтра должна происходить каждые 15 тысяч км.
    </p>

    <p></p>
    <p></p>
    <hr>
</div>




<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  <p>
        
    Модель КамАЗ 43253 имеет цельнометаллическую откидную кабину с высокой крышей и пневмоподвеску.
    Тут предусмотрены условия для комфорта водителя: регулируемая рулевая колонка, сиденье,
    антибликовая панель приборов. 
    <br>
  </p>
<p>
    Сборка данных силовых агрегатов производится на совместном предприятии «Камминз-Кама». 
    Рядные «шестёрки» мощностью до 300 л.с., к которым относится и мотор КамАЗ-43253,
     составляют порядка 80 % объёма выпускаемой продукции. 
</p>

<p>
        Двигатель КамАЗ-43253 сочетают с 6-ти ступенчатую МКПП ZF 6S700 с передаточным числом главной передачи 6,53. 
        Она представляет собой шестиступенчатый редуктор, в котором все передачи переднего хода включаются синхронизаторами, 
        а задняя передача – зубчатой муфтой. Высшая передача – повышающая. Максимальный крутящий момент равен 700 Н.м.
        
</p>
  <p>
    <strong>Mодификации двигателей 43253</strong>

    740.11-1000413-20<br>
    740.31-1000300-52<br>
    740.31-1000320<br>
    740.31-1000400-01<br>
    740.31-1000400-18<br>
    740.31-1000400-30<br>
    740.31-1000400-41<br>
    740.31-1000400-52<br>

  </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_05.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_03.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>
</div>