---
layout: default
title: Двигатель КамАЗ Евро 1
metadesc: Выбор двигателя КамАЗ Евро 1 серии 740. Модели моторов 740.11-240 и 740.13-260. Прайс-лист, каталог, описание, характеристики.
metakeywords: двигатель КамАЗ евро-1
h1: Двигатель КамАЗ Евро-1
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <h3 style="padding-top: 0px;">Двигатели Евро-1</h3>
    <table class="table">
        <tr><td> <a href="#740.11" class="underline"> 740.11-240 Евро-1</a> </td></tr>
        <tr><td> <a href="#740.13" class="underline"> 740.13-260 Евро-1</a> </td></tr>
        <!-- <tr><td> <a href="#740.30" class="underline"> 740.30-260 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.50" class="underline"> 740.50-360 Евро-3</a> </td></tr>
        <tr><td> <a href="#740.62" class="underline"> 740.62-280 Евро-3-4</a> </td></tr>
        <tr><td> <a href="#6ISBe.285" class="underline"> Cummins 6ISBe 285 Евро-4-5</a> </td></tr> -->
    </table>
    <img src="/assets/img/avto_models/kamaz_5511_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
</div>
<div class="col-md-9">
    <div class="alert alert-info">
        <p>
            Серия двигателей КАМАЗ Евро-1 включает в себя модели 740.11 и 740.13, объемом 10,85 л., мощностью 240 и 260 лошадиных сил. 
        </p>
        <p>
            Вместе с соответствием нормам Евро-1 двигатели КамАЗ 740.11 и более мощный вариант 740.13 -
            отличаются измененной конструкцией блока цилиндров, топливной аппаратурой с повышенной энергией
            впрыска, распредвалом с оптимизированными фазами газораспределения и новыми системами смазки и
            охлаждения.
        </p>
        <p>
            Силовые агрегаты в комплекте с коробками передач КамАЗ-14 и 15 устанавливались практически на все модели автомобилей КамАЗ: 5297, 53215, 55111, 54115, 4326, 43114, 43118, 43115, 53228, 53229, 43253 и прочие. 
             Двигатели модели 740.11 рассчитаны на эксплуатацию в различных природных, климатических и географических условиях - от пустыни и лесов, до горных районов.
        </p>
               
        
        
        
    </div>
</div>



<!-- Движок 11 ---------------------------------------------------------------->
<div id="740.11"></div>
{% assign page_url = "dvigatel_kamaz_740_11_240_evro1" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
        Первые выпуски КамАЗ 65115 комплектовались дизельным двигателем КАМАЗ-740.11-240, 
        соответствующим требованиям ЕВРО-1,
        который развивал мощность до 240 л.с. при крутящем моменте до 85кг/м. 
        Достичь таких характеристик мотору помогало
        применение турбонаддува. Для использование с таким дизелем была предназначена 10-ступенчатая механическая коробка передач
        в комплекте со сцеплением, имеющим пневмоусилитель.
    </p>
    <p>
            Двигатель КАМАЗ евро 1 оснащался универсальной системой подачи топлива со следующими характеристиками:<br>
            - Насос низкого давления для подачи топлива.<br>
            - ТНВД с регулятором оборотов вращения;<br>
            - Закрытые форсунки с разносторонним распылением;<br>
            
    </p>
    <p></p>
    <p></p>

    <hr>
</div>


<!-- Движок 13 ---------------------------------------------------------------->
<div id="740.13"></div>
{% assign page_url = "dvigatel_kamaz_740_13_260_evro1" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}
<div class="col-md-1"></div>
<div class="col-md-10">
    <!-- <h3>Описание</h3> -->
    <p>
        Двигатель КАМАЗ 65115 740.13 мощностью 260 л.с.
         устанавливался на многие серийные автомобили КамАЗ выпускающиеся до 2006 года 
         и соответствующие экологическому классу Евро1.
    </p>
<p>
        Двигатель на КамАЗ 65115 ценят за его надежность, экономичность,
         низкую стоимость расходных материалов и запасных частей.
</p>
<p>
        Двигатель КамАЗ 740.13 оборудован более производительным ТНВД и отличается увеличением степени сжатия рабочей смеси 
        (17 против 16,5 у предшественника). За счет этих мер прибавилось 20 л.с. мощности и незначительном изменении
         удельного топливного расхода (до 155 г/лс•ч).<br>
        Из других конструктивных новшеств, стоит выделить усиленный блок и молибденовое покрытие гильз цилиндров.
        Кроме грузовиков двигатели серии КамАЗ евро 1 могут служить приводами в автобусах марок ЛиАЗ, ЛАЗ, ПАЗ и НЕФАЗ, а также в
        качестве силовых установок дизельных электростанций.
</p>
    <p></p>
    
    <hr>
</div>





<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  
  <h3>Эксплуатация</h3>
  <p>
        Для бесперебойной работы двигателя следует аккуратно относиться к обслуживанию.
        Выполнение следующих требований поможет двигателю КамАЗ Евро-1 прослужить долго и надежно:
        <br>1. Соблюдать установленную периодичность проведения процедур ТО.
        <br>2. Выполнять правила и требования, изложенные в инструкции по эксплуатации.
        <br>3. Выбирайте надежных поставщиков двигателей и запчастей, нельзя вестись на низкую цену. 
        <br>4. Новый двигатель КамАЗ евро 1 или б/у после капитального ремонта должен пройти соответствующую обкатку.
         От этого зависит качество последующей эксплуатации транспортного средства.
        <br>5. Необходимо заправляться топливом, маслами и смазками, соответствующими требованиям завода-изготовителя.
        <br>Ежедневный осмотр и контроль состояния фильтрующих элементов, надежности крепления трубопроводов,
        поможет продлить эффективную работу в течение всего периода эксплуатации. 
  </p>
  
   <iframe width="1028" height="578" src="https://www.youtube.com/embed/vsaakWH_2Eg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

   <p>
        Двигатель КамАЗ ЕВРО – надежный и экономичный силовой агрегат, использование которого на грузовике
         уменьшает ваших расходов.
   </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>


<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_03.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_11.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>
  

</div>