---
layout: default
title: Двигатель КамАЗ 6522 - 740, Евро, Cummins
metadesc: Выбор двигателя на самосвал КАМАЗ 6522 Евро 1-5. Модели моторов 740.30 и 740.60. Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
metakeywords: двигатель КамАЗ 6522 740.30-1000400 евро-1 евро-2 евро-3 евро-4 евро-5
h1: Двигатели КамАЗ 6522
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <img src="/assets/img/avto_models/kamaz_6522_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        <tr><td> <a href="#740.50" class="underline"> 740.50-360 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.51" class="underline"> 740.51-320 Евро-2</a> </td></tr>
        <tr><td> <a href="#740.63" class=""> 740.63-400 Евро-3</a> </td></tr>
        <tr><td> <a href="#740.632" class="underline"> 740.632-400 Евро-4</a> </td></tr>
        
        <tr><td> <a href="#ISLe.400" class="underline"> Cummins ISLe 400 Евро-5</a> </td></tr>
        
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
            КамАЗ-6522 – мощный самосвал 6х6, хорошо зарекомендовавший себя.
            Модель отличается высокой надежностью и долговечностью, а также простотой в эксплуатации –
             во многом благодаря изученной конструкции, которая проверена временем.
             Самосвал КАМАЗ-6522 имеет привод на все колеса и отличается хорошей проходимостью, что позволяет использовать автомобиль в тяжелых дорожных условиях. 
    </p>
    <p>
        Евро-2: Двигатели КамАЗ-6522 - это российские моторы V8 с рабочим объемом 11.76 литра
            740.50-360 на 360 лошадиных сил и 740.51-320 на 320 сил.
        </p>
        <p>
            Евро-3: Двигатели КамАЗ-6522 - Доработанные V8 моторы 740.63-400, который показывает 400 лошадиных сил.
        </p>
        <p>
            Евро-4 Двигатели КамАЗ-6522 V8 - 740.632-400 c Common Rail. 
        </p>
        <p>
            Евро-5: На КамАЗ 6522 зарубежную 8.9-литровую рядную шестерку Cummins ISLe 400, ее мощность такая же — 400 л.с.
        </p>
 
</div>
</div>


<!-- Движок 50 ---------------------------------------------------------------->
<div id="740.50"></div>
{% assign page_url = "dvigatel_kamaz_740_50_360_evro2_3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p> 
        Двигатель КАМАЗ 6522 относится к классу экологического стандарта Евро-3. 
        Этот стандарт регулирует качество применяемого топлива и степень выброса вредных веществ в атмосферу.
        Двигатель КАМАЗ евро 3 имеет восемь цилиндров и 11,76 л рабочего объема. 
        Мотор способен выдавать 280 лошадиных сил максимальной мощности при 1300 оборотах в минуту. 
        Степень сжатия в данном агрегате составляет до 16,8.
    </p>

    <p></p>
    <p></p>
    <hr>
</div>



<!-- Движок 51 ---------------------------------------------------------------->
<div id="740.51"></div>
{% assign page_url = "dvigatel_kamaz_740_51_320_evro2_3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p> 
        Двигатель КАМАЗ 6520 относится к классу экологического стандарта Евро-3. 
        Этот стандарт регулирует качество применяемого топлива и степень выброса вредных веществ в атмосферу.
        Двигатель КАМАЗ евро 3 имеет восемь цилиндров и 11,76 л рабочего объема. 
        Мотор способен выдавать 280 лошадиных сил максимальной мощности при 1300 оборотах в минуту. 
        Степень сжатия в данном агрегате составляет до 16,8.
    </p>

    <p></p>
    <p></p>
    <hr>
</div>




<!-- Движок  ---------------------------------------------------------------->

<div class="col-md-1"></div>
<div class="col-md-10" id="740.632">
    <h3>
            Двигатель КАМАЗ 740.632-400
    </h3>
    <p>
            Дизельный восьмицилиндровый двигатель КАМАЗ 740.632-400 мощностью 400 л.с. экологического стандарта Евро-4, с
            турбонаддувом, ОНВ, электронным управлением и системой топливоподачи типа «Common Rail».
            <br>
            Минимальный удельный расход топлива — 207 г/л.с.*ч. Расход масла на угар — не более 0,1% от расхода топлива. Ресурс —
            450 тыс. км пробега в составе полноприводных автомобилей.
            
    </p>
    
    <p></p>
    <p></p>
    <hr>
</div>



<div class="col-md-1"></div>
<div class="col-md-10" id="ISLe.400">
    <h3>
            КАМАЗ-6522 Камминз ISLe400 Евро-4
    </h3>
    <p>
            Двигатели Камминз сочетают в себе преимущества легкого и компактного мотора с конструкционной прочностью тяжелых
            двигателей, высокая ремонтопригодность, простота в управлении и работе двигателей делают автомобили Камаз с двигателем
            Камминз (Cummins) незаменимыми в условиях крайнего севера. Еще один плюс - пуск холодного двигателя до -12 гр. без
            средства облегчения.
            <br>
            
    </p>

    <p></p>
    <p></p>
    <hr>
</div>



<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  <p>
        
        Особенностью полноприводного самосвала КамАЗ-6522 является раздаточная короробка фирмы ZF STEYR, импортные карданные
        валы, 16-ступенчатая коробка передач ZF модели 16S151. Кабина КамАЗ-6522 оснащена гидроподъемником.
<br>
Основным покупателем автосамосвалов КАМАЗ-6522 стали предприятия нефтегазового комплекса и других добывающих отраслей.
Применение значительного числа комплектующих ведущих производителей, в частности коробка передач и раздаточная коробка
фирмы ZF (Steyr), мосты Даймлер позволяют увеличить надежность а/м самосвала КАМАЗ-6522 при сохранении ценовых
характеристик на приемлемом уровне. Таким образом, обладая высокими потребительскими свойствами, доступными ценами,
КАМАЗ-6522 имеет хорошие перспективы для применения в различных отраслях экономики.

  </p>
  <p>
    Самосвал разрабатывался для эксплуатации в северных широтах: дополнительный подогрев кабины, 
    универсальная быстрая смена ошиновки с односкатной на двускатную,
     утепленная облицовка и т.д. 
     Не стал исключением и базовый двигатель на КАМАЗ 6522.<br>
    Топливные насосы высокого давления (ТНВД) не имеют электронного управления. 
    Контроль подачи топлива происходит механически — благодаря этому  запуск автомобиля при сильном холоде происходит значительно легче.
  </p>
  <p>
    <strong> Модификации </strong>
    740.50-1000401-91<br> 
    740.51-1000301-24<br>
    740.51-1000301-83<br>
    740.51-1000401-20<br>
    740.51-1000401-21<br>
    740.51-1000401-22<br>
    740.51-1000401-24<br>
    740.51-1000401-81<br>
    740.63-1000400-29<br>
    740.632-1000412-10<br>
    740.632-1000412-11<br>
  </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_08.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_09.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>

</div>