---
layout: default
title: Двигатель КамАЗ 43255 - Евро 3 и Cummins
metadesc: Выбор двигателя на самосвал КАМАЗ 43255 Евро 3-5. Модели моторов 740.31 740.51 и Cummins 6ISBe. Прайс-лист, каталог, описание, характеристики, инструкции и советы эксплуатации.
metakeywords: двигатель КамАЗ 43255 740.31 евро-1 евро-2 евро-3
h1: Двигатель на КамАЗ 43255
h2:
---
<!-- Раздел карточки продукта --------------------------- -->
<div class="col-md-3">
    <img src="/assets/img/avto_models/kamaz_43255_small.jpg"/ style="max-width: 100%; padding-top: 0px;">
    <table class="table">
        
        <tr><td> <a href="#740.31" class="underline"> 740.31-240 Евро-2</a> </td></tr>
        <tr><td> <a href="#6ISBe.210" class="underline"> Cummins 6ISBe 210 Евро-4-5</a> </td></tr>
    </table>
</div>
<div class="col-md-9">
    <div class="alert alert-info">
    <p>
        КамАЗ 43255 - строительный самосвал, предназначенный для эксплуатации в городских условиях. Это двухосный грузовой автомобиль с колёсной формулой 4х2. Модель выпускается на базе
        бортового автомобиля КамАЗ 43253 с 2007 года.
            
    </p>
    
    <p>
            Дизельная силовая установка Cummins 4 ISBe 185 выбрана в качестве «младшей». Агрегат имеет функцию промежуточного
            охлаждения наддувочного воздуха, турбонаддув, систему нейтрализации ОГ и механизм прямого впрыска горючего. Специальная
            конструкция обеспечивает соответствие нормам Евро-3. Агрегатируется данный двигатель с трансмиссией ZF 6S700.
    </p>
        <p>Со стандартом Евро4 и 5, камазовский двигатель <a href="#6ISBe.210" class="underline">Cummins ISB6.7 210</a>
        модернизировали до более строгих нормативов.</p>
    <p>
        Также же есть возможность комплектации компактными и менее мощными 4-х цилиндровыми двигателями Cummins, 
        что, судя по отзывам, позволяет существенно снизить расход.

    </p>
    </div>
</div>


<!-- Движок 51 ---------------------------------------------------------------->
<div id="740.51"></div>
{% assign page_url = "dvigatel_kamaz_740_51_320_evro2_3" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
    {% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p> 
        Двигатель КАМАЗ 65116 относится к классу экологического стандарта Евро-3. 
        Этот стандарт регулирует качество применяемого топлива и степень выброса вредных веществ в атмосферу.
        Двигатель КАМАЗ евро 3 имеет восемь цилиндров и 11,76 л рабочего объема. 
        Мотор способен выдавать 280 лошадиных сил максимальной мощности при 1300 оборотах в минуту. 
        Степень сжатия в данном агрегате составляет до 16,8.
    </p>

    <p></p>
    <p></p>
    <hr>
</div>





<!-- Движок cummins  ---------------------------------------------------------------->
<div id="6ISBe.210"></div>
{% assign page_url = "dvigatel_kamminz_6ISBe_210" %}
{% assign product = site.data.dvigatel | where:"url", page_url | first  %}
{%- if product -%}
{% include card_template_dvigatel.html page_url = page_url  %}
{%- endif -%}

<div class="col-md-1"></div>
<div class="col-md-10">
    <p>
        Двигатель оснащён системой электронного впрыска «CommonRail». 
        За годы производства дизельный мотор был последовательно обновлён с Евро-3 до Евро-4, а затем и до стандартов Евро-5.
    </p>
    <p>
        C этим двигателем КАМАЗ 43255 ставится девяти-ступенчатая коробка передач ZF 9S1310. 
        В CUMMINS 6ISBe установлена топливная аппаратура Bosch Common Rail.
        Она требовательна к качеству топлива, потому важно ставить только оригинальные фильтры.
        Замена фильтра должна происходить каждые 15 тысяч км.
    </p>

    <p></p>
    <p></p>
    <hr>
</div>




<div class="col-md-1">&nbsp;</div>
<div class="col-md-10">
  <p>
        
    Модель КамАЗ 43255 имеет цельнометаллическую откидную кабину с высокой крышей и пневмоподвеску.
    Тут предусмотрены условия для комфорта водителя: регулируемая рулевая колонка, сиденье,
    антибликовая панель приборов. 
    <br>
  </p>
<p>
    Сборка данных силовых агрегатов производится на совместном предприятии «Камминз-Кама». 
    Рядные «шестёрки» мощностью до 300 л.с., к которым относится и мотор КамАЗ-43255,
     составляют порядка 80 % объёма выпускаемой продукции. 
</p>

<p>
        Двигатель КамАЗ-43255 сочетают с 6-ти ступенчатую МКПП ZF 6S700 с передаточным числом главной передачи 6,53. 
        Она представляет собой шестиступенчатый редуктор, в котором все передачи переднего хода включаются синхронизаторами, 
        а задняя передача – зубчатой муфтой. Высшая передача – повышающая. Максимальный крутящий момент равен 700 Н.м.
        
</p>
  <p>
    <strong>Mодификации двигателей 43255</strong>

    740.11-1000413-20<br>
   

  </p>
  <p></p>
  <p></p>
  {% include kupite_u_nas.html %}
<div style="height: 100px;">&nbsp;</div>

<p></p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_11.jpg" alt="Двигатели КамАЗ"/> </p>
  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_13.jpg" alt="Двигатели КамАЗ"/> </p>
  <p></p>

</div>