<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title> Редукторы КамАЗ в городе {{ page.city }} с доставкой | ЧелныАгрегатЦентр </title>
 
  <meta name="description"
    content="Купить редуктор КамАЗ в городе {{ page.city }} с доставкой. Стоимость, характеристики, прайс, зубьев. От надежного поставщика: ООО ЧелныАгрегатЦентр. Адрес пункта выдачи: {{ page.delivery_point }} "/>
  <meta property="og:description"
    content="Купить редуктор КамАЗ в городе {{ page.city }} с доставкой. Стоимость, характеристики, прайс, зубьев. От надежного поставщика: ООО ЧелныАгрегатЦентр. Адрес пункта выдачи: {{ page.delivery_point }} " />
  <meta name="author" content="ЧелныАгрегатЦентр" />
  
  <meta property="og:title" content="Редукторы КамАЗ в городе {{ page.city }} с доставкой | ЧелныАгрегатЦентр" />
  <meta property="twitter:title" content="Двигатели КамАЗ в городе {{ page.city }} с доставкой. Стоимость, характеристики, прайс, зубьев. | ООО ЧелныАгрегатЦентр. Адрес пункта выдачи: {{ page.delivery_point }} " />
  

  <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(53142505, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/53142505" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

  <!--title icon-->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!--Avesome icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <!-- Icon -->
  <link rel="stylesheet" href="/assets/fonts/line-icons.css">
  <!-- Owl carousel -->
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/owl.theme.css">

  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/nivo-lightbox.css">
  <!-- Animate -->
  <link rel="stylesheet" href="/assets/css/animate.css">
  <!-- Main Style -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" href="/assets/css/responsive.css">
  <!--Yandex-->
  <meta name="yandex-verification" content="7a3cb0749a9dcd69" />

  <script src="/assets/js/jquery-min.js"></script>
  <script src="/assets/js/handlebars.min-v4.7.6.js"></script>
  <script>var submitted;</script>
</head>

<body>

  <!-- Header Area wrapper Starts -->
  <header id="header-wrap">
    <div class="head h-100">
      <div class="head__inner h-100">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a href="/" class="navbar-brand" style="display: contents; max-width:60%;">ЧЕЛНЫ АГРЕГАТ ЦЕНТР</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix" id="top-submenu">
                <li class="nav-item">
                  <a class="nav-link" href="javascript:" onclick="$('html, body').animate({ scrollTop: 0}, 600);" >
                    Начало
                  </a>
                </li>
                <!-- задняя часть меню подгружается  -->
                {% include top-submenu.html %}
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar End -->

        <!-- Hero Area Start -->
        
        <div id="hero-area" class="hero-area-bg ">
          <div class="container w-100">
            <div class="row">
              <div class="col-md-10">
                <div class="contents">
                  <ul>
                    <li style="">
                      <h1 class="title text-left w-100" style="font-size:1.7em;"> Редукторы КамАЗ в городе {{ page.city }} </h1>
                    </li>
                    <style>
                    #hero-area .title a {
                      color: #a4cfff;
                      }
                    </style>
                    <li style="margin-bottom:0px;">
                        <p class="title text-left w-100"> 
                            &nbsp; <i class="lni-check-mark-circle"></i> &nbsp; <a href="/dvigatel_kamaz.html"> Двигатели </a>
                            &nbsp; <i class="lni-check-mark-circle"></i> &nbsp; <a href="/korobka_peredach_kpp_kamaz.html"> Коробки передач КПП </a>
                            &nbsp; <i class="lni-check-mark-circle"></i> &nbsp; <a href="/reductor_kamaz.html"> Редукторы </a>
                            &nbsp; <i class="lni-check-mark-circle"></i> &nbsp; <a href="/cabiny_kamaz.html"> Кабины </a>
                            &nbsp; <i class="lni-check-mark-circle"></i> &nbsp; <a href="/zapchasti_dvigatel_kamaz.html"> Запчасти КамАЗ </a> </p>
                      </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-2">
                <br /><br />
                <a class="btn btn-primary btn-xl" href="/">
                  Запросить предложение
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero Area End -->
  </header>
  <!-- Header Area wrapper End -->

  <style>
   
    #articles h2,
    #articles h3 {
      padding-top: 35px;
    }

    #articles p,
    #articles div,
    #articles li {
      font-size: 18px;
      padding-top: 12px;
    }
    .about-area div {
      font-size: 22px !important;
      padding-top: unset;
    }
    
    #articles img {
      padding: 20px;
      align-content: center;
      text-align: center;
    }
    #articles strong {
      color: rgb(0, 0, 59);
      
    }
    
  </style>

  <section id="articles">
    <!-- class="section-padding"-->

    <div class="container">
      <div class="section-header text-center">
        <h2 class="section-title" style="font-size:1.5em !important;"> Поставим редуктор КамАЗ в город {{ page.city }}. </h2>
        <div class="shape wow fadeInDown"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 ">
          <!-- Services item -->

        
          <div class="">
            <!-- Каталлог редукторов -->
                
            <div class="row" id="models_container">
                {% for item in site.data.reductor %}
                <div class="engine col-md-3 col-xs-6">
                  <a href="/kamaz-inf/reduktor/{{item.url}}.html">
                    <img src="/assets/img/reductor/{{item.img}}" alt="{{item.name}}" class="img-thumbnail"
                      style="object-fit: cover;width: 100%;height: 150px;padding: 0px" />
                    <div style="font-size: 13px;line-height: 15px; padding-top:4px; ">{{item.name}}<br>({{item.model}})
                    </div>
                  </a>
              
                </div>
                {% endfor %}
              
              
              </div>
          

            <table class="table w-100">
              <tr>
                <td><i class="lni-check-mark-circle"></i></td>
                <td> Перед оплатой Вы сможете осмотреть и проверить редуктор на пункте доставки по адресу:<strong> {{ page.delivery_point }}</strong></td>
              </tr>
              <tr>
                  <td><i class="lni-check-mark-circle"></i></td>
                  <td> Обычно доставка агрегата занимает {{ page.delivery_days }} </td>
                </tr>
                <tr>
                    <td><i class="lni-check-mark-circle"></i></td>
                    <td> Стоимость доставки редуктора до города {{ page.city }} - уточняйте у наших менеджеров. </td>
                  </tr>
            </table>
        
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Для заказа необходимо :</strong></p>

              <table class="table w-100">
                  <tr>
                    <td><i class="lni-check-mark-circle"></i></td>
                    <td> Позвонить по телефону <strong><a href="tel:+78552783500" class="color_unset" >(8552) 78-35-00</a></strong> <br>
                      при это Вам следует уточнить: модель редутора, модель автомобиля и год выпуска.
                    </td>
                  </tr>
                  <tr>
                      <td><i class="lni-check-mark-circle"></i></td>
                      <td> Прислать реквизиты на электронную почту <span><a href="mailto:agregat-16@yandex.ru">agregat-16@yandex.ru</a></span>. </td>
                    </tr>
                    <tr>
                        <td><i class="lni-check-mark-circle"></i></td>
                        <td> Продажа оформляется подписанием договора купли-продажи. Вносится предоплата. </td>
                      </tr>
                      <tr>
                          <td><i class="lni-check-mark-circle"></i></td>
                          <td> Доставка осуществляется транспортными перевозчиками, либо нашими силами. <br>После осмотра, вы производите оплату и получаете товар.</td>
                        </tr>
                </table>

              
                <p>Выбрать и уточнить цены на редукторы КамАЗ можно в каталоге:</p>
              <p><a href="/reductor_kamaz.html#pricing" class="btn btn-primary">перейти к прайсу</a></p>
              <hr>
              <p>
              </p>

              <div class="clearfix margin ">
            
              
              
            
              </div>
          
              <p> <img src="/assets/img/reductor/kamaz_reductor_01.jpg" alt="Редукторы КамАЗ"/> </p>

              <div class="content" style="padding-top:1em;">
                  <div class="blog-lg-area-left">
                    <p style="">«ЧелныАгрегатЦентр» более десяти лет
                      специализируется на оптовой торговле агрегатами, редукторами и запасными частями для автомобилей КАМАЗ,
                      а также поставке запчастей в магазины и автотранспортные предприятия.</p>
                
                  </div>
                </div>

              <div class="about-area text-center" style="padding:25px 10px;">
                  <div class="row">
                      <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                          <i class="lni-map"></i>
                          <!-- <img src="assets/img/feature/percent_big.png"> --> 
                          Наличие 
                        в Москве и Наб.Челнах</div>
                    <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                        <i class="lni-medall"></i>
                        <!-- <img src="assets/img/feature/warranty.png"></i> -->
                        Гарантия на все агрегаты</div>
                    <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                        <i class="lni-users"></i>
                      <!-- <img src="assets/img/feature/customer.png"> -->
                      4 тысячи <br> клиентов</div>
                    <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                        <i class="lni-delivery"></i>
                      <!-- <img src="assets/img//feature/delivery.png"> -->
                      Доставка по всей России</div>
                  </div>
                </div>
    
              <p><br></p>
              <p><br></p>
              


              <h3>Технические характеристики</h3>
              
            <p>Редуктор — это устройство, которое служит для механической передачи крутящего момента коленчатого вала.</p>
            <p>Основная характеристика редуктора — передаточное число, это отношение числа зубьев ведомой шестерни к числу зубьев
              ведущей шестерни. Редукторы КАМАЗ выпускаются со следующими передаточными числами: 4.98, 5.11, 5.43, 5.55,
              5.94, 6.33, 6.53, 6.88, 7.22. Чем больше передаточное число, тем больше «тянет» автомобиль: так, для горной
              местности рекомендуют использовать редуктор с числом 7.22, для равнинной - 5.94, для пересеченной - 6.53. Для
              автомобилей без прицепов с числом 6.53, 5.94 и 5.43.</p>
  

              <p><br><br></p>
              <p>У нас Вы можете купить <a
                  href="/reductor_kamaz.html"><span style="text-decoration: underline;">редуктор КАМАЗ c доставкой в город
                      {{ page.city }}</span></a> на выгодных условиях.</p>

          </div>
          </div>
      </div>
      
    </div>
  </section>

  
  {% include advantages.html %}
  {% include napravlenia.html %}
  
  {% include contacts.html %}
  {% include footer.html %}

  
  <!-- Go to Top Link -->
  <a href="#" class="back-to-top">
    <i class="lni-arrow-up"></i>
  </a>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/wow.js"></script>
  <script src="/assets/js/jquery.nav.js"></script>
  <script src="/assets/js/scrolling-nav.js"></script>
  <script src="/assets/js/jquery.easing.min.js"></script>
  <script src="/assets/js/jquery.counterup.min.js"></script>
  <script src="/assets/js/waypoints.min.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/typeahead.bundle.min.js"></script>


  
  
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
    m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
      m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(53142505, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
      trackHash: true
    });
  </script>
  <noscript> <div><img src="https://mc.yandex.ru/watch/53142505" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->

</body>
</html>












