<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title> Двигатели КамАЗ в городе {{ page.city }} с доставкой - ЧелныАгрегатЦентр </title>
 
  <meta name="description"
    content="Купить двигатели и агрегаты КамАЗ в городе {{ page.city }} с доставкой от 2 дней. От надежного поставщика: ООО ЧелныАгрегатЦентр. Адрес пункта выдачи: {{ page.delivery_point }}."/>
  <meta property="og:description"
    content="Купить двигатели и агрегаты КамАЗ в городе {{ page.city }} с доставкой от 2 дней. От надежного поставщика: ООО ЧелныАгрегатЦентр. Адрес пункта выдачи: {{ page.delivery_point }}." />
  <meta name="author" content="ЧелныАгрегатЦентр" />
  
  <meta property="og:title" content="Двигатели КамАЗ в городе {{ page.city }} с доставкой - ЧелныАгрегатЦентр" />
  <meta property="twitter:title" content="Двигатели КамАЗ в городе {{ page.city }} с доставкой - ЧелныАгрегатЦентр. Адрес пункта выдачи: {{ page.delivery_point }}." />
  
  <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(53142505, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/53142505" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

  <!--title icon-->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!--Avesome icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <!-- Icon -->
  <link rel="stylesheet" href="/assets/fonts/line-icons.css">
  <!-- Owl carousel -->
  <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/css/owl.theme.css">

  <link rel="stylesheet" href="/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="/assets/css/nivo-lightbox.css">
  <!-- Animate -->
  <link rel="stylesheet" href="/assets/css/animate.css">
  <!-- Main Style -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" href="/assets/css/responsive.css">
  <!--Yandex-->
  <meta name="yandex-verification" content="7a3cb0749a9dcd69" />

  <script src="/assets/js/jquery-min.js"></script>
  <script src="/assets/js/handlebars-v4.1.1.js"></script>
  <script>var submitted;</script>
</head>

<body>

  <!-- Header Area wrapper Starts -->
  <header id="header-wrap">
    <div class="head h-100">
      <div class="head__inner h-100">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a href="/" class="navbar-brand" style="display: contents; max-width:60%;">ЧЕЛНЫ АГРЕГАТ ЦЕНТР</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix" id="top-submenu">
                <li class="nav-item">
                  <a class="nav-link" href="javascript:" onclick="$('html, body').animate({ scrollTop: 0}, 600);" >
                    Начало
                  </a>
                </li>
                <!-- задняя часть меню подгружается  -->
                {% include top-submenu.html %}
              </ul>
            </div>
          </div>
        </nav>
        <!-- Navbar End -->

        <!-- Hero Area Start -->
        
        <div id="hero-area" class="hero-area-bg ">
          <div class="container w-100">
            <div class="row">
              <div class="col-md-10">
                <div class="contents">
                  <ul>
                    <li >
                      <h1 class="title text-left w-100" style="font-size:1.7em;"> Двигатели КамАЗ в городе {{ page.city }} </h1>
                    </li>
                    <style>
                    #hero-area .title a {
                      color: #a4cfff;
                      }
                    </style>
                    <li style="margin-bottom:0px;">
                        <p class="title text-left w-100"> 
                            &nbsp; <i class="lni-check-mark-circle"></i> &nbsp; <a href="/korobka_peredach_kpp_kamaz.html"> Коробки передач КПП </a>
                            &nbsp; <i class="lni-check-mark-circle"></i> &nbsp; <a href="/reductor_kamaz.html"> Редукторы </a>
                            &nbsp; <i class="lni-check-mark-circle"></i> &nbsp; <a href="/cabiny_kamaz.html"> Кабины </a>
                            &nbsp; <i class="lni-check-mark-circle"></i> &nbsp; <a href="/zapchasti_dvigatel_kamaz.html"> Запчасти к двигателям КамАЗ </a> </p>
                      </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-2">
                <br /><br />
                <a class="btn btn-primary btn-xl" href="/">
                  Запросить предложение
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Hero Area End -->
  </header>
  <!-- Header Area wrapper End -->

  <style>
   
    #articles h2,
    #articles h3 {
      padding-top: 35px;
    }

    #articles p,
    #articles div,
    #articles li {
      font-size: 18px;
      padding-top: 12px;
    }
    .about-area div {
      font-size: 22px !important;
      padding-top: unset;
    }
    
    #articles img {
      padding: 20px;
      align-content: center;
      text-align: center;
    }
    #articles strong {
      color: rgb(0, 0, 59);
      
    }
    
  </style>

  <section id="articles">
    <!-- class="section-padding"-->

    <div class="container">
      <div class="section-header text-center">
        <h2 class="section-title" style="font-size:1.5em !important;"> Поставляем двигатели и агрегаты КамАЗ в город {{ page.city }}. </h2>
        <div class="shape wow fadeInDown"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 ">
          <!-- Services item -->

        
          <div class="">
          
                <!-- Каталлог движков -->
                        
                <div class="row" id="models_container">
                    {% for item in site.data.dvigatel %}
                    <div class="engine col-md-3 col-xs-6">
                        <a href="/kamaz-inf/motor/{{item.url}}.html">
                          <img src="/assets/img/dvigatels/{{item.img}}" alt="{{item.name}}"
                            class="img-thumbnail" style="object-fit: cover;width: 100%;height: 150px;padding: 0px" />
                          <div style="font-size: 13px;line-height: 15px; padding-top:4px; ">{{item.name}}<br>({{item.eco}},{{item.power}})</div>
                        </a>
                      
                    </div>
                  {% endfor %}

                </div>
          

            <table class="table w-100">
              <tr>
                <td><i class="lni-check-mark-circle"></i></td>
                <td> Перед оплатой Вы сможете осмотреть и проверить двигатель на пункте доставки по адресу:<strong> {{ page.delivery_point }}</strong></td>
              </tr>
              <tr>
                  <td><i class="lni-check-mark-circle"></i></td>
                  <td> Обычно доставка агрегата занимает {{ page.delivery_days }} </td>
                </tr>
                <tr>
                    <td><i class="lni-check-mark-circle"></i></td>
                    <td> Доставка до города {{ page.city }} – входит в стоимость. Подробности уточняйте у наших менеджеров. </td>
                  </tr>
            </table>
        
              <p><strong>Для заказа необходимо :</strong></p>

              <table class="table w-100">
                  <tr>
                    <td><i class="lni-check-mark-circle"></i></td>
                    <td> Позвонить по телефону <strong><a href="tel:+78552443713" class="color_unset" >(8552) 44-37-13, 44-37-13</a></strong> <br>
                      при это Вам следует уточнить:  - модель мотора, класс экологии Евро, мощность, топливную систему, модель автомобиля и год выпуска.
                    </td>
                  </tr>
                  <tr>
                      <td><i class="lni-check-mark-circle"></i></td>
                      <td> Прислать реквизиты на электронную почту <span><a href="mailto:agregat-16@yandex.ru">agregat-16@yandex.ru</a></span>. </td>
                    </tr>
                    <tr>
                        <td><i class="lni-check-mark-circle"></i></td>
                        <td> Продажа оформляется подписанием договора купли-продажи. Вносится предоплата. </td>
                      </tr>
                      <tr>
                          <td><i class="lni-check-mark-circle"></i></td>
                          <td> Доставка осуществляется транспортными перевозчиками, либо нашими силами. <br>После осмотра, вы производите оплату и получаете товар.</td>
                        </tr>
                </table>

              
                </div>
            
                <p><br></p>
                <p><br></p>

              <p>Выбрать и уточнить цены на двигатели и другие агрегаты КамАЗ можно в каталоге:</p>
              <p><a href="/dvigatel_kamaz.html#pricing" class="btn btn-primary">перейти к прайсу</a></p>
              <hr>
              <p>
              </p>

              <div class="clearfix margin ">
            
          

              <div class="content" style="padding-top:1em;">
                  <div class="blog-lg-area-left">
                    <p>«ЧелныАгрегатЦентр» более десяти лет
                      специализируется на оптовой
                      торговле запасными частями и комплектующими для автомобилей КАМАЗ, а также поставке запчастей в
                      магазины и автотранспортные предприятия.</p>
                
                  </div>
                </div>

              <div class="about-area text-center" style="padding:25px 10px;">
                  <div class="row">
                      <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                          <i class="lni-map"></i>
                          <!-- <img src="assets/img/feature/percent_big.png"> --> 
                          Наличие 
                        в Москве и Наб.Челнах</div>
                    <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                        <i class="lni-medall"></i>
                        <!-- <img src="assets/img/feature/warranty.png"></i> -->
                        Гарантия на все агрегаты</div>
                    <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                        <i class="lni-users"></i>
                      <!-- <img src="assets/img/feature/customer.png"> -->
                      4 тысячи <br> клиентов</div>
                    <div class="col-lg-3 col-md-4 col-xs-12 priemyshestva">
                        <i class="lni-delivery"></i>
                      <!-- <img src="assets/img//feature/delivery.png"> -->
                      Доставка по всей России</div>
                  </div>
                </div>
    
              <p><br></p>
              <p><br></p>

              <h3>Применяемость на технику</h3>
              <p><br></p>
              <table class="table mx-auto">
                  <tbody>
                    <tr>
                      <th colspan="2">Двигатель</th>
                      <th>Мощность, л.с.</th>
                      <th>Макс. крут. момент, кгс.м</th>
                      <th>Применяемость</th>
                      </tr>
                    <tr>
                      <th rowspan="3">ЕВРО-0</th>
                      <td style="min-width:120px;"><a href="/dvigatel_kamaz.html#pricing"">740.10</a></td>
                      <td><div>210</div></td>
                      <td><div>68</div></td>
                      <td>КАМАЗ-5320, 53212, 53213, 55111, 5410, 54112, 4326, 43101, 43114, 43106, 43115</td>
                      </tr>
                    <tr>
                      <td><a href="/dvigatel_kamaz.html#pricing">7403.10</a></td>
                      <td><div>260</div></td>
                      <td><div>80</div></td>
                      <td>КАМАЗ-5320, 53212, 53213, 55111, 5410, 54112, 4326, 43101, 43114, 43106, 43115, 53228, 54229, 43118, 43253</td>
                      </tr>
                    <tr>
                      <td>740.14-300</td>
                      <td><div>300</div></td>
                      <td><div>97</div></td>
                      <td>КАМАЗ-53212, 43353, 53229, 65115</td>
                      </tr>
                    <tr>
                      <td colspan="5" height="1">&nbsp;</td>
                      </tr>
                    <tr>
                      <th rowspan="3">ЕВРО-1</th>
                      <td><a href="/dvigatel_kamaz.html#pricing">740.11-240</a></td>
                      <td><div>240</div></td>
                      <td><div>85</div></td>
                      <td>Автобусное шасси КАМАЗ-5297</td>
                      </tr>
                    <tr>
                      <td><a href="/dvigatel_kamaz.html#pricing">740.11-240</a></td>
                      <td><div>240</div></td>
                      <td><div>85</div></td>
                      <td rowspan="2">КАМАЗ-53215, 55111, 54115, 4326, 43114, 43118, 43115, 53228,53229, 43253</td>
                      </tr>
                    <tr>
                      <td><a href="/dvigatel_kamaz.html#pricing">740.13-260</a></td>
                      <td><div>260</div></td>
                      <td><div>95</div></td>
                      </tr>
                    <tr>
                      <td colspan="5">&nbsp;</td>
                      </tr>
                    <tr>
                      <th rowspan="6"><a href="/dvigatel_kamaz.html#pricing">ЕВРО-2</a></th>
                      <td><a href="/dvigatel_kamaz.html#pricing">740.50-360</a></td>
                      <td><div>360</div></td>
                      <td><div>150</div></td>
                      <td>КАМАЗ-5460, 5360, 6460, 6350</td>
                      </tr>
                    <tr>
                      <td><a href="/dvigatel_kamaz.html#pricing">740.51-320</a></td>
                      <td><div>320</div></td>
                      <td><div>130</div></td>
                      <td>КАМАЗ-6520, 6522</td>
                      </tr>
                    <tr>
                      <td><a href="/dvigatel_kamaz.html#pricing">740.30-260</a></td>
                      <td><div>260</div></td>
                      <td><div>110</div></td>
                      <td rowspan="3">КАМАЗ-65115, 65116, 65117, 6540, 4326, 43114, 43118, 53215, 55111, 54115, 43115, 53228, 53229, 43253</td>
                      </tr>
                    <tr>
                      <td>740.53-290</td>
                      <td><div>290</div></td>
                      <td><div>120</div></td>
                      </tr>
                    <tr>
                      <td>740.52-260</td>
                      <td><div>260</div></td>
                      <td><div>110</div></td>
                      </tr>
                    <tr>
                      <td><a href="/dvigatel_kamaz.html#pricing">740.30-260</a></td>
                      <td><div>260</div></td>
                      <td><div>110</div></td>
                      <td>Автобусное шасси КАМАЗ-52972</td>
                      </tr>
                    </tbody>
                </table>
              
                <p></p>
                <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_04.jpg" alt="Двигатели КамАЗ"/> </p>
                <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_09.jpg" alt="Двигатели КамАЗ"/> </p>
                <p></p>
                
              <h3>Технические характеристики</h3>
              <p>Одной из самых распространённых моделей является двигатель КамАЗ 740. Он завоевал популярность из-за своих
                  достоинств:<br>- применяется в различных атмосферных и климатических условиях<br>- имеет небольшую массу и габаритные размеры<br>- высокая степень сжатия<br>- высокая мощностью<br>- экономичен в
                  использовании.<br>- Прост в обслуживании </p>
                <p>Цилиндры установлены в два ряда под 90 градусов друг к другу, V-образно.
                Двигатель комплектуется мощным электростартером, шатунно-кривошипным механизмом газораспределения, 
                коробкой передач, системами охлаждения жидкостей, смазки, питания, пусковым нагревателем.
                <p>В зависимости поколения и от года производства двигатели КамАЗ-740 имеют различные экологические нормы:
                  от Евро-0 до Евро-5.</p>
              
                  <h3>Моторы Евро-2 | 740.51-320 и 740.50-360</h3>
           
                  <table  class="table" style="max-width: 800px;">
                    <colgroup>
                      <col>
                      <col>
                    </colgroup>
                    <tbody>
                      <tr>
                        <td>Наименование</td>
                        <td>Характеристика</td>
                      </tr>
                      <tr>
                        <td>Мощность</td>
                        <td>235 кВт. для 320 и 265 кВт. для 360</td>
                      </tr>
                      <tr>
                        <td>Количество цилиндров</td>
                        <td>8</td>
                      </tr>
                      <tr>
                        <td>Количество головок</td>
                        <td>8</td>
                      </tr>
                      <tr>
                        <td>Количество клапанов</td>
                        <td>16</td>
                      </tr>
                      <tr>
                        <td>Охлаждение</td>
                        <td>Жидкостное</td>
                      </tr>
                      <tr>
                        <td>Объем</td>
                        <td>10,85 (10 850 см3)</td>
                      </tr>
                      <tr>
                        <td>Система подачи питания</td>
                        <td>ТНВД 337-20-03 ЯЗДА или 337-20-04 ЯЗДА</td>
                      </tr>
                      <tr>
                        <td>Порядок работы цилиндров</td>
                        <td>1-5-4-2-6-3-7-8</td>
                      </tr>
                    </tbody>
                  </table>
                  <p><img class="" 
                      src="/assets/img/dvigatels/740.50-400.jpg" alt="Двигатель КамАЗ-740.51-320" 
                      style="max-width:540px;"></p>
                  <p></p>
                  <p></p>
                  <h3>Моторы Евро-4 | 740.70 и модификации</h3>
                  <table  class="table" style="max-width: 800px;">
                    <colgroup>
                      <col>
                      <col>
                    </colgroup>
                    <tbody>
                      <tr>
                        <td>Наименование</td>
                        <td>Характеристика</td>
                      </tr>
                      <tr>
                        <td>Мощность</td>
                        <td>280–420 л. с.</td>
                      </tr>
                      <tr>
                        <td>Количество цилиндров</td>
                        <td>8</td>
                      </tr>
                      <tr>
                        <td>Количество головок</td>
                        <td>8</td>
                      </tr>
                      <tr>
                        <td>Количество клапанов</td>
                        <td>16</td>
                      </tr>
                      <tr>
                        <td>Охлаждение</td>
                        <td>Жидкостное</td>
                      </tr>
                      <tr>
                        <td>Объем</td>
                        <td>11,67 (11 670 см3)</td>
                      </tr>
                      <tr>
                        <td>Система подачи питания</td>
                        <td>ТНВД 337-20-03 ЯЗДА или 337-20-04 ЯЗДА</td>
                      </tr>
                      <tr>
                        <td>Порядок работы цилиндров</td>
                        <td>1-5-4-2-6-3-7-8</td>
                      </tr>
                    </tbody>
                  </table>

                  <p></p>
                  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_02.jpg" alt="Двигатели КамАЗ"/> </p>
                  <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_05.jpg" alt="Двигатели КамАЗ"/> </p>
                  <p></p>
                  
                
              <strong>История</strong>
              <p>Камский автомобильный завод, или КамАЗ заложен в 1969 году с целью расширения парка грузовых автомобилей в
                СССР. 16 февраля 1976 года с контейнера сошёл первый грузовик. 
                С того времени было выпущено более 2 миллиона автомобилей и
                около 2,9 миллиона двигателей, которые эксплуатируются в более 80 странах мира.</p>
              
                  
              
              
              <strong>Гарантия и надежность</strong>
              <p>В данный момент нет достойных конкурентов автомобилям и двигателям от Камского завода, они прочно удерживают свои рыночные ниши.
                Двигатели КамАЗ зарекомендовали надёжными, экономичными и долговечными агрегатами. При этом 
                надо помнить, что на срок службы сильно влияют:<br>- качество топлива, <br>- манера вождения,<br>-
                регулярная техническое обслуживание.</p>
              
              

              <p><br><br></p>
              <p>У нас вы можете купить <a
                  href="/dvigatel_kamaz.html"><span style="text-decoration: underline;">двигатель КАМАЗ в городе
                      {{ page.city }}</span></a> c доставкой на выгодных условиях.</p>


          </div>
          
          <p></p>
          <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_14.jpg" alt="Двигатели КамАЗ"/> </p>
          <p> <img src="/assets/img/dvigatels/new/kamaz_dvigatel_10.jpg" alt="Двигатели КамАЗ"/> </p>
          <p></p>
          
          </div>

      </div>
    </div>
  </section>


  {% include napravlenia.html %}
  
  {% include contacts.html %}
  {% include footer.html %}


  <!-- Footer Section End -->

  <!-- Go to Top Link -->
  <a href="#" class="back-to-top">
    <i class="lni-arrow-up"></i>
  </a>


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/wow.js"></script>
  <script src="/assets/js/jquery.nav.js"></script>
  <script src="/assets/js/scrolling-nav.js"></script>
  <script src="/assets/js/jquery.easing.min.js"></script>
  <script src="/assets/js/jquery.counterup.min.js"></script>
  <script src="/assets/js/waypoints.min.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/typeahead.bundle.min.js"></script>


</body>

</html>












